//
// Core Variables
//

//
// Core properties used across the app.

$core: (
    options:(
        flex: true
    ),
    grid: (
        columns: 12,
        breakpoints: (
            xs: 0,
            sm: 375px,
            md: 768px,
            lg: 1024px,
            xl: 1200px
        ),
        gutters: (
            xs: 10px,
            sm: 12px,
            md: 18px,
            lg: 20px,
            xl: 20px
        )
    ),
    container: (
        max-widths: (
            sm: 576px,
            md: 720px,
            lg: 940px,
            xl: 1140px
        )
    ),
    spacer: (x:rem(16px), y:rem(25px)),
    border: (
        width: 1px,
        radius: (
            base: rem(4px),
            small: rem(3px),
            large: rem(5px)
        ),
        radius-enabled:true
    ),
    padding: rem(20px),
    margins: rem(20px),
    caret: (
        icon: (
            arrow-forward: 'dls-icon-right-filled'
        )
    ),
    z-index: (
        dropdown: 98,
        tooltip: 99,
        modal: 201
    ),
    shadows: (
        level1: 0 1px 1px 0 rgba(0, 0, 0, .1),
        level2: 0 5px 10px 0px rgba(0, 0, 0, .1),
        level3: 0 13px 26px 0px rgba(0, 0, 0, .1)
    ),
    glyph: (
        sizes: (
            base: rem(20px)
        )
    ),
    icon: (
        sizes: (
            base: rem(14px),
            sm: rem(11px),
            lg: rem(24px),
            xl: rem(41px)
        )
    ),

    //
    // Color Table
    //
    colors: (
        // Primary
        dls-core-blue-01: #002663,
        dls-accent-blue-02: #1274b8,
        dls-accent-blue-02-hover: #1068a5,
        dls-accent-blue-02-active: #0f6099,
        dls-core-blue-03: #3ea8e5,

        // Secondary
        dls-accent-white-01: #fff,
        dls-accent-white-01-hover: #e5e5e5,
        dls-accent-white-01-active: #d4d4d4,
        dls-accent-gray-01: #f7f8f9,
        dls-accent-gray-02: #ededed,
        dls-accent-gray-03: #ccc,
        dls-accent-gray-04: #999,
        dls-accent-gray-05: #555,
        dls-accent-gray-06: #333,
        dls-accent-green-01: #009d78,
        dls-accent-red-01: #df3f0c,
        dls-accent-red-02: #B42C01,

        // Spending Trends
        dls-trend-blue-01: #3883a2,
        dls-trend-blue-02: #64bfd3,
        dls-trend-teal-01: #35c4b5,
        dls-trend-green-01: #008566,
        dls-trend-green-02: #98cd58,
        dls-trend-yellow: #f2af00,
        dls-trend-yellow-02: #ce8e00,
        dls-trend-orange-01: #ed5929,
        dls-trend-pink-01: #e95959,
        dls-trend-purple-01: #9158a8,

        // Membership Rewards
        dls-rewards-blue-01: #0C668C,
        dls-rewards-blue-02: #82D2E5,
        dls-rewards-green-01: #00703C,
        dls-rewards-green-02: #47AA42,
        dls-rewards-green-03: #B3D88C,

        // Cards
        dls-card-blue: #1d3f77,
        dls-card-everyday: #6991af,
        dls-card-cobrand: #34393c,
        dls-card-spg: #5f487a,
        dls-card-green: #308d5f,
        dls-card-gold: #b67628,
        dls-card-platinum: #8e9da9,
        dls-card-plum: #5a1326,
        dls-card-general: #ccc,
        dls-card-centurion: #2b2a28,

        // Fico
        dls-fico-excellent: #005F2D,
        dls-fico-very-good: #499E2E,
        dls-fico-good: #EF8A08,
        dls-fico-not-good: #D8560D,
        dls-fico-poor: #A14407,

        //cobrand
        dls-cobrand-delta: #e84445,
        dls-cobrand-starwood: #7C209A,
        dls-cobrand-bluesky: #1790C5,
        dls-cobrand-hilton: #BC9D5E,
        dls-cobrand-lowes: #004890,
        dls-cobrand-default: #43A34C,
        dls-cobrand-schwab: #00A3E0,
        dls-cobrand-plenti: #273691
    ),
    //
    // Typography Configuration
    //
    typography: (
        font-family: #{"Helvetica Neue", "Helvetica", Arial, sans-serif},
        font-size: (
            root: 16px, // Should never be changed
            base: rem(15px),
            large: 1.25rem,
            small: rem(15px),
            xsmall: .75rem
        ),
        line-height: (
            base: 1.4667,
            small: 1.5,
            large: (4 / 3)
        ),
        fonts: (
            (
                font-family: 'BentonSans', // Book
                font-weight: 300,
                src: (
                    embedded-opentype: 'https://www.aexp-static.com/nav/ngn/fonts/325e6ad0-38fb-4bad-861c-d965eab101d5-2.eot',
                    woff: 'https://www.aexp-static.com/nav/ngn/fonts/325e6ad0-38fb-4bad-861c-d965eab101d5-3.woff',
                    truetype: 'https://www.aexp-static.com/nav/ngn/fonts/325e6ad0-38fb-4bad-861c-d965eab101d5-1.ttf',
                    svg: 'https://www.aexp-static.com/nav/ngn/fonts/325e6ad0-38fb-4bad-861c-d965eab101d5-4.svg#web'
                )
            ),
            (
                font-family: 'BentonSans', // Regular
                font-weight: 400,
                src: (
                    embedded-opentype: 'https://www.aexp-static.com/nav/ngn/fonts/3be50273-0b2e-4aef-ae68-882eacd611f9-2.eot',
                    woff: 'https://www.aexp-static.com/nav/ngn/fonts/3be50273-0b2e-4aef-ae68-882eacd611f9-3.woff',
                    truetype: 'https://www.aexp-static.com/nav/ngn/fonts/3be50273-0b2e-4aef-ae68-882eacd611f9-1.ttf',
                    svg: 'https://www.aexp-static.com/nav/ngn/fonts/3be50273-0b2e-4aef-ae68-882eacd611f9-4.svg#web'
                )
            ),
            (
                font-family: 'BentonSans', // Medium
                font-weight: 500,
                src: (
                    embedded-opentype: 'https://www.aexp-static.com/nav/ngn/fonts/0fababca-4914-46dd-9b0f-efbd51f67ae8-2.eot',
                    woff: 'https://www.aexp-static.com/nav/ngn/fonts/0fababca-4914-46dd-9b0f-efbd51f67ae8-3.woff',
                    truetype: 'https://www.aexp-static.com/nav/ngn/fonts/0fababca-4914-46dd-9b0f-efbd51f67ae8-1.ttf',
                    svg: 'https://www.aexp-static.com/nav/ngn/fonts/0fababca-4914-46dd-9b0f-efbd51f67ae8-4.svg#web'
                )
            )
        )
    )
);
