//
// Variables
//

// Properties used across the app.

/*
    Table of Contents:

    - Colors,
    - UI
        1. Animation
        2. Container
        3. Nav
        4. Caret
        5. Progress
        6. Button
        7. Modal
        8. Tooltip
        9. Alert
        10. Badge
        11. Tags
        12. List
        13. Dropdown
        14. Input
        15. Radio
        16. Checkbox
        17. Breadcrumb
        18. Table
        19. Dot
        20. Stepper
        21. Slider
        22. Carousel
        23. Card
        24. Pagination
        25. Accent Bar (accent-bar)
    - Styles (stylizer)
*/
$props:(
    // Shorthand colors: Also outputs to color classes (.col-{name}[-bg])
    colors: (
        primary: color('dls-accent-blue-02'),
        success: color('dls-accent-green-01'),
        positive: color('dls-accent-green-01'),
        info: color('dls-accent-blue-02'),
        warning: color('dls-accent-red-02'),
        text: color('dls-accent-gray-06'),
        background: color('dls-accent-white-01'),
        muted: color('dls-accent-gray-04')
    ),

    ui: (
        //
        // Animation properties
        //
        animation: (
            fade: (
                time: .15s,
                easing: linear
            ),
            spinner: (
                indeterminate: (
                    time: .8s,
                    easing: linear
                )
            ),
            progress: (
                bar: (
                    determinate: (
                        time: .5s,
                        easing: cubic-bezier(0.650, 0.815, 0.735, 0.395)
                    ),
                    indeterminate: (
                        before: (
                            time: 2s,
                            easing: cubic-bezier(0.650, 0.815, 0.735, 0.395)
                        ),
                        after: (
                            time: 2s,
                            easing: cubic-bezier(0.165, 0.840, 0.440, 1.000)
                        )
                    )
                )
            )
        ),

        //
        // Container Element (.container)
        //
        container: (
            padding: (
                base: (x: 0rem, y: rem(20px))
            )
        ),

        //
        // Nav Elements (.nav)
        //
        nav: (
            border: (
                width: core('border.width'),
                radius: 0
            ),
            font-weight: (
                accordion: (
                    open: 400
                )
            ),
            caret: (
                spacer: rem(20px)
            ),
            padding: (
                base: (x:rem(16px), y: rem(10px)),
                accordion: (
                    indent: (
                        base: rem(20px)
                    )
                )
            ),
            tab: (
                regular: (
                    min-width: rem(150px),
                    text-transform: uppercase,
                    font-weight: 500,
                    font-size: (
                        base: rem(13px)
                    ),
                    padding: (
                        base: (x: rem(20px), y: rem(15px))
                    ),
                    active-offset: rem(4px),
                    animation: (
                        time: .25s,
                        easing: ease-out
                    )
                ),
                light: (
                    min-width: rem(150px),
                    text-transform: none,
                    font-weight: 400,
                    font-size: (
                        base: inherit
                    ),
                    padding: (
                        base: (x: rem(20px), y: rem(18px))
                    ),
                    keyline: (
                        size: rem(3px)
                    ),
                    animation: (
                        time: .25s,
                        easing: ease-out
                    )
                )
            ),
            colors: (
                border: color('dls-accent-gray-02'),
                core: (
                    background: (
                        expanded: color('dls-accent-gray-01'),
                        active: color('dls-accent-gray-02'),
                        hover: color('dls-accent-gray-01'),
                        inner-hover: color('dls-accent-gray-02')
                    )
                ),
                link: (
                    hover: color('dls-core-blue-01'),
                    open: color('dls-accent-blue-02'),
                    active: color('dls-core-blue-01'),
                    background-hover: color('dls-accent-gray-01'),
                    active-color: color('dls-accent-white-01'),
                    active-background: color('dls-accent-blue-02'),
                    disabled: color('dls-accent-gray-05'),
                    disabled-hover: color('dls-accent-gray-05'),
                    accordion: (
                        active: color('dls-core-blue-01'),
                        hover: color('dls-core-blue-01')
                    )
                ),
                tab: (
                    regular: (
                        default: (
                            text: color('dls-accent-gray-05'),
                            border: color('dls-accent-gray-03'),
                            background: color('dls-accent-gray-01'),
                            box-shadow: 0 -2px 2px rgba(color(dls-accent-gray-04), .08) inset
                        ),
                        hover: (
                            text: color('dls-accent-gray-05'),
                            border: color('dls-accent-gray-03'),
                            background: color('dls-accent-white-01'),
                            box-shadow: 0 -2px 2px rgba(color(dls-accent-gray-04), 0) inset
                        ),
                        active: (
                            text: color('dls-accent-gray-05'),
                            border: color('dls-accent-gray-03'),
                            background: color('dls-accent-white-01'),
                            box-shadow: 0 -2px 2px rgba(color(dls-accent-gray-04), .08)
                        )
                    ),
                    light: (
                        default: (
                            text: color('dls-accent-blue-02'),
                            keyline: transparent,
                            background: transparent
                        ),
                        hover: (
                            text: color('dls-accent-blue-02'),
                            keyline: color('dls-accent-gray-03'),
                            background: transparent
                        ),
                        active: (
                            text: color('dls-accent-blue-02'),
                            keyline: color('dls-accent-blue-02'),
                            background: transparent
                        )
                    )
                )
            ),
            // Configuration for dropown menus that may be used in the nav
            dropdown: (
                // The arrow 'caret' that appears before/after a dropdown link
                caret: (
                    colors: (
                        default: color('dls-accent-gray-04'),
                        hover: color('dls-accent-gray-04'),
                        active: color('dls-accent-blue-02')
                    ),
                    icon: (
                        default: 'dls-glyph-down',
                        active: 'dls-glyph-up',
                        default-transform: none,
                        active-transform: none
                    )
                )
            ),

            //
            // Progress Nav
            //
            progress: (
                //
                // Simple Progress Bar
                //
                simple: (
                    size: (
                        base: rem(20px),
                        small: rem(8px),
                        large: rem(12px)
                    ),
                    spacer: (x: rem(10px), y: rem(10px)),
                    border: (
                        radius: (
                            base: rem(20px),
                            small: rem(20px),
                            large: rem(20px)
                        )
                    ),
                    animation: (
                        bar-time: 1s,
                        time: .25s,
                        easing: ease-out,
                    ),
                    mobile: (
                        count: (
                            font-weight: 400,
                            size: rem(30px)
                        )
                    ),
                    steps: (
                        active: (font-weight: inherit),
                        current: (font-weight: 500),
                        disabled: (font-weight: inherit)
                    ),
                    colors: (
                        active: color('dls-accent-blue-02'),
                        default: color('dls-accent-gray-02'),
                        disabled: color('dls-accent-gray-03'),
                        mobile: (
                            active: color('dls-accent-white-01'),
                            default: color('dls-accent-white-01'),
                            disabled: color('dls-accent-gray-04')
                        )
                    )
                ),
                //
                // Stepper Progress Bar
                //
                stepper: (
                    size: (
                        base: (
                            xs: (
                                bar: rem(2px),
                                step: rem(30px),
                                dot: rem(6px),
                                text: rem(16px),
                                count: rem(16px),
                                icon: rem(15px),
                                spacer: rem(10px)
                            )
                        )
                    ),
                    // (Completed step Glyph)
                    icon: (
                        completed: 'dls-icon-check'
                    ),
                    border: (
                        width: rem(2px),
                        radius: ( base: 50%, small: 50%, large: 50% )
                    ),
                    animation: (
                        time: 1.1s,
                        easing: cubic-bezier(0.22, 0.61, 0.36, 1)
                    ),
                    default: (
                        font-weight: inherit,
                    ),
                    active: (
                        primary: color('dls-accent-blue-02'),
                        secondary: color('dls-accent-white-01'),
                        border: color('dls-accent-blue-02')
                    ),
                    current: (
                        primary: color('dls-accent-blue-02'),
                        secondary: color('dls-accent-white-01'),
                        border: color('dls-accent-blue-02')
                    ),
                    disabled: (
                        primary: color('dls-accent-gray-04'),
                        secondary: color('dls-accent-gray-05'),
                        border: color('dls-accent-gray-02')
                    )
                ),

                //
                // Slim Progress Bar
                //
                slim: (
                    size: (
                        base: ( xs: (bar: rem(2px), dot: rem(14px)) )
                    ),
                    animation: (
                        bar-time: 1s,
                        time: .25s,
                        easing: ease-out,
                        transform: (
                            inactive: scale(0),
                            active: scale(1)
                        )
                    ),
                    border: (
                        width: rem(3px),
                        radius: (
                            base: 50%, small: 50%, large: 50%
                        )
                    ),
                    colors: (
                        base: color('dls-accent-gray-01'),
                        active: color('dls-accent-blue-02'),
                        disabled: color('dls-accent-gray-02')
                    )
                )

                // End Progress
            )
        ),

        // Configuration for accordions that may be used in the vertical nav
        caret: (
            colors: (
                default: color('dls-accent-gray-04'),
                hover: color('dls-accent-gray-04'),
                active: color('dls-accent-gray-04')
            ),
            icon: (
                default: core('caret.icon.arrow-forward'),
                active: core('caret.icon.arrow-forward'),
                default-transform: rotate(0deg),
                active-transform: rotate(90deg)
            )
        ),

        //
        // Progress Loaders
        //
        progress: (
            bar: (
                size: (
                    base: (
                        bar: rem(4px)
                    )
                ),
                colors: (
                    base: rgba(color('dls-accent-gray-03'), .25),
                    base-strong: rgba(color('dls-accent-gray-03'), .5),
                    progress: color('dls-accent-blue-02')
                )
            ),
            circle: (
                size: (
                    base: (
                        font-size: core('typography.font-size.small'),
                        size: 50px,
                        bar: 4px
                    ),
                    small: (
                        font-size: core('typography.font-size.xsmall') * 0.7,
                        size: 20px,
                        bar: 2px
                    ),
                    large: (
                        font-size: core('typography.font-size.base'),
                        size: 70px,
                        bar: 6px
                    )
                ),
                animation: (
                    time: .25s,
                    easing: ease-out,
                ),
                colors: (
                    base: rgba(color('dls-accent-gray-03'), .25),
                    base-strong: rgba(color('dls-accent-gray-03'), .5),
                    progress: color('dls-accent-blue-02')
                )
            )
        ),

        //
        // Buttons (.btn / <button>)
        //
        button: (
            width: (
                base: (min: rem(180px), max: rem(280px)),
                small: (min: rem(110px), max: rem(260px)),
                large: (min: rem(200px), max: rem(280px))
            ),
            padding: (
                base: (x: rem(30px), y: rem(13px)),
                small: (x: rem(20px), y: rem(9px)),
                large: (x: rem(50px), y: rem(13px))
            ),
            margin: (x: rem(5px), y: rem(5px)),
            icon: (
                size: (
                    base: core('typography.font-size.base') * 1.9,
                    small: core('typography.font-size.base') * 1.5,
                    large: core('typography.font-size.base') * 1.9
                ),
                padding: (
                    base: (
                        x: rem(30px), y: rem(10px),
                        inline: (
                            x: rem(10px), y: rem(10px)
                        )
                    ),
                    small: (
                        x: rem(20px), y: rem(6px),
                        inline: (
                            x: rem(6px), y: rem(6px)
                        )
                    ),
                    large: (
                        x: rem(30px), y: rem(10px),
                        inline: (
                            x: rem(10px), y: rem(10px)
                        )
                    )
                )
            ),
            tooltip: (
                icon: (
                    size: rem(18px),
                    state: (
                        default: 'dls-glyph-info',
                        active: 'dls-glyph-cancel-circle'
                    )
                )
            ),
            colors: (
                link-disabled: color('dls-accent-gray-04')
            ),
            font: (
                size: (
                    base: rem(16px),
                    small: rem(15px),
                    large: rem(18px)
                ),
                weight: normal
            ),
            border: (
                radius: (
                    base: core('border.radius.base'),
                    small: core('border.radius.small'),
                    large: core('border.radius.large')
                )
            ),
            // Buttons inside a btn-group
            group: (
                min-width: rem(120px),
                max-width: none
            ),
            // Loader (styling for the progress loader that can appear)
            loading: (
                size: 22px,
                bar: 2px
            ),

            // Button Types (auto generated button classes)
            default-type: '-primary',
            types: (
                '-primary': (
                    default: (
                        color: color('dls-accent-white-01'),
                        background: color('dls-accent-blue-02')
                    ),
                    hover: (
                        color: color('dls-accent-white-01'),
                        background: color('dls-accent-blue-02-hover')
                    ),
                    active: (
                        color: color('dls-accent-white-01'),
                        background: color('dls-accent-blue-02-active')
                    ),
                    disabled: (
                        border-color: color('dls-accent-gray-04'),
                        background: rgba(color('dls-accent-gray-06'), 0.05),
                        color: color('dls-accent-gray-06')
                    ),
                    loading: (
                        base: rgba(color('dls-accent-gray-03'), .25),
                        progress: color('dls-accent-white-01')
                    )
                ),
                '-secondary': (
                    default: (
                        color: color('dls-accent-blue-02'),
                        background: transparent,
                        border-color: color('dls-accent-blue-02')
                    ),
                    hover: (
                        color: color('dls-accent-blue-02'),
                        background: rgba(0, 0, 0, .1),
                        border-color: color('dls-core-blue-03')
                    ),
                    active: (
                        color: darken(color('dls-accent-blue-02'), 15%),
                        background: rgba(0, 0, 0, .17),
                        border-color: darken(color('dls-accent-blue-02'), 5%)
                    ),
                    disabled: (
                        color: color('dls-accent-gray-06'),
                        background: rgba(color('dls-accent-gray-06'), 0.05),
                        border-color: color('dls-accent-gray-04')
                    ),
                    loading: (
                        base: rgba(color('dls-accent-gray-03'), .25),
                        progress: color('dls-accent-blue-02')
                    )
                ),

                '-tertiary': (
                    default: (
                        color: color('dls-accent-blue-02'),
                        background: transparent,
                        border-color: transparent
                    ),
                    hover: (
            color: color('dls-accent-blue-02'),
                        background: rgba(0, 0, 0, .1),
                        border-color: transparent
                    ),
                    active: (
                        color: darken(color('dls-accent-blue-02'), 15%),
                        background: rgba(0, 0, 0, .17),
                    ),
                    disabled: (
                        border-color: transparent,
                        background: rgba(color('dls-accent-gray-04'), 0.1),
                        color: color('dls-accent-gray-06')
                    ),
                    loading: (
                        base: rgba(color('dls-accent-gray-03'), .25),
                        progress: color('dls-accent-blue-02')
                    )
                ),

                '-white': (
                    default: (
                        color: color('dls-accent-blue-02'),
                        background: color('dls-accent-white-01'),
                        border-color: color('dls-accent-white-01')
                    ),
                    hover: (
                        color: color('dls-accent-blue-02'),
                        background: color('dls-accent-white-01-hover'),
                        border-color: color('dls-accent-white-01')
                    ),
                    active: (
                        color: color('dls-accent-blue-02'),
                        background: color('dls-accent-white-01-active'),
                        border-color: color('dls-accent-white-01')
                    ),
                    disabled: (
                        border-color: color('dls-accent-gray-04'),
                        background: rgba(color('dls-accent-gray-06'), 0.02),
                        color: color('dls-accent-gray-03')
                    ),
                    loading: (
                        base: rgba(color('dls-accent-gray-03'), .25),
                        progress: color('dls-accent-blue-02')
                    )
                ),

                '-white-secondary': (
                    default: (
                        color: color('dls-accent-white-01'),
                        background: transparent,
                        border-color: color('dls-accent-gray-01')
                    ),
                    hover: (
                        background: rgba(0, 0, 0, .1),
                        border-color: color('dls-accent-gray-01')
                    ),
                    active: (
                        background: rgba(0, 0, 0, .17)
                    ),
                    disabled: (
                        border-color: color('dls-accent-gray-04'),
                        background: rgba(color('dls-accent-gray-06'), 0.02),
                        color: color('dls-accent-gray-03')
                    ),
                    loading: (
                        base: rgba(color('dls-accent-gray-03'), .25),
                        progress: color('dls-accent-blue-02')
                    )
                ),
                '-white-tertiary': (
                    default: (
                        color: color('dls-accent-white-01'),
                        background: transparent,
                        border-color: transparent
                    ),
                    hover: (
                        color: color('dls-accent-white-01'),
                        background: rgba(0, 0, 0, .1),
                        border-color: transparent
                    ),
                    active: (
                        background: rgba(0, 0, 0, .17),
                        color: color('dls-accent-white-01')
                    ),
                    disabled: (
                        border-color: transparent,
                        background: rgba(color('dls-accent-gray-04'), 0.1),
                        color: color('dls-accent-gray-02')
                    ),
                    loading: (
                        base: rgba(color('dls-accent-gray-03'), .25),
                        progress: color('dls-accent-blue-02')
                    )
                ),
                '-tooltip': (
                    default: (
                        color: color('dls-accent-gray-03')
                    ),
                    hover: (
                        color: color('dls-accent-blue-02')
                    ),
                    active: (
                        color: color('dls-accent-blue-02')
                    ),
                    disabled: (
                        color: color('dls-accent-gray-03')
                    ),
                    loading: (
                        base: rgba(color('dls-accent-gray-03'), .25),
                        progress: color('dls-accent-blue-02')
                    )
                ),
				'-chevron': (
        					default: (
        						background: color('dls-accent-gray-01'),
        						border-color: color('dls-accent-gray-03'),
        						color: color('dls-accent-gray-06')
        					),
        					hover: (
        						background: rgba(0, 0, 0, 0.1),
        						color: color('dls-accent-gray-06')
        					),
        					active: (
        						background: rgba(0, 0, 0, 0.2),
        						color: color('dls-accent-gray-06')
        					),
        					disabled: (),
        					loading: ()
        				),
                '-cobrand-default': (
                    default: ( background: color('dls-cobrand-default') ),
                    hover:   ( background: darken(color('dls-cobrand-default'), 3% ) ),
                    active:  ( background: darken(color('dls-cobrand-default'), 6% ) ),
                    disabled: (),
                    loading: ()
                ),
                '-cobrand-delta': (
                    default: ( background: color('dls-cobrand-delta') ),
                    hover:   ( background: darken(color('dls-cobrand-delta'), 2%  ) ),
                    active:  ( background: darken(color('dls-cobrand-delta'), 17% ) ),
                    disabled: (),
                    loading: ()
                ),
                '-cobrand-starwood': (
                    default: ( background: color('dls-cobrand-starwood') ),
                    hover:   ( background: darken(color('dls-cobrand-starwood'), 3% ) ),
                    active:  ( background: darken(color('dls-cobrand-starwood'), 6% ) ),
                    disabled: (),
                    loading: ()
                ),
                '-cobrand-bluesky': (
                    default: ( background: color('dls-cobrand-bluesky') ),
                    hover:   ( background: darken(color('dls-cobrand-bluesky'), 4.48% ) ),
                    active:  ( background: darken(color('dls-cobrand-bluesky'), 7.2%  ) ),
                    disabled: (),
                    loading: ()
                ),
                '-cobrand-lowes': (
                    default: ( background: color('dls-cobrand-lowes') ),
                    hover:   ( background: darken(color('dls-cobrand-lowes'), 2.85% ) ),
                    active:  ( background: darken(color('dls-cobrand-lowes'), 4.8%  ) ),
                    disabled: (),
                    loading: ()
                ),
                '-cobrand-hilton': (
                    default: ( background: color('dls-cobrand-hilton') ),
                    hover:   ( background: darken(color('dls-cobrand-hilton'), 3% ) ),
                    active:  ( background: darken(color('dls-cobrand-hilton'), 6% ) ),
                    disabled: (),
                    loading: ()
                ),
                '-cobrand-schwab': (
                    default: ( background: color('dls-cobrand-schwab') ),
                    hover:   ( background: darken(color('dls-cobrand-schwab'), 2.85% ) ),
                    active:  ( background: darken(color('dls-cobrand-schwab'), 4.8%  ) ),
                    disabled: (),
                    loading: ()
                ),
                '-cobrand-plenti': (
                    default: ( background: color('dls-cobrand-plenti') ),
                    hover:   ( background: darken(color('dls-cobrand-plenti'), 3% ) ),
                    active:  ( background: darken(color('dls-cobrand-plenti'), 6% ) ),
                    disabled: (),
                    loading: ()
                )
            )
        ),

        //
        // Modal (.modal)
        //
        modal: (
            default-type: '-default',
            sizes: (
                'xs': (
                    header: (
                        padding: (x: rem(10px), y: rem(15px)),
                        title: (font-size: rem(16px)),
                        subtitle: (font-size: rem(12px)),
                        control: (font-size: rem(12px))
                    ),
                    content: (
                        padding: (x: 0, y: rem(10px))
                    )
                ),
                'sm': (
                    header: (
                        padding: (x: rem(20px), y: rem(20px)),
                        title: (font-size: rem(20px)),
                        subtitle: (font-size: rem(14px)),
                        control: (font-size: inherit)
                    ),
                    content: (
                        padding: (x: rem(10px), y: rem(20px))
                    )
                )
            ),
            display: (
                dynamic: (
                    breakpoint: 'md'
                ),
                boxed: (
                    max-width: rem(600px),
                    box-shadow: 0px 1px 5px rgba(0, 0, 0, .3)
                )
            ),
            types: (
                '-default': (
                    base: (
                        background-color: rgba(color('dls-accent-gray-06'), 0.4)
                    ),
                    header: (
                        background-color: color('dls-accent-blue-02'),
                        color: color('dls-accent-white-01')
                    ),
                    body: (
                        background-color: color('dls-accent-gray-01')
                    ),
                    links: (
                        header: (
                            default: (
                                color: color('dls-accent-white-01')
                            ),
                            hover: (

                            )
                        )
                    )
                )
            )
        ),

        //
        // Tooltips
        //
        tooltip: (
            opacity: 1,
            arrow-size: rem(14px),
            offset: 3px,
            border: (
                width: core('border.width'),
                radius: core('border.radius.base')
            ),
            type: (
                default: (
                    text-align: center,
                    width: (
                        base: (min: 130px, max: 200px),
                        small: (min: 0, max: 200px)
                    ),
                    padding: (
                        base: (x: rem(20px), y: rem(12px)),
                        small: (x: rem(10px), y: rem(8px))
                    )
                ),

                info: (
                    text-align: left,
                    width: (
                        base: (min: 130px, max: 280px),
                        small: (min: 0, max: 280px)
                    ),
                    padding: (
                        base: (x: rem(20px), y: rem(20px)),
                        small: (x: rem(10px), y: rem(8px))
                    )
                )
            ),
            default-type: '-default',
            types: (
                '-default': (
                    color: color('dls-accent-white-01'),
                    background-color: color('dls-accent-gray-05'),
                    box-shadow: 1px 1px 3px rgba(0, 0, 0, .25)
                ),
                '-white': (
                    color: color('dls-accent-gray-06'),
                    background-color: color('dls-accent-white-01'),
                    box-shadow: 0 1px 4px rgba(0, 0, 0, .2),
                    border-color: color('dls-accent-gray-03')
                ),
                '-light': (
                    color: color('dls-accent-gray-05'),
                    background-color: color('dls-accent-gray-02'),
                    border-color: color('dls-accent-gray-02'),
                    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2)
                ),
                '-primary': (
                    color: color('dls-accent-white-01'),
                    background-color: color('dls-accent-blue-02'),
                    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2)
                )
            )
        ),

        //
        // Sort Toggle Button
        //
        sort-toggle: (
            arrow: (
                size: rem(5px),
                spacing: rem(3px)
            ),
            colors: (
                default: color('dls-accent-gray-03'),
                active: color('dls-accent-gray-05')
            )
        ),

        //
        // Alerts
        //
        alert: (
            min-width: 120px,
            padding: (
                base: (x: rem(20px), y: rem(12px)),
                small: (x: rem(15px), y: rem(8px)),
                large: (x: rem(25px), y: rem(15px))
            ),
            link: (
                font-weight: 500
            ),
            border: (
                width: core('border.width'),
                radius: (
                    base: 0,
                    small: 0,
                    large: 0
                )
            ),
            close: (
                width: rem(20px),
                icon: 'dls-glyph-close'
            ),
            default-type: '-neutral',
            dialog: (
                sizes: (
                    icon: 1.750em
                ),
                colors: (
                    border: color('dls-accent-gray-02'),
                    header: color('dls-accent-gray-05'),
                    text: color('dls-accent-gray-06')
                )
            ),
            types: (
                '-neutral': (
                    text: color('dls-accent-gray-05'),
                    icon: color('dls-accent-gray-04'),
                    background: color('dls-accent-white-01'),
                    border: color('dls-accent-gray-04'),
                    close: color('dls-accent-gray-05'),
                    close-hover: color('dls-accent-gray-05'),
                    link: darken(color('dls-accent-gray-05'), 10%),
                    link-hover: darken(color('dls-accent-gray-05'), 20%)
                ),
                '-positive': (
                    text: color('dls-accent-green-01'),
                    icon: color('dls-accent-green-01'),
                    background: color('dls-accent-white-01'),
                    border: color('dls-accent-green-01'),
                    close: color('dls-accent-gray-05'),
                    close-hover: color('dls-accent-green-01'),
                    link: darken(color('dls-accent-green-01'), 10%),
                    link-hover: darken(color('dls-accent-green-01'), 20%)
                ),
                '-warn': (
                    text: color('dls-accent-red-02'),
                    icon: color('dls-accent-red-02'),
                    background: color('dls-accent-white-01'),
                    border: color('dls-accent-red-02'),
                    close: color('dls-accent-gray-05'),
                    close-hover: color('dls-accent-red-02'),
                    link: darken(color('dls-accent-red-02'), 10%),
                    link-hover: darken(color('dls-accent-red-02'), 20%)
                )
            )
        ),

        //
        // Badges (.badge)
        //
        badge: (
            line-height: core('typography.line-height.small'),
            spacing: rem(5px),
            border: (
                radius: (
                    base: rem(20px),
                )
            ),
            colors: (
                text: color('dls-accent-white-01'),
                background: color('dls-accent-blue-02')!important,
                default: color('dls-accent-gray-05')!important,
                success: color('dls-accent-green-01')!important,
                warning: color('dls-accent-red-01')!important
            ),
            default-type: '-default',
            types: (
                '-default': (
                    default: (
                        padding: #{0 rem(6px)},
                        font-size: core('typography.font-size.small'),
                        font-weight: normal,
                        min-width: rem(25px),
                        height: rem(25px),
                        color: color('dls-accent-white-01'),
                        background-color: color('dls-accent-blue-02'),
                    ),
                    hover: (),
                    active: (),
                    disabled: ()
                ),
                '-outline': (
                    default: (
                        padding: 0,
                        font-size: rem(12px),
                        font-weight: 500,
                        min-width: rem(33px),
                        height: rem(33px),
                        border-width: 2px,
                        border-style: solid,
                        color: color('dls-accent-blue-02'),
                        background-color: color('dls-accent-white-01'),
                        border-color: color('dls-accent-blue-02')
                    ),
                    hover: (
                        color: color('dls-accent-white-01'),
                        background-color: color('dls-accent-blue-02')
                    ),
                    active: (
                        color: color('dls-accent-white-01'),
                        background-color: color('dls-accent-blue-02')
                    ),
                    disabled: (
                        color: color('dls-accent-white-01'),
                        background-color: color('dls-accent-gray-03'),
                        border-color: color('dls-accent-gray-03')
                    )
                ),
                '-pill': (
                    default: (
                        padding: #{0 rem(6px)},
                    ),
                    hover: (),
                    active: (),
                    disabled: ()
                ),
            )
        ),

        //
        // Tags (.tags)
        //

        tags: (
            padding: (
                base: (x: rem(10px), y: rem(8px))
            ),
            close: (
                icon: 'dls-glyph-close'
            ),
            margin: (
                base: (x: rem(10px), y: rem(10px))
            ),
            font: (
                size: core('typography.font-size.small'),
                weight: normal
            ),
            line-height: core('typography.line-height.small'),
            border: (
                width: core('border.width'),
                radius: (
                    base: core('border.radius.small')
                )
            ),
            removable: (
                close: (
                    width: rem(40px)
                )
            ),
            colors: (
                text: color('dls-accent-gray-05'),
                background: colors('dls-accent-gray-01'),
                hover: color('dls-accent-blue-02'),
                background-hover: color('dls-accent-gray-01'),
                border: (
                    default: color('dls-accent-gray-03'),
                    hover: color('dls-accent-gray-03')
                )
            )
        ),

        //
        // Lists (e.g. - .link-list)
        //
        list: (
            padding: (
                base: (
                    x: rem(10px), y: rem(10px),
                    separator: rem(10px)
                )
            ),
            colors: (
                separator: color('dls-accent-gray-04')
            )
        ),

        //
        // Dropdown
        //
        dropdown: (
            // The arrow 'caret' that appears before/after a dropdown link
            caret: (
                icon: (
                    default: core('caret.icon.arrow-forward'),
                    active: core('caret.icon.arrow-forward'),
                    default-transform: rotate(90deg) scaleX(1),
                    active-transform: rotate(90deg) scaleX(-1),
                    dropup-default-transform: rotate(-90deg) scaleX(1),
                    dropup-active-transform: rotate(-90deg) scaleX(-1)
                ),
                margin-left: rem(10px),
                margin-right: rem(20px)
            ),
            min-width: rem(120px),
            link: (
                padding: (
                    base: (x:1em, y: rem(10px))
                )
            ),
            border: (
                width: core('border.width'),
                radius: (
                    default: (
                        base: core('border.radius.base'),
                        small: core('border.radius.small'),
                        large: core('border.radius.large')
                    ),
                    nav: (
                        base: 0,
                        small: 0,
                        large: 0
                    )
                )
            ),
            colors: (
                link: (
                    default: color('dls-accent-blue-02'),
                    hover: color('dls-core-blue-01'),
                    active: color('dls-accent-blue-02'),
                    disabled: color('dls-accent-gray-04'),
                    background-hover: color('dls-accent-gray-01'),
                    background-active: color('dls-accent-gray-01')
                ),
                box-shadow: none,
                header: color('dls-accent-gray-01'),
                background: color('dls-accent-white-01'),
                divider: color('dls-accent-gray-02'),
                border: (
                    default: color('dls-accent-gray-02'),
                    focus: color('dls-accent-blue-02')
                )
            )
        ),

        //
        // Form Inputs (general)
        //
        // (Subset field types (e.g. radio) also inherit some key attributes)
        input: (

            font: (
                size: rem(16px)
            ),
            group: (
                margin-bottom: rem(20px)
            ),
            icon: (
                success: 'green/dls-icon-success',
                warning: 'red/dls-icon-warning-filled'
            ),
            search: (
                sizes: (
                    base: (width: rem(45px)),
                    small: (width: rem(50px)),
                    large: (width: rem(40px))
                ),
                state: (
                    default: 'dls-icon-search',
                    active: 'dls-glyph-close'
                )
            ),
            label: (
                style: (
                    margin-bottom: rem(8px)
                ),
                padding-left: rem(20px),
                padding-right: rem(10px),
            ),
            legend: (
                style: (
                    font-size: rem(14px)
                )
            ),
            validation: (
                alert: (
                    sizes: (
                        base: (font-size: rem(14px), padding-top: rem(5px)),
                        small: (font-size: rem(13px), padding-top: rem(4px)),
                        large: (font-size: rem(16px), padding-top: rem(8px))
                    )
                )
            ),
            select: (
                max-width: rem(300px),
                caret: (
                    icon: 'dls-glyph-down',
                    transform: none
                )
            ),
            padding: (
                base: (x: rem(10px), y: 0),
                small: (x: rem(10px), y: 0),
                large: (x: rem(20px), y: 0)
            ),
            textarea: (
                padding: (
                    base: (x: rem(10px), y: rem(15px)),
                    small: (x: rem(10px), y: rem(15px)),
                    large: (x: rem(20px), y: rem(20px))
                ),
            ),
            height: (
                base: rem(50px),
                small: rem(42px),
                large: rem(54px)
            ),
            smart: (
                // Smart Fields
                field: (
                    sizes: (
                        base: (
                            label: (font-size: rem(13px)),
                            padding: (x: rem(10px), y: rem(6px)),
                            height: rem(60px)
                        ),
                        small: (
                            label: (font-size: rem(12px)),
                            padding: (x: rem(8px), y: rem(8px)),
                            height: rem(50px)
                        ),
                        large: (
                            label: (font-size: rem(16px)),
                            padding: (x: rem(12px), y: rem(12px)),
                            height: rem(70px)
                        )
                    )
                )
            ),
            colors: (
                validation: (
                    success: color('dls-trend-green-01'),
                    warning: color('dls-accent-red-02')
                ),
                label: (
                    default: color('dls-accent-gray-05'),
                    disabled: color('dls-accent-gray-04'),
                    warning: color('dls-accent-red-02')
                ),
                search-icon: (
                    default: color('dls-accent-gray-05'),
                    focus: color('dls-accent-blue-02'),
                    disabled: color('dls-accent-gray-03'),
                    active: color('dls-accent-gray-05')
                ),
                legend: (
                    default: color('dls-accent-gray-05'),
                    disabled: color('dls-accent-gray-04'),
                    warning: color('dls-accent-red-02')
                ),
                text: (
                    default: color('dls-accent-gray-06'),
                    disabled: color('dls-accent-gray-04'),
                    warning: inherit
                ),
                caret: (
                    default: color('dls-accent-gray-05'),
                    focus: color('dls-accent-gray-05'),
                    disabled: color('dls-accent-gray-03'),
                    warning: inherit
                ),
                background: (
                    default: color('dls-accent-gray-01'),
                    disabled: color('dls-accent-gray-01'),
                    warning: desaturate(lighten(color('dls-accent-red-02'), 60%), 30%)
                ),
                // 'required' symbol ( * )
                required: (
                    default: color('dls-accent-red-02'),
                    success: color('dls-accent-red-02'),
                    warning: color('dls-accent-red-02')
                ),
                placeholder: color('dls-accent-gray-04'),
                border: (
                    default: color('dls-accent-gray-03'),
                    focus: color('dls-accent-blue-02'),
                    disabled: color('dls-accent-gray-02'),
                    warning: color('dls-accent-red-02')
                ),
                group-addon: (
                    background: color('dls-accent-gray-02')
                ),
                select: (
                    disabled: (
                        color: color('dls-accent-gray-04'),
                        border-color: color('dls-accent-gray-03')
                    )
                )
            ),
            addon: (
                status: (
                    animation: (time:.5s),
                    bar: (height: rem(3px))
                )
            ),
            border: (
                width: core('border.width'),
                radius: (
                    base: core('border.radius.base'),
                    small: core('border.radius.small'),
                    large: core('border.radius.large')
                )
            )
        ),

        //
        // Radio
        //
        radio: (
            size: (
                base: (outer: rem(22px), inner: rem(14px)),
                small: (outer: rem(21px), inner: rem(13px)),
                large: (outer: rem(26px), inner: rem(18px))
            ),
            label: (
                padding-left: rem(6px),
                font-family: core('typography.font-family'),
                font-size: core('typography.font-size.base')
            ),
            border: (
                width: core('border.width')
            ),
            colors: (
                default: (
                    label: inherit,
                    background: color('dls-accent-white-01'),
                    border: color('dls-accent-gray-04'),
                    checked: color('dls-accent-blue-02')
                ),
                hover: (
                    label: inherit,
                    background: color('dls-accent-white-01'),
                    border: color('dls-accent-blue-02'),
                    checked: color('dls-accent-blue-02')
                ),
                selected: (
                    label: inherit,
                    background: color('dls-accent-white-01'),
                    border: color('dls-accent-blue-02'),
                    checked: color('dls-accent-blue-02')
                ),
                disabled: (
                    label: color('dls-accent-gray-04'),
                    background: rgba(color('dls-accent-gray-06'), 0.05),
                    border: color('dls-accent-gray-03'),
                    checked: rgba(color('dls-accent-gray-06'), 0.3)
                )
            )
        ),

        //
        // Checkbox
        //
        checkbox: (
            checked-icon: 'dls-glyph-check',
            size: (
                base: rem(22px),
                small: rem(18px),
                large: rem(25px)
            ),
            label: (
                padding-left: rem(10px),
                font-family: core('typography.font-family'),
                font-size: core('typography.font-size.base')
            ),
            border: (
                width: core('border.width'),
                radius: (
                    base: core('border.radius.base'),
                    small: core('border.radius.small'),
                    large: core('border.radius.large')
                )
            ),
            colors: (
                default: (
                    label: color('dls-accent-blue-02'),
                    background: color('dls-accent-white-01'),
                    border: color('dls-accent-gray-03'),
                    checked: color('dls-accent-white-01')
                ),
                hover: (
                    label: inherit,
                    background: color('dls-accent-white-01'),
                    border: color('dls-accent-blue-02'),
                    checked: color('dls-accent-white-01')
                ),
                selected: (
                    label: inherit,
                    background: color('dls-accent-blue-02'),
                    border: color('dls-accent-blue-02'),
                    checked: color('dls-accent-white-01')
                ),
                disabled: (
                    label: color('dls-accent-gray-04'),
                    background: rgba(color('dls-accent-gray-06'), 0.05),
                    border: color('dls-accent-gray-03'),
                    checked: color('dls-accent-white-01'),
                    selected: (
                        background: rgba(color('dls-accent-gray-06'), 0.25)
                    )
                )
            )
        ),

        //
        // Table (.table)
        //
        table: (
            font-size: (
                base: rem(14px),
                small: rem(13px),
                large: rem(16px)
            ),
            cell-padding: (
                base: (x: rem(18px), y: rem(15px)),
                small: (x: rem(10px), y: rem(10px)),
                large: (x: rem(18px), y: rem(25px))
            ),
            head: (
                style: (
                    margin-bottom: 0
                    //font-weight: 500
                )
            ),
            border: (
                width: core('border.width'),
                separator: (
                    offset: rem(10px)
                )
            ),
            colors: (
                header: color('dls-accent-blue-02'),
                border: color('dls-accent-gray-02'),
                secondary: (
                    border: color('dls-accent-gray-03')
                ),
                background: (
                    base: color('dls-accent-white-01'),
                    head: color('dls-accent-gray-01'),
                    hover: color('dls-accent-gray-01'),
                    accent: color('dls-accent-gray-01')
                )
            )
        ),

        //
        // Breadcrumb (.breadcrumb)
        //
        breadcrumb: (
            colors: (
                default: color('dls-accent-gray-05'),
                separator: color('dls-accent-gray-04'),
            ),
            separator: (
                icon: core('caret.icon.arrow-forward'),
                size: 0.9375em,
                width: rem(22px)
            )
        ),

        //
        // Dot (.dot) a type of indicator
        //
        dot: (
            size: rem(8px),
            default-color: color('dls-accent-gray-03')
        ),

        //
        // Stepper (Component)
        //
        stepper: (
            size: (
                base: (
                    value: (
                        font-size: rem(16px),
                        padding: rem(20px)
                    )
                )
            ),
            border: (
                width: core('border.width'),
            ),
            colors: (
                border: color('dls-accent-blue-02'),
                value: (
                    text: color('dls-accent-gray-06'),
                    background: inherit
                ),
                button: (
                    default: (
                        text: color('dls-accent-blue-02'),
                        background: color('dls-accent-white-01')
                    ),
                    hover: (
                        text: color('dls-accent-blue-02'),
                        border: color('dls-accent-blue-02'),
                        background: rgba(color('dls-accent-gray-06'), 0.05)
                    ),
                    active: (
                        text: darken(color('dls-accent-blue-02'), 15%),
                        border: color('dls-accent-blue-02'),
                        background: transparent
                    )
                )
            )
        ),

        //
        // Slider (Component)
        //
        slider: (
            button: (
                size: (
                    base: rem(24px), small: rem(22px), large: rem(30px)
                ),
                border: (
                    width: core('border.width'),
                    radius: 50%
                ),
                colors: (
                    default: (
                        background: color('dls-accent-white-01'),
                        text: color('dls-accent-gray-04'),
                        border: color('dls-accent-gray-04'),
                    ),
                    hover: (
                        background: color('dls-accent-blue-02'),
                        text: color('dls-accent-white-01'),
                        border: color('dls-accent-blue-02')
                    ),
                    active: (
                        background: color('dls-accent-blue-02'),
                        text: color('dls-accent-white-01'),
                        border: color('dls-accent-blue-02')
                    )
                )
            ),
            track: (
                size: (
                    base: rem(16px), small: rem(10px), large: rem(20px)
                ),
                border: (
                    width: core('border.width'),
                    radius: 8px
                ),
                colors: (
                    border: transparent,
                    background: color('dls-accent-gray-02'),
                    selection: color('dls-accent-blue-02')
                )
            ),
            handle: (
                size: (
                    base: rem(24px), small: rem(22px), large: rem(30px)
                ),
                border: (
                    width: core('border.width'),
                    radius: 50%
                ),
                colors: (
                    default: (
                        background: color('dls-accent-white-01'),
                        border: color('dls-accent-blue-02'),
                        box-shadow: 0 0 3px rgba(color('dls-accent-gray-05'), .2)
                    ),
                    hover: (
                        background: color('dls-accent-white-01'),
                        border: color('dls-accent-blue-02'),
                        box-shadow: 0 0 5px rgba(color('dls-accent-gray-05'), .3)
                    ),
                    active: (
                        background: color('dls-accent-white-01'),
                        border: color('dls-accent-blue-02'),
                        box-shadow: 0 0 5px rgba(color('dls-accent-gray-05'), .4)
                    )
                )
            )
        ),

        //
        // Carousel
        //
        carousel: (
            control: (
                icon: (
                    left: 'dls-icon-left-filled',
                    right: 'dls-icon-right-filled'
                ),
                button: (
                    padding: rem(10px),
                    icon-size: rem(10px)
                ),
                indicator: (
                    padding: rem(6px),
                    size: rem(5px),
                    border: (
                        radius: 50%
                    )
                ),
                colors: (
                    background: rgba(color('dls-accent-gray-06'), .4),
                    default: (
                        indicator: color('dls-accent-gray-03'),
                        button: color('dls-accent-gray-03')
                    ),
                    hover: (
                        indicator: color('dls-accent-white-01'),
                        button: color('dls-accent-white-01')
                    ),
                    active: (
                        indicator: color('dls-accent-blue-02')
                    )
                )
            ),
            animation: (
                slide: (
                    time: .8s,
                    easing: ease
                ),
                element: (
                    time: .7s,
                    easing: ease,
                    slideup: 20px
                )
            ),
        ),

        //
        // Card (.card)
        //
        card: (
            spacer: (x: rem(20px), y: rem(20px)),
            border: (
                width: core('border.width'),
                radius: 0
            ),
            colors: (
                border: color('dls-accent-gray-02'),
                background: color('dls-accent-white-01')
            ),
            tint: (
                opacity: 0.2
            ),
            type: (
                // Animated background scale on hover
                scale: (
                    transition: transform 1s cubic-bezier(bezier(sine)),
                    transform: scale(1.1)
                )
            ),
            sizes: (
                xs: (
                    padding: rem(20px)
                ),
                md: (
                    padding: rem(20px)
                )
            )
        ),

        //
        // Pagination
        //
        pagination: (
            item: (
                padding: rem(3px),
                size: rem(26px),
                font-size: rem(15px),
                border: (
                    radius: core('border.radius.base')
                )
            ),
            pager: (
                separator: (
                    character: '|',
                    size: rem(14px),
                    width: rem(22px)
                )
            ),
            colors: (
                default: color('dls-accent-blue-02'),
                separator: color('dls-accent-gray-04'),
                hover: color('dls-accent-blue-02'),
                active: color('dls-accent-white-01'),
                block: color('dls-accent-blue-02')
            )
        ),

        //
        // Accent Bar
        //
        accent-bar: (
            size: rem(4px),
            default-type: '-default',
            types: (
                '-default': (
                    background: color('dls-cobrand-default')
                ),
                '-membership-rewards': (
                        background: linear-gradient(to right,
                        #006592 0%, #62c4db 23.21%,
                        #006b3a 46.62%, #75bb6d 72.44%,
                        #a8e064 100%
                    )
                ),
                '-offers': (
                        background: linear-gradient(to right,
                        #006592 0%, #006592 33%,
                        #009ABA 33%, #009ABA 66%,
                        #F0D041 66%, #F0D041 100%
                    )
                ),
                '-delta': (
                    background-color: color('dls-cobrand-delta')
                ),
                '-starwood': (
                    background-color: color('dls-cobrand-starwood')
                ),
                '-bluesky': (
                    background-color: color('dls-cobrand-bluesky')
                ),
                '-hilton': (
                    background-color: color('dls-cobrand-hilton')
                ),
                '-lowes': (
                    background-color: color('dls-cobrand-lowes')
                ),
                '-schwab': (
                    background-color: color('dls-cobrand-schwab')
                ),
                '-plenti': (
                    background-color: color('dls-cobrand-plenti')
                )
            )
        )

    ),

    //
    // Stylizer
    //

    // Shorthand quick access general element styling (non UI element specific)
    // With ability for managing grid breakpoints based responsiveness
    styles:(
        '.heading-1': (
            attributes: (
                font-family:#{"Helvetica Neue", "Helvetica", Arial, sans-serif},
                font-weight:500
            ),
            sizes: (
                xs: (
                    font-size: rem(13px),
                    line-height: rem(18px),
                    margin-bottom: rem(20px)
                )
            )
        ),
        '.heading-2': (
            attributes: (
                font-family:#{"Helvetica Neue", "Helvetica", Arial, sans-serif},
                font-weight:500
            ),
            sizes: (
                xs: (
                    font-size: rem(15px),
                    line-height: rem(22px),
                    margin-bottom: rem(20px)
                )
            )
        ),
        '.heading-3': (
            attributes: (
                font-family:#{"Helvetica Neue", "Helvetica", Arial, sans-serif},
                font-weight: 500
            ),
            sizes: (
                xs: (
                    font-size: rem(16px),
                    line-height: rem(24px),
                    margin-bottom: rem(20px)
                )
            )
        ),
        '.heading-4': (
            attributes: (
                font-family:#{"BentonSans", "Helvetica Neue", "Helvetica", Arial, sans-serif},
                font-weight:400,
                letter-spacing: rem(.2px)
            ),
            sizes: (
                xs: (
                    font-size: rem(20px),
                    line-height: rem(28px),
                    margin-bottom: rem(20px)
                )
            )
        ),
        // Headings (h1,h2,h3...)
        '.heading-5': (
            attributes: (
              font-family:#{"BentonSans", "Helvetica Neue", "Helvetica", Arial, sans-serif},
              font-weight:300
            ),
            sizes: (
                xs: (
                    font-size: rem(30px),
                    line-height: rem(38px),
                    margin-bottom: rem(30px)
                )
            )
        ),
        '.heading-6': (
            attributes: (
              font-family:#{"BentonSans", "Helvetica Neue", "Helvetica", Arial, sans-serif},
              font-weight:300
            ),
            sizes: (
                xs: (
                    font-size: rem(38px),
                    line-height: rem(44px),
                    margin-bottom: rem(30px)
                )
            )
        ),
        '.label-2': (
            attributes: (
                font-family:#{"Helvetica Neue", "Helvetica", Arial, sans-serif},
                font-weight: 500
            ),
            sizes: (
                xs: (
                    font-size: rem(15px),
                    line-height: rem(22px)
                )
            )
        ),
        '.body-3': (

            sizes: (
                xs: (
                    line-height: rem(24px)
                )
            )
        ),
        h1: (
            attributes: (
              font-family:#{"BentonSans", "Helvetica Neue", "Helvetica", Arial, sans-serif},
              font-weight:300
            ),
            sizes: (
                xs: (
                    font-size: rem(38px),
                    line-height: rem(44px),
                    margin-bottom: rem(30px)
                )
            ),
            children: (
                '-secondary': (
                    attributes: (font-weight: 300),
                    sizes: (
                        xs: (font-size: rem(30px), line-height: rem(38px))
                    )
                )
            )
        ),
        h2: (
            attributes: (font-family:#{"Helvetica Neue", "Helvetica", Arial, sans-serif}, font-weight:400, letter-spacing: rem(.2px)),
            sizes: (
                xs: (
                    font-size: rem(16px),
                    line-height: rem(24px),
                    margin-bottom: rem(20px)
                )
            ),
            children: (
                '-secondary': (
                    attributes: (
                      font-family:#{"BentonSans", "Helvetica Neue", "Helvetica", Arial, sans-serif},
                      font-weight: 400
                    ),
                    sizes: (
                        xs: (font-size: rem(20px), line-height: rem(28px))
                    )
                )
            )
        ),
        h3: (
            attributes: (font-family:#{"Helvetica Neue", "Helvetica", Arial, sans-serif}, font-weight:400),
            sizes: (
                xs: (
                    font-size: rem(15px),
                    line-height: rem(22px),
                    margin-bottom: rem(20px)
                )
            ),
            children: (
                '-secondary': (
                    attributes: (font-family:#{"Helvetica Neue", "Helvetica", Arial, sans-serif}, font-weight: 500),
                    sizes: (
                        xs: (font-size: rem(16px), line-height: rem(24px))
                    )
                )
            )
        ),
        h4: (
            attributes: (
                font-family:#{"Helvetica Neue", "Helvetica", Arial, sans-serif},
                font-weight: 500,
                color:color('dls-accent-gray-05'),
                text-transform: uppercase
            ),
            sizes: (
                xs: (
                    font-size: rem(13px),
                    line-height: rem(18px),
                    margin-bottom: rem(20px)
                )
            )
        ),

        //
        // Heading Classes
        //
        '.heading': (
            children: (
                '-lg': (
                    attributes: (font-weight: 300),
                    sizes: (
                        xs: (font-size: rem(28px), line-height: rem(32px)),
                        md: (font-size: rem(32px), line-height: rem(38px))
                    )
                )
            )
        ),

        strong: ( attributes: (font-weight: 500) ),
        b: (attributes: (font-weight: 500)),

        // Anchor links
        a: (
            attributes: (
                color: color('dls-accent-blue-02'),
                text-decoration:none
            ),
            children: (
                ':hover': (
                    attributes: (color: color('dls-accent-blue-02'), text-decoration: underline)
                ),
                ':focus': (
                    attributes: (text-decoration: none)
                )
            )
        ),

        '.link-white': (
            attributes: (color: color('dls-accent-white-01')!important),
            children: (
                ':hover': (
                    attributes: (color: color('dls-accent-white-01'))
                )
            )
        ),

        // Others
        'abbr[title], abbr[data-original-title]': (
            attributes: (
                border-bottom: (1px dotted color('dls-accent-gray-04'))
            )
        ),

        hr: (
            attributes: (
                border: 0,
                border-top: (1px solid color('dls-accent-gray-02'))
            ),
            children: (
                '-secondary': (
                    attributes: (border-top: (1px solid color('dls-accent-gray-03')))
                )
            )
        ),

        dt: ( attributes: (font-weight: bold) ),

        table: ( // Default <table..
            cell-padding: rem(10px),
            attributes: (
                padding: rem(10px),
                background-color: transparent
            ),
            children: (
                ' th, td': (
                    attributes: (padding: rem(10px))
                )
            )
        )
    )
);
