<div>
	<div class="smart-field">
		<div class="smart-el-placeholder">
			<legend><%= legend %></legend>
		</div>
		<div class="smart-el-field">
			<div class="label"><%= legend %></div>
			<input class="smart-el-value" value="" tabindex="-1" readonly>
		</div>
		<div class="smart-el-inputs">
			<% fields.forEach(function(field) { %>
				<div class="smart-el-input <%= field.state %>">
					<label for="<%= field.name %>"><%= field.label %></label>
					<input type="<%= field.type %>"
						id="<%= field.name %>"
						name="<%= field.name %>"
						value="<%= field.value %>"
						<%= field.described %>
						<%= field.required %>>
				</div>
			<% }); %>
		</div>
	</div>

	<div class="smart-field-validation">
		<% fields.forEach(function(field) { %>
			<%= field.validation %>
		<% }); %>
	</div>
</div>
