<div class="modal modal-<%= size %> modal-<%= theme %> <% if(animation) { %>anim-<%= animation %><% } %> <%= classes %>" role="document">
	<div class="modal-base"></div>
	<div class="modal-dialog">
		<div class="modal-header">
			<div class="modal-controls-left"><%= controlsLeft %></div>
			<div class="modal-heading">
				<div class="modal-title"><%= title %></div>
				<div class="modal-subtitle"><%= subtitle %></div>
			</div>
			<div class="modal-controls-right"><%= controlsRight %></div>
		</div>
		<div class="modal-body">
			<div class="modal-content container">
				<%= content %>
			</div>
		</div>
	</div>
</div>
