<ul class="pagination-list">
	<li class="pagination-item pagination-block" role="presentation"></li>
	<li class="pagination-item pagination-ellipsis-start" role="presentation"><span class="pagination-ellipsis" aria-hidden="true">...</span></li>
	<li class="pagination-item pagination-ellipsis-end"  role="presentation"><span class="pagination-ellipsis" aria-hidden="true">...</span></li>
</ul>

<ul class="pagination-pager">
	<li><a data-event="previous" aria-label="Previous Page">Previous</a></li>
	<li><a data-event="next" aria-label="Next Page">Next</a></li>
</ul>
