<div class="stepper">
	<button type="button" class="btn-inline stepper-subtract dls-glyph-minus"></button>
	<div class="stepper-field">
		<input type="text" class="stepper-value" value="<%= value %>" readonly />
	</div>
	<button type="button" class="btn-inline stepper-add dls-glyph-plus"></button>
</div>
