//
// Grid System
//

//
// Containers
//

.container {
    @include make-container();
    @include make-container-max-widths();

    &-fluid {
        @include make-container();
    }
}

//
// Rows
//
.row {
    @include make-row();
}

//
// Columns
//

@include make-grid-columns();

//
// Flex Variation
//

@if core('options.flex') {
    // Flex column reordering
    @each $breakpoint in map-keys(core('grid.breakpoints')) {
        @include media-breakpoint-up($breakpoint) {
            .col-#{$breakpoint} {
                &-first {
                    order: -1;
                }

                &-last {
                    order: 1;
                }
            }
        }
    }

    // Alignment for every column in row
    @each $breakpoint in map-keys(core('grid.breakpoints')) {
        @include media-breakpoint-up($breakpoint) {
            .row-#{$breakpoint} {
                &-top {
                    align-items: flex-start;
                }

                &-center {
                    align-items: center;
                }

                &-bottom {
                    align-items: flex-end;
                }
            }
        }
    }

    // Alignment per column
    @each $breakpoint in map-keys(core('grid.breakpoints')) {
        @include media-breakpoint-up($breakpoint) {
            .col-#{$breakpoint} {
                &-top {
                    align-self: flex-start;
                }

                &-center {
                    align-self: center;
                }

                &-bottom {
                    align-self: flex-end;
                }
            }
        }
    }
}
