//
// Reboot
//
// Reset to common HTML elements

html {
    box-sizing: border-box;
    font-size: get($core,'typography.font-size.root');
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

* {
    &, &::before, &::after {
        box-sizing: inherit;
    }
}

body {
    font:{
        family: core('typography.font-family');
        size: core('typography.font-size.base');
    };

    line-height: core('typography.line-height.base');
    color: prop('colors.text');
    background-color: prop('colors.background');
}

// Supress focus outline on elements that cannot be accessed via keyboard
[tabindex="-1"]:focus {
    outline: none !important;
}

button[tabindex="1"]:focus {
    outline: none !important;
}

//
// Typography
//

// Remove margins from default text
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

// Parent wrapper where all children text have margin-bottoms
.text-group {
    h1, h2, h3, h4, h5, h6 {
    	margin-bottom: rem(8px);
    }

    p {
    	margin-bottom: core('spacer.y');
    }
}

abbr[title],
abbr[data-original-title] {
    cursor: help;
}

address {
    margin-bottom: rem(16px);
    font-style: normal;
    line-height: inherit;
}

ul {
    padding-left: 1.3em;
}
ol {
    padding-left: 1.5em;
}

ol,
ul,
dl {
	margin-top: 0;
	margin-bottom: 0;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

dd {
	margin-bottom: 0;
}

blockquote {
    margin: 0 0 rem(16px);
}


//
// Sup/Sub
//

sup {
    top: 0;
    font-size: .55em;
    line-height: 1;
    vertical-align: super;
}

//
// Links
//

a {
    cursor: pointer;
    transition: color .25s ease-out, background-color .25s ease-out;
    &:focus {
        @include tab-focus();
    }
}

//
// Code
//

pre {
    margin-top: 0;
    margin-bottom: rem(16px);
}

//
// Figures
//

figure {
    margin: 0 0 rem(16px);
}

//
// Images
//

img {
    max-width: 100%;
    width: auto;
    height: auto;
    vertical-align: middle;
}

[role="button"] {
    cursor: pointer;
}

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
    touch-action: manipulation;
}

//
// Tables
//

table {
    width: 100%;
}

caption {
    padding:{
        top: prop('styles.table.cell-padding');
        bottom: prop('styles.table.cell-padding');
    }
    color: prop('colors.muted');
    text-align: left;
    caption-side: bottom;
}

th {
    text-align: left;
}

//
// Forms
//

label {
    display: inline-block;
    margin-bottom: rem(5px);
}

button:focus {
    @include tab-focus();
}

input,
button,
select,
textarea {
    margin: 0;
    line-height: inherit;
    border-radius: 0;
}

textarea {
    resize: vertical;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: rem(8px);
    font-size: rem(24px);
    line-height: inherit;
}

input[type="search"] {
    box-sizing: inherit;
    -webkit-appearance: none;
}

[hidden] {
    display: none !important;
}
