//
// Typography
//

//
// headings
//

.heading-6 {
    font-family: 'BentonSans', 'Helvetica Neue', helvetica, sans-serif;
    font-weight: 300;
    font-size: 2.375rem;
    line-height: 2.75rem;
}

.heading-5 {
    font-family: 'BentonSans', 'Helvetica Neue', helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.875rem;
    line-height: 2.375rem;
}

.heading-4 {
    font-family: 'BentonSans', 'Helvetica Neue', helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.250rem;
    line-height: 1.75rem;
}

.heading-3 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.0rem;
    line-height: 1.5rem;
}

.heading-2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 1.375rem;
}

.heading-1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.813rem;
    line-height: 1.125rem;
    text-transform: uppercase;
}



//
// label
//


.label-2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 1.375rem;
    margin-bottom: 0.3125rem;
}

.label-1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.813rem;
    line-height: 1.125rem;
    text-transform: uppercase;
}



//
// body
//


.body-3 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}

.body-2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.938rem;
    line-height: 1.375rem;
}

.body-1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 1.375rem;
}



//
// Horizontal Rules
//

hr {
    margin: {
        top: core('spacer.y');
        bottom: core('spacer.y');
    };
}
