//
// Progress Bar
//

$module: progress;

.#{$module}-bar {
    @extend .progress;
    width: auto;
    height: prop('ui.progress.bar.size.base.bar');
    background-color: prop('ui.progress.bar.colors.base');

    .#{$module}-track {
        position: relative;
        width: auto;
        height: 100%;
        background-color: prop('ui.progress.bar.colors.progress');
        @extend .anim-bar-determinate;
    }

    &.#{$module}-indeterminate {
        .#{$module}-track {
            position: static;
            width: auto;
            height: auto;
            transition: none;
            @extend .anim-bar-indeterminate;
        }
    }
}
