//
// Progress Circle
//

$module: progress;

.#{$module}-circle {

    @extend .progress;

    &.#{$module}-determinate {
        position: relative;

        svg {
            position: relative;
            width: 100%;
            height: 100%;
            transform: rotate(270deg);
        }

        circle {
            fill: none;

            &:nth-child(1) {
                stroke: prop('ui.progress.circle.colors.base');
            }

            &:nth-child(2) {
                stroke: {
                    alignment: inner;
                    dashoffset: 0;
                    miterlimit: 100;
                };

                stroke: prop('ui.progress.circle.colors.progress');
                will-change: stroke-dasharray;
                transition: stroke-dasharray prop('ui.progress.circle.animation.time') prop('ui.progress.circle.animation.easing');
            }
        }

        .#{$module}-value {
            position: absolute;
            top: 50%;
            width: 100%;
            margin-top: -.5em;
            line-height: 1;
            text-align: center;
            color: prop('ui.progress.circle.colors.progress');

            &:empty:before {
                content: counter(count);
            }

            &:after {
                content: '%';
            }
        }

        //
        // Size Modifiers
        //
        @each $mod, $size in ('': 'base', '.#{$module}-sm': 'small', '.#{$module}-lg': 'large') {
            &#{$mod} {
                width: prop('ui.progress.circle.size.#{$size}.size');
                height: prop('ui.progress.circle.size.#{$size}.size');

                circle {
                    r: (prop('ui.progress.circle.size.#{$size}.size') * .5) - (prop('ui.progress.circle.size.#{$size}.bar') * .5);
                    stroke-width: prop('ui.progress.circle.size.#{$size}.bar');

                    &:nth-child(2) {
                        stroke-width: prop('ui.progress.circle.size.#{$size}.bar');
                    }
                }

                .#{$module}-value {
                    font-size: prop('ui.progress.circle.size.#{$size}.font-size');
                }
            }
        }
    }

    &.#{$module}-indeterminate {
        display: inline-flex;
        align-items: center;

        &:before {
            position: relative;
            display: block;
            content: '';
            border: {
                style: solid;
                color: prop('ui.progress.circle.colors.base');
                left-color: prop('ui.progress.circle.colors.progress');
            };

            transform: translateZ(0);
            @extend .anim-spinner-indeterminate;
            border-radius: 50%;
        }

        //
        // Size Modifiers
        //
        @each $mod, $size in ('': 'base', '.#{$module}-sm': 'small', '.#{$module}-lg': 'large') {
            &#{$mod} {
                &:before {
                    width: prop('ui.progress.circle.size.#{$size}.size');
                    height: prop('ui.progress.circle.size.#{$size}.size');
                    border-width: prop('ui.progress.circle.size.#{$size}.bar');
                }
            }
        }
    }
}
