//
// Checkbox
//

$module: checkbox;

.#{$module} {

    input[type="checkbox"] {
        position: absolute;
        width: 0;
        opacity: 0;
        z-index: 1;
        min-height: 0;

        @include hover {

            + label {
                color: prop('ui.checkbox.colors.default.label');
                &:before {
                    border-color: prop('ui.checkbox.colors.hover.border');
                    background-color: prop('ui.checkbox.colors.hover.background');
                }

                &:after {
                    color: prop('ui.checkbox.colors.hover.checked');
                }
            }
        }

        &.focus + label:before,
        &:focus + label:before {
            border-color: prop('ui.checkbox.colors.hover.border');
        }

        &:checked + label {
            color: prop('ui.checkbox.colors.default.label');
            &:before {
                border-color: prop('ui.checkbox.colors.selected.border');
                background-color: prop('ui.checkbox.colors.selected.background');
            }

            &:after {
                color: prop('ui.checkbox.colors.selected.checked');
                visibility: visible;
            }
        }

        &.disabled,
        &:disabled {
            + label {
                color: prop('ui.checkbox.colors.disabled.label');
                cursor: not-allowed;

                &:before {
                    cursor: not-allowed;
                    border-color: prop('ui.checkbox.colors.disabled.border');
                    background-color: prop('ui.checkbox.colors.disabled.background');
                }

                &:after {
                    color: prop('ui.checkbox.colors.disabled.checked');
                }
            }

            &:checked {
                + label {
                    &:before {
                        background-color: prop('ui.checkbox.colors.disabled.selected.background');
                    }
                }
            }
        }
    }

    label {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        @include insert-attributes(prop('ui.checkbox.label'));
        color: prop('ui.checkbox.colors.default.label');
        text-transform: inherit;

        &:before {
            position: absolute;
            left: 0;
            display: inline-block;
            content: '';
            border: prop('ui.checkbox.border.width') solid prop('ui.checkbox.colors.default.border');
            background-color: prop('ui.checkbox.colors.default.background');
            transition: border .25s ease-out, background-color .25s ease-out;
        }

        &:after {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            @include icon(prop('ui.checkbox.checked-icon'));
            visibility: hidden;
        }
    }

    &-inline {
        margin-top: 0!important;

        label {
            margin-bottom: prop('ui.input.group.margin-bottom');
        }

        &:first-child:not(:last-child),
        + .#{$module} {
            label {
                padding-right: prop('ui.input.label.padding-right');
            }
        }
    }

    //
    // Size Modifiers
    //
    @each $size, $mod in (
        'base': (prefix:'', suffix:''),
        'small': (prefix:'.#{$module}', suffix:'-sm'),
        'large': (prefix:'.#{$module}', suffix:'-lg')
    ) {
        $prefix: get($mod, 'prefix');
        $suffix: get($mod, 'suffix');

        &#{$suffix} {
            padding-left: prop('ui.checkbox.size.#{$size}');
            font-size: core('typography.font-size.#{$size}');
            line-height: core('typography.line-height.#{$size}');

            label {
                min-height: prop('ui.checkbox.size.#{$size}');
                line-height: prop('ui.checkbox.size.#{$size}');

                &:before {
                    width: prop('ui.checkbox.size.#{$size}');
                    height: prop('ui.checkbox.size.#{$size}');
                    margin-left: -(prop('ui.checkbox.size.#{$size}'));
                    @include border-radius( prop('ui.checkbox.border.radius.#{$size}') )
                }

                &:after {
                    font-size: (core('typography.font-size.#{$size}') * .9);
                    line-height: prop('ui.checkbox.size.#{$size}');

                    width: prop('ui.checkbox.size.#{$size}');
                    height: prop('ui.checkbox.size.#{$size}');
                    margin-left: -(prop('ui.checkbox.size.#{$size}'));
                }
            }
        }
    }
}
