//
// Icon support for input fields
//

$module: input;

.#{$module}-icon {
    position: relative;

    > .icon {
        position: absolute;
        top: 0;
        bottom: 0;
        line-height: 1;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        font-style: normal;

        margin: {
            left: prop('ui.input.padding.base.x');
            right: prop('ui.input.padding.base.x');
        };

        &:before {
            font-size: core('typography.font-size.base') * 1.2;
            line-height:1;
        }
    }

    &,
    &-right {

        > .form-control {
            padding-right: (prop('ui.input.padding.base.x') * 3);
        }

        > .icon {
            right: 0;
            left: auto;
        }
    }

    &-left {
        > .form-control {
            padding-left: (prop('ui.input.padding.base.x') * 3);
        }

        > .icon {
            right: auto;
            left: 0;
        }
    }

    //
    // Validation Glyph
    //
    &-validation {
        &:before {
            @include icon('dls-icon-check');
            color: prop('ui.input.colors.validation.success');
            transform:scale(0);
            transition: transform prop('ui.input.addon.status.animation.time') ease-out;
        }

        .has-success &:before {
            transform:scale(1);
        }
    }
}
