//
// Input Status
//
// Enables a status bar to be added to input fields
// for use with purposes such as live validation.

$module: input;

.#{$module}-status {

    position: relative;

    &:after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        overflow:hidden;
        width: 0%;
        height: prop('ui.input.addon.status.bar.height');
        background-color: prop('ui.input.colors.validation.success');
        transition: width 1s;

        @include border-radius(0 0 prop('ui.input.border.radius.base') prop('ui.input.border.radius.base'));
    }

    &-valid {
        &:after {
            width:100%;
        }
    }
}
