//
// Input Group
//

$module: form;

.input-group {
    position: relative;

    @if core('options.flex') {
        display: flex;
    } @else {
        display:table;
        border-collapse: separate;
    }

    .#{$module}-control {
        position: relative;
        margin-bottom: 0;
        z-index: 2;

        @include hover-focus-active {
            z-index: 3;
        }

        @if core('options.flex') {
            flex: 1;
        } @else {
            float: left;
            width: 100%;
        }
    }

    &-addon,
    &-btn,
    &.#{$module}-control {
        @if not core('options.flex') {
            display: table-cell;
        }

        &:not(:first-child):not(:last-child) {
            @include border-radius(0);
        }
    }

    &-addon,
    &-btn {
        @if not core('options.flex') {
            width: 1%;
        }

        white-space: nowrap;
        vertical-align: middle;
    }

    //
    // Text Input Groups
    //

    &-addon {
        padding: prop('ui.input.padding.base.y') prop('ui.input.padding.base.x');
        font-size: core('typography.font-size.base');
        font-weight: normal;
        line-height: inherit;
        color: prop('ui.input.colors.text.default');
        text-align: center;
        background-color: prop('ui.input.colors.group-addon.background');
        border: prop('ui.input.border.width') solid prop('ui.input.colors.border.default');
        transition: border-color 0.25s ease-out;
        @include border-radius(core('border.radius.base'));

        &.#{$module}-control-sm {
            padding: prop('ui.input.padding.small.y') prop('ui.input.padding.small.x');
            font-size: core('typography.font-size.small');
            @include border-radius(core('border.radius.small'));
        }

        &.#{$module}-control-lg {
            padding: prop('ui.input.padding.large.y') prop('ui.input.padding.large.x');
            font-size: core('typography.font-size.large');
            @include border-radius(core('border.radius.large'));
        }

        input[type="radio"],
        input[type="checkbox"] {
            margin-top: 0;
        }

        .has-warning & {
            border-color: prop('ui.input.colors.border.warning');
        }
    }

    //
    // Reset corners
    //

    .#{$module}-control:first-child,
    &-addon:first-child,
    &-btn:first-child > .btn,
    &-btn:first-child > .btn-group > .btn,
    &-btn:first-child > .dropdown-toggle,
    &-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
    &-btn:last-child > .btn-group:not(:last-child) > .btn {
        @include border-right-radius(0);
    }

    &-addon:first-child {
        border-right: 0;
    }

    .#{$module}-control:last-child,
    &-addon:last-child,
    &-btn:last-child > .btn,
    &-btn:last-child > .btn-group p> .btn,
    &-btn:last-child > .dropdown-toggle,
    &-btn:first-child > .btn:not(:first-child),
    &-btn:first-child > .btn-group:not(:first-child) > .btn {
        @include border-left-radius(0);
    }

    &-addon:last-child {
        border-left:0;
    }

    //
    // Button input groups
    //

    &-btn {
        position: relative;
        font-size: 0;

        > .btn {
            position: relative;
            + .btn {
                margin-left: (-(prop('ui.input.border.width')));
            }

            @include hover-focus-active {
                z-index: 3;
            }
        }

        &:first-child > .btn,
        &:first-child > .btn-group {
            margin-right: (-(prop('ui.input.border.width')));
        }

        &:last-child > .btn,
        &:last-child > .btn-group {
            z-index: 2;
            margin-left: (-(prop('ui.input.border.width')));

            @include hover-focus-active {
                z-index: 3;
            }
        }
    }
}
