//
// Radio
//

$module: radio;

.#{$module} {
    input[type="radio"] {
        position: absolute;
        width: 0;
        opacity: 0;
        z-index: 1;
        min-height: 0;

        @include hover {
            + label {
                color: prop('ui.radio.colors.hover.label');
                &:before {
                    border-color: prop('ui.radio.colors.hover.border');
                    background-color: prop('ui.radio.colors.hover.background');
                }

                &:after {
                    background-color: prop('ui.radio.colors.hover.checked');
                }
            }
        }

        &.focus + label:before,
        &:focus + label:before {
            border-color: prop('ui.radio.colors.hover.border');
        }

        &:checked + label {
            color: prop('ui.radio.colors.selected.label');
            &:before {
                border-color: prop('ui.radio.colors.selected.border');
                background-color: prop('ui.radio.colors.selected.background');
            }

            &:after {
                opacity: 1!important;
                transform: scale(1)!important;
                background-color: prop('ui.radio.colors.selected.checked');
            }
        }

        &.disabled + label,
        &:disabled + label {
            color: prop('ui.radio.colors.disabled.label');
            cursor: not-allowed;

            &:before {
                cursor: not-allowed;
                border-color: prop('ui.radio.colors.disabled.border');
                background-color: prop('ui.radio.colors.disabled.background');
            }

            &:after {
                background-color: prop('ui.radio.colors.disabled.checked');
            }
        }
    }

    label {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        @include insert-attributes(prop('ui.radio.label'));

        color: prop('ui.radio.colors.default.label');
        text-transform: inherit;

        &:before {
            position: absolute;
            left: 0;
            display: inline-block;
            content: '';
            border: prop('ui.radio.border.width') solid prop('ui.radio.colors.default.border');
            background-color: prop('ui.radio.colors.default.background');
            border-radius: 50%;
            will-change: border;
            transition: border 0.25s ease-out;
        }

        &:after {
            position: absolute;
            display: inline-block;
            content: '';
            background-color: prop('ui.radio.colors.default.checked');
            border-radius: 50%;
            will-change: transform, opacity;
            transform: scale(0);

            transition: transform .25s ease-out, opacity .25s ease-out;
        }
    }

    &-inline {
        margin-top: 0!important;

        label {
            margin-bottom: prop('ui.input.group.margin-bottom');
        }

        &:first-child:not(:last-child) label,
        + .#{$module} label {
            padding-right: prop('ui.input.label.padding-right');
        }
    }

    //
    // Size Modifiers
    //
    @each $size, $mod in (
        'base': (prefix:'', suffix:''),
        'small': (prefix:'.#{$module}', suffix:'-sm'),
        'large': (prefix:'.#{$module}', suffix:'-lg')
    ) {
        $prefix: get($mod, 'prefix');
        $suffix: get($mod, 'suffix');

        &#{$suffix} {
            padding-left: prop('ui.radio.size.#{$size}.outer');
            font-size: core('typography.font-size.#{$size}');
            line-height: core('typography.line-height.#{$size}');

            label {
                min-height: prop('ui.radio.size.#{$size}.outer');
                line-height: prop('ui.radio.size.#{$size}.outer');

                &:before {
                    width: prop('ui.radio.size.#{$size}.outer');
                    height: prop('ui.radio.size.#{$size}.outer');
                    margin-left: -(prop('ui.radio.size.#{$size}.outer'));
                }

                &:after {
                    left: ((prop('ui.radio.size.#{$size}.outer') - prop('ui.radio.size.#{$size}.inner'))*0.5);
                    top: ((prop('ui.radio.size.#{$size}.outer') - prop('ui.radio.size.#{$size}.inner'))*0.5);
                    width: prop('ui.radio.size.#{$size}.inner');
                    height: prop('ui.radio.size.#{$size}.inner');
                    margin-left: -(prop('ui.radio.size.#{$size}.outer'));
                }
            }
        }
    }
}
