//
// Required
//

.required {
    &:after {
        font-family:'dls-icons';
        @include icon('dls-glyph-asterisk');
        color: prop('ui.input.colors.required.default');
    }

    .has-success &,
    &.has-success {
        &:after {
            color: prop('ui.input.colors.required.success');
        }
    }

    .has-warning &,
    &.has-warning {
        &:after {
            color: prop('ui.input.colors.required.warning');
        }
    }
}
