//
// Search
//

$module: search;

.#{$module} {
    position: relative;

    > button {
        @include button-reset();
        position: absolute;
        display: flex;
        top: 0;
        right: 0;
        bottom: 0;
        text-align: center;

        text-align: center;
        justify-content: center;
        align-items: center;
        font-style: normal;
        font-size: 0.7em;

        color: prop('ui.input.colors.search-icon.default');
    }

    > input {
        @extend .form-control;

        @include focus {
            + button {
                color: prop('ui.input.colors.search-icon.focus');
            }
        }

        &::-ms-clear {
            display: none;
        }

        &:disabled + button,
        .disabled + button {
            color: prop('ui.input.colors.search-icon.disabled');
            cursor: not-allowed;
        }
    }

    &-state {
        @extend .#{ prop('ui.input.search.state.default') };
        pointer-events: none;

        &:before {
            font-size:22px;
        }
    }

    &[data-state="searching"] {
        .#{$module}-state {
            @extend .progress-circle;
            @extend .progress-indeterminate;
            @extend .progress-sm;
            position: absolute;
        }
    }

    &[data-state="active"] {
        .#{$module}-state {
            @extend .#{ prop('ui.input.search.state.active') };

            &:before {

                font-size: 15px;
            }
        }

        > button {
            color: prop('ui.input.colors.search-icon.active');
        }
    }

    .null .dropdown-menu,
    .simple .dropdown-menu,
    .advanced .dropdown-menu {
        width:100%;
    }

    .null .dropdown-item,
    .simple .dropdown-item,
    .advanced .dropdown-item {
        white-space: nowrap;
         overflow: hidden;
        text-overflow: ellipsis;
        border-bottom:1px solid #EDEDED;
        font-size:.9rem;

    }
    .advanced .dropdown-item {
        &:first-child {
            text-transform: uppercase;
            background-color: #EDEDED;
        }
        &:last-child {
            text-align: center;
            border-bottom: none;
        }
    }

    //
    // Size Modifiers
    //
    @each $size, $mod in (
        'base': (prefix:'', suffix:''),
        'small': (prefix:'.#{$module}', suffix:'-sm'),
        'large': (prefix:'.#{$module}', suffix:'-lg')
    ) {
        $prefix: get($mod, 'prefix');
        $suffix: get($mod, 'suffix');

        &#{$prefix} {
            > input {
                @extend .form-control;
                padding-right: prop('ui.input.search.sizes.#{$size}.width');
            }

            > button {
                width: prop('ui.input.search.sizes.#{$size}.width');
            }
        }
    }
}
