//
// Select fields
//
// This component requires JavaScript interpretation to function
// It will not become active without JavaScript

$module: select;

.#{$module} {

    &[data-rendered] {
        position: relative;
        max-width: prop('ui.input.select.max-width');

        &.#{$module}-fluid {
            max-width: none;
        }

        &:before {
            content: attr(data-value);
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
        }

        &:after {
            position: absolute;
            top: 50%;
            right: 0;
            color: prop('ui.input.colors.caret.default');
            font-size:rem(17px);
            @include icon( prop('ui.input.select.caret.icon') );
            line-height: 1;
            margin-top: -.5em;

            transform: prop('ui.input.select.caret.transform');
            transition: color .25s ease-out;
        }

        &.focus:after {
            color: prop('ui.input.colors.caret.focus');
        }

        select {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            cursor: pointer;
            font-size:rem(16px);

            border: 0;
            background: transparent;
            opacity: 0;
        }

        .has-warning:after {
            color: prop('ui.input.colors.caret.warning');
        }

        .disabled & {
            color: prop('ui.input.colors.caret.disabled');
        }

        //
        // Size Modifiers
        //
        @each $size, $mod in (
            'base': (prefix:'', suffix:''),
            'small': (prefix:'.#{$module}', suffix:'-sm'),
            'large': (prefix:'.#{$module}', suffix:'-lg')
        ) {
            $prefix: get($mod, 'prefix');
            $suffix: get($mod, 'suffix');

            &#{$prefix}#{$suffix} {
                @extend .form-control#{$suffix};

                &:after {
                    margin-right: prop('ui.input.padding.#{$size}.x');
                }

                select {
                    padding-right: (prop('ui.input.padding.#{$size}.x') * 3);
                }
            }
        }

        &.disabled {
            color: prop('ui.input.colors.select.disabled.color');
            border-color: prop('ui.input.colors.select.disabled.border-color');
        }

    }
  }
