//
// Iconfont
//
// Manages the config for icon fonts.
//
// WARNING:
// This file is generated dynamically via Gulp task (iconfonts)
// and should not be manually edited.

$icon-font: (
    font: (
        font-family: '<%= options.fontName %>',
        font-weight: 400,
        src: (<% _.each(options.formats, function(format) { %>
            <%= format %>: '<%= relPath %><%= options.fileName %>.<%= format %>?v=1.22',<% }); %>
        )
    ),
    icons: (<% _.each(icons, function(icon) { %>
        <%= icon.name %>: '<%= icon.unicode %>',<% }); %>
    ),
    svg: (
        path: '<%= svgRelPath %>'
    )
);
