//
// Iconography
//

//
// Glyph
//
.glyph {
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    font-size: core('glyph.sizes.base');
}


//
// Icon
//
.icon {
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    line-height:1;
    font-size: core('icon.sizes.base');

    &-sm {
        font-size: core('icon.sizes.sm');
    }

    &-md {
        font-size: core('icon.sizes.base');
    }

    &-lg {
        font-size: core('icon.sizes.lg');
    }

    &-xl {
        font-size: core('icon.sizes.xl');
    }

    &-link {
        @include hover {
            text-decoration: none;
        }
    }
}
