//
// Nav
//

$module: nav;

.#{$module} {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;

    //
    // Nav Item
    //
    &-item {
        &.open,
        &.active {
            background-color: prop('ui.nav.colors.core.background.expanded');

            > .accordion-toggle {
                font-weight: prop('ui.nav.font-weight.accordion.open');
            }

            > .#{$module}-link {
                text-decoration: none;
                color: prop('ui.nav.colors.link.open');

                @include hover {
                    color: prop('ui.nav.colors.link.hover');
                    background-color: prop('ui.nav.colors.core.background.active');
                }
            }
        }

        &.open.active > .#{$module}-link {
            color: prop('ui.nav.colors.link.active')!important;
        }
    }

    //
    // Accordion
    //
    &-item.accordion {
        > .#{$module}-link:after {
            position: absolute;
            content: '';
            top: 0;
            right: 0;
            bottom: 0;
            left: - (prop('ui.nav.padding.accordion.indent.base') * 2);
            transition: background-color .25s ease-out;
            z-index:-1;
        }

        &.active > .#{$module}-link {
            background-color: transparent;
            z-index: 1;

            &:after {
                background-color: prop('ui.nav.colors.core.background.inner-hover');
                z-index: -1;
            }
        }

        .accordion-content {

            .#{$module}-link {
                margin-left: prop('ui.nav.padding.accordion.indent.base');
                z-index:1;
                background-color: transparent!important;

                &:after {
                    position: absolute;
                    content: '';
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: - (prop('ui.nav.padding.accordion.indent.base') * 2);
                    transition: background-color .25s ease-out;
                    z-index:-1;
                }

                @include hover {
                    &:after {
                        background-color: prop('ui.nav.colors.core.background.inner-hover');
                    }
                }
            }

            .#{$module}-item {
                overflow: hidden;

                &.active > .#{$module}-link {
                    color: prop('ui.nav.colors.link.accordion.active');
                    &:after {
                        background-color: prop('ui.nav.colors.core.background.active');
                    }
                }

                .accordion-content .#{$module}-link {
                    margin-left: (prop('ui.nav.padding.accordion.indent.base') * 2);
                }

                &:not(.accordion) .#{$module}-link {
                    @include hover {
                        color: prop('ui.nav.colors.link.accordion.hover');
                    }
                }
            }
        }
    }

    //
    // Nav link
    //
    &-link {
        position: relative;
        display: inline-block;
        user-select: none;
        -webkit-user-select: none;
        font-size: core('typography.font-size.small');
        @include hover {
            text-decoration: none;
            color: prop('ui.nav.colors.link.hover');
            background-color: prop('ui.nav.colors.core.background.hover');

            .accordion-content & {
                background-color: prop('ui.nav.colors.core.background.inner-hover');
            }
        }

        &.disabled {
            color: prop('ui.nav.colors.link.disabled');

            @include plain-hover {
                color: prop('ui.nav.colors.link.disabled-hover');
                cursor: not-allowed;
                background-color: transparent;
            }
        }
    }

    //
    // Nav Carets
    //
    &.#{$module}-caret-before {
        .#{$module}-link {
            padding-left: (prop('ui.nav.caret.spacer') + prop('ui.nav.padding.base.x'));
            padding-right: prop('ui.nav.padding.base.x');

            &.dropdown-toggle::before ,
            &.accordion-toggle::before ,
            &.caret::before  {
                left: prop('ui.nav.padding.base.x');
                right: auto;
            }
        }
    }

    &.#{$module}-caret-after {
        .#{$module}-link {
            padding-left: prop('ui.nav.padding.base.x');
            padding-right: ( prop('ui.nav.caret.spacer') + prop('ui.nav.padding.base.y') + rem(5px) );

            &.dropdown-toggle::before,
            &.accordion-toggle::before,
            &.caret::before {
                left: auto;
                right: 0;
                margin-right: prop('ui.nav.padding.base.x');
            }
        }
    }

    &.#{$module}-caret-none {
        .#{$module}-link {
            padding-left: prop('ui.nav.padding.base.x');
            padding-right: prop('ui.nav.padding.base.x');
            &:before {
                display: none;
                content: '';
            }
        }
    }

    //
    // Bordered navigation
    //
    &-bordered {
        border: prop('ui.nav.border.width') solid prop('ui.nav.colors.border');
    }

    .dropdown {
        &-menu {
            @include border-radius(prop('ui.dropdown.border.radius.nav.base'));
        }
    }
}

//
// Tabbable tabs
//
.tab-content {
    > .tab-pane {
        display: none;
    }

    > .active {
        display: block;
    }
}
