//
// Nav Pills
//

$module: nav;

.#{$module} {
    //
    // Pills
    //
    &-pills {
        @include clearfix();

        .#{$module} {
            &-item {
                float: left;

                + .#{$module}-item {
                    margin-left: .2rem;
                }
            }

            &-link {
                display: block;
                padding: prop('ui.nav.padding.base.y') prop('ui.nav.padding.base.x');
                background-color: inherit;
                @include border-radius(prop('ui.nav.border.radius'));
            }

            &-link.active,
            &-item.open .#{$module}-link {
                @include plain-hover-focus {
                    color: prop('ui.nav.colors.link.active-color');
                    cursor: default;
                    background-color: prop('ui.nav.colors.link.active-background');
                }
            }
        }
    }
}
