//
// Nav Base (Direction)
//

$module: nav;

.#{$module}-horizontal,
.#{$module}-vertical {
    .#{$module}-link {
        display: block;
        padding: prop('ui.nav.padding.base.y') prop('ui.nav.padding.base.x');
        border: core('border.width') solid transparent;
        @include border-radius(0);

        @include hover-focus {

        }

        &.disabled {
            @include plain-hover-focus {

            }
        }
    }
}

//
// Horizontal Mode
//
.#{$module}-horizontal {
    position: relative;
    vertical-align: middle;

    .#{$module}-item {
        flex: 1;

        &.open > .#{$module}-link {
            &.dropdown-toggle:before,
            &.caret:before {
                @include icon( prop('ui.nav.dropdown.caret.icon.active') );
                transform: prop('ui.nav.dropdown.caret.icon.active-transform');
                color: prop('ui.nav.dropdown.caret.colors.active');
            }
        }
    }

    .#{$module}-link {
        padding-right: ( prop('ui.nav.caret.spacer') + prop('ui.nav.padding.base.y') + rem(5px) );

        &.dropdown-toggle:before,
        &.caret:before {
            position:absolute;
            top: 50%;
            right: 0;
            margin-right: prop('ui.nav.padding.base.x');

            @include icon( prop('ui.nav.dropdown.caret.icon.default') );
            color: prop('ui.nav.dropdown.caret.colors.default');

            transform: prop('ui.nav.dropdown.caret.icon.default-transform');
            transition: color .25s ease-out, transform .25s ease-out;
        }

        @include hover {
            &.accordion-toggle:before,
            &.caret:before {
                color: prop('ui.nav.dropdown.caret.colors.hover');
            }
        }
    }

    &-flex {
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        .#{$module}-item {
            flex: 1;
        }
    }

    &-inline-flex {
        display: inline-flex;
        flex-flow: row wrap;
        align-items: center;

        .#{$module}-item {
            flex: 1;
        }
    }
}

//
// Vertical Mode
//
.#{$module}-vertical {
    .#{$module}-item {

        &.open > .#{$module}-link {
            &.accordion-toggle:before ,
            &.caret:before  {
                @include icon( prop('ui.caret.icon.active') );
                transform: prop('ui.caret.icon.active-transform');
                color: prop('ui.caret.colors.active');
            }
        }
    }

    .#{$module}-link {
        padding-left: (prop('ui.nav.caret.spacer') + prop('ui.nav.padding.base.x'));
        border: 0;

        &.accordion-toggle:before,
        &.caret:before {
            position: absolute;
            top: 50%;
            left: prop('ui.nav.padding.base.x');

            @include icon( prop('ui.caret.icon.default') );

            color: prop('ui.caret.colors.default');
            line-height: 1;
            margin-top: -.5em;

            transform: prop('ui.caret.icon.default-transform');
            transition: color .25s ease-out, transform .25s ease-out;
        }

        @include hover {
            &.accordion-toggle:before,
            &.caret:before {
                color: prop('ui.caret.colors.hover');
            }
        }
    }

    .#{$module}-item {
        display: block;
        float: none;

        + .#{$module}-item {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}
