//
// Nav Tabs
//

$module: nav;

.#{$module}-tabs {
    padding-top: prop('ui.nav.tab.regular.active-offset');
    border-bottom: prop('ui.nav.border.width') solid prop('ui.nav.colors.tab.regular.default.border');
    @include clearfix();

    .#{$module}-item {
        position: relative;
        float: left;
        text-align: center;
        margin-bottom: -(prop('ui.nav.border.width'));
        margin-right: -(prop('ui.nav.border.width'));
        min-width: prop('ui.nav.tab.regular.min-width');

        &:last-child {
            margin-right: 0;
        }
    }

    .#{$module}-link {
        position: relative;
        display: block;
        padding: prop('ui.nav.tab.regular.padding.base.y') prop('ui.nav.tab.regular.padding.base.x');
        color: prop('ui.nav.colors.tab.regular.default.text');
        text-transform: prop('ui.nav.tab.regular.text-transform');
        font-weight: prop('ui.nav.tab.regular.font-weight');
        font-size: prop('ui.nav.tab.regular.font-size.base');
        z-index: 1;

        transition: color prop('ui.nav.tab.regular.animation.time') prop('ui.nav.tab.regular.animation.easing');

        &:before {
            position: absolute;
            content: '';
            top: -(prop('ui.nav.border.width'));
            right: -(prop('ui.nav.border.width'));
            bottom: -(prop('ui.nav.border.width'));
            left: -(prop('ui.nav.border.width'));
            z-index: -1;

            border: prop('ui.nav.border.width') solid transparent;
            border-color: prop('ui.nav.colors.tab.regular.default.border')
                prop('ui.nav.colors.tab.regular.default.border')
                prop('ui.nav.colors.tab.regular.default.border');

            background-color: prop('ui.nav.colors.tab.regular.default.background');
            box-shadow: prop('ui.nav.colors.tab.regular.default.box-shadow');

            transition:
                background-color prop('ui.nav.tab.regular.animation.time') prop('ui.nav.tab.regular.animation.easing'),
                box-shadow 2s prop('ui.nav.tab.regular.animation.easing'),
                top prop('ui.nav.tab.regular.animation.time') prop('ui.nav.tab.regular.animation.easing');
        }

        @include hover {
            color: prop('ui.nav.colors.tab.regular.hover.text');
            &:before {
                background-color: prop('ui.nav.colors.tab.regular.hover.background');
                box-shadow: prop('ui.nav.colors.tab.regular.hover.box-shadow');
                border-color: prop('ui.nav.colors.tab.regular.hover.border')
                    prop('ui.nav.colors.tab.regular.hover.border')
                    prop('ui.nav.colors.tab.regular.default.border');
            }
        }
    }


    .#{$module}-link.active,
    .#{$module}-link[aria-selected="true"],
    .#{$module}-item.open .#{$module}-link {
        @include plain-hover {
            color: prop('ui.nav.colors.tab.regular.active.text');
            &:before {
                background-color: prop('ui.nav.colors.tab.regular.active.background');
                box-shadow: prop('ui.nav.colors.tab.regular.active.box-shadow');
                border-color: prop('ui.nav.colors.tab.regular.active.border') prop('ui.nav.colors.tab.regular.active.border') transparent;
                top: -(prop('ui.nav.tab.regular.active-offset'));
            }
        }
    }

    //
    // Light tabs
    //
    &-light {

        @include clearfix();

        .#{$module}-item {
            float: left;
            text-align: center;
            margin-bottom: -(prop('ui.nav.border.width'));
            min-width: prop('ui.nav.tab.regular.min-width');
        }

        .#{$module}-link {
            display: block;
            padding: prop('ui.nav.tab.light.padding.base.y') prop('ui.nav.tab.light.padding.base.x');
            background-color: prop('ui.nav.colors.tab.light.default.background');
            color: prop('ui.nav.colors.tab.light.default.text');
            border: 0;
            color: prop('ui.nav.colors.tab.light.default.text');
            text-transform: prop('ui.nav.tab.light.text-transform');
            font-weight: prop('ui.nav.tab.light.font-weight');
            font-size: prop('ui.nav.tab.light.font-size.base');
            transition: color prop('ui.nav.tab.light.animation.time') prop('ui.nav.tab.light.animation.easing'),
                        background-color prop('ui.nav.tab.light.animation.time') prop('ui.nav.tab.light.animation.easing');

            &:before {
                position: absolute;
                content: '';
                left: 0;
                bottom: 0;
                width: 100%;
                height: prop('ui.nav.tab.light.keyline.size');
                background-color: prop('ui.nav.colors.tab.light.default.keyline');
                transition: background-color prop('ui.nav.tab.light.animation.time') prop('ui.nav.tab.light.animation.easing');
            }

            @include hover {
                color: prop('ui.nav.colors.tab.light.hover.text');
                background-color: prop('ui.nav.colors.tab.light.hover.background');
                &:before {
                    background-color: prop('ui.nav.colors.tab.light.hover.keyline');
                }
            }
        }

        .#{$module}-link.active,
        .#{$module}-link[aria-selected="true"],
        .#{$module}-item.open .#{$module}-link {
            @include plain-hover {
                color: prop('ui.nav.colors.tab.light.active.text');
                background-color: prop('ui.nav.colors.tab.light.active.background');

                &:before {
                    background-color: prop('ui.nav.colors.tab.light.active.keyline');
                }
            }
        }

        //
        // Dropdowns
        //
        .dropdown-menu {
            margin-top: -1px;
            @include border-top-radius(0);
        }

    }
}

//
// Tab aria behavours
//
[role="tabpanel"][aria-hidden="true"] {
    display: none;
}
