//
// Accordion
//
// NOTE: May only be used in conjunction with a .nav-vertical menu

$module: accordion;

.nav-vertical .#{$module} {
    position: relative;

    &-toggle {
        position: relative;
        text-align: left;

        &:focus {
            // outline: 0;
        }
    }

    &-content {
        will-change: height;
    }
}

.nav-vertical .#{$module}:not(.open) {
    > .#{$module}-content {
        display: none;
    }
}
