//
// Border Radius Mixins
//

@mixin border-radius($radius) {
    @if not $radius {$radius:core('border.radius.base');}
    @if core('border.radius-enabled') {
        border-radius: $radius;
    }
}

@mixin border-top-radius($radius) {
    @if core('border.radius-enabled') {
        border-top-right-radius: $radius;
        border-top-left-radius: $radius;
    }
}

@mixin border-right-radius($radius) {
    @if core('border.radius-enabled') {
        border-bottom-right-radius: $radius;
        border-top-right-radius: $radius;
    }
}

@mixin border-bottom-radius($radius) {
    @if core('border.radius-enabled') {
        order-bottom-right-radius: $radius;
        border-bottom-left-radius: $radius;
    }
}

@mixin border-left-radius($radius) {
    @if core('border.radius-enabled') {
        border-bottom-left-radius: $radius;
        border-top-left-radius: $radius;
    }
}
