//
// Breakpoint Mixins
//

// Name of the next breakpoint, or null for the last breakpoint
@function breakpoint-next($name, $breakpoints: core('grid.breakpoints'), $breakpoint-names: map-keys($breakpoints)) {
    $n: index($breakpoint-names, $name);
    @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

// Minimum breakpoint width Null for the smallest (first) breakpoint
@function breakpoint-min($name, $breakpoints: core('grid.breakpoints')) {
    $min: map-get($breakpoints, $name);
    @return if($min != 0, $min, null);
}

// Maximum breakpoint width. Null for the largest (last) breakpoint
@function breakpoint-max($name, $breakpoints: core('grid.breakpoints')) {
    $next: breakpoint-next($name, $breakpoints);
    @return if($next, breakpoint-min($next, $breakpoints)-1px, null);
}

// Media of at most the maximum breakpoint width.
// No media query for smallest breakpoint
@mixin media-breakpoint-up($name, $breakpoints: core('grid.breakpoints')) {
    $min: breakpoint-min($name, $breakpoints);
    @if $min {
        @media (min-width: $min) {
            @content;
        }
    } @else {
        @content;
    }
}

// Media between the breakpoint's minimum and maximum widths.
// No query for largest breakpoint
@mixin media-breakpoint-down($name, $breakpoints: core('grid.breakpoints')) {
    $max: breakpoint-min($name, $breakpoints);
    @if $max {
        @media (max-width: $max - 1) {
            @content;
        }
    } @else {
        @content;
    }
}

// Media between the breakpoint's minimum and maximum widths.
// No minimum for the smallest breakpoint, no maximum for the largest one.
@mixin media-breakpoint-only($name, $breakpoints: core('grid.breakpoints')) {
    @include media-breakpoint-up($name, $breakpoints) {
        @include media-breakpoint-down($name, $breakpoints) {
            @content;
        }
    }
}

// Media that spans multiple breakpoint widths.
@mixin media-breakpoint-between($lower, $upper, $breakpoints: core('grid.breakpoints')) {
    @include media-breakpoint-up($lower, $breakpoints) {
        @include media-breakpoint-down($upper, $breakpoints) {
            @content;
        }
    }
}
