//
// Color Mixins
//
// Output all colors defined in the $color as usable classes.

@mixin generate-color-palette($map, $prefix:'', $suffix:'') {
    @each $key, $value in $map {
        .#{$prefix}#{$key}#{$suffix} {
            color:$value;
        }

        .#{$prefix}#{$key}#{$suffix}-bg {
            background-color:$value;
        }
    }
}
