//
// Font Mixins
//
// Output all the fonts defined in $core->typography->fonts

@mixin generate-fonts($map) {
    @each $value in $map {
        @include generate-font($value);
    }
}

@mixin generate-font($value) {
    $font-stretch: map-get($value, font-stretch);

    @font-face {
        font-family: map-get($value, font-family);
        $all:'';

        @each $type, $src in map-get($value, src) {
            @if $type == 'embedded-opentype' or $type == 'eot' {
                src: url(unquote($src));
                @if $all != '' {$all: $all+', ';}
                $all: $all+'url('+$src+') format("embedded-opentype")';
            } @else if $type == 'ttf' or $type == 'truetype' {
                @if $all != '' {$all: $all+', ';}
                $all: $all+'url('+$src+') format("ttf")';
            } @else if $type == 'woff' {
                @if $all != '' {$all: $all+', ';}
                $all: $all+'url('+$src+') format("woff")';
            } @else if $type == 'svg' {
                @if $all != '' {$all: $all+', ';}
                $all: $all+'url('+$src+') format("svg")';
            }
        }

        font-style: normal;
        src:unquote($all);
        font-weight: map-get($value, font-weight);
        @if $font-stretch != null {
            font-stretch: $font-stretch;
        }
    }
}
