//
// Functions
//

// Explode string
@function str-explode($string, $delimiter: '') {
    @if type-of($string) != 'string' {
        @error '`explode` function expecting a string; #{type-of($string)} given.';
    }

    @if type-of($delimiter) != 'string' {
        @error '`explode` function expecting a string; #{type-of($delimiter)} given.';
    }

    $result: ();
    $length: str-length($string);

    @if str-length($delimiter) == 0 {
        @for $i from 1 through $length {
            $result: append($result, str-slice($string, $i, $i));
        }

        @return $result;
    }

    $running: true;
    $remaining: $string;

    @while $running {
        $index: str-index($remaining, $delimiter);

        @if $index {
            $slice: str-slice($remaining, 1, $index - 1);
            $result: append($result, $slice);
            $remaining: str-slice($remaining, $index + str-length($delimiter));
        } @else {
            $running: false;
        }
    }

    @return append($result, $remaining);
}

// Search deeper in    a map
@function map-get-deep($map, $keys...) {
    @if length($keys) == 1 {
        $keys: nth($keys, 1);
    }
    $warn: "#{nth($keys, 1)}";
    $length: length($keys);
    $get: map-get($map, nth($keys, 1));

    @if $length > 1 {
        @for $i from 2 through $length {
            @if $get != null and type-of($get) == 'map' {
                $warn: $warn + "->#{nth($keys, $i)}";
                $get: map-get($get, nth($keys, $i));

                @if $get == null {
                    @return map-get-deep-warning($warn, $get, nth($keys, $i));
                }
            }
            @else {
                @return map-get-deep-warning($warn, $get, nth($keys, $i));
            }
        }
    }

    @return $get;
}

// Fires warning message on missing map entries (dev only)
@function map-get-deep-warning($warn, $get, $key) {
    @if $get == null {
        @warn "Map has no value for key search `#{$warn}` : `#{$key}`";
    }
    @else if type-of($get) != 'map' {
        @warn "Non-map value found for key search `#{$warn}`, cannot search for key `#{$key}`";
    }
    @return null;
}

// Get a value within a map via dot notation
@function get($map: $props, $val: '') {
    $warn: '';
    $vals-list: str-explode($val, $delimiter: '.');

    @if length($vals-list) > 1 {
        @return map-get-deep($map, $vals-list);

    } @else {
        $get: map-get($map, nth($val, 1));
        @if $get == null {
            $warn: $warn + "->#{nth($val, 1)}";
            @warn "Map has no value for key search `#{$val}`";
        }
        @return map-get($map, nth($val, 1));

    }
}
