//
// Shorthand Functions
//

// Shorthand for 'core('value')';
@function core($str) {
    @return get($core, $str);
}

// Shorthand for 'get($colors, 'value')';
@function color($str) {
    @return core('colors.'+$str);
}

// Shorthand for 'get($props, 'value')';
@function prop($str) {
    @return get($props, $str);
}
