//
// Grid Framework Mixins
//

@mixin make-grid-columns($columns: core('grid.columns'), $gutters: core('grid.gutters'), $breakpoints: core('grid.breakpoints')) {
    %grid-column {
        position: relative;
        @if core('options.flex') {
            flex: 0 0 100%;
        }

        min-height: 1px;
        //padding-left: ($gutter / 2);
        //padding-right: ($gutter / 2);

        @each $gutter, $gutter-width in $gutters {
            @include media-breakpoint-up($gutter) {
                padding-left: ($gutter-width / 2);
                padding-right: ($gutter-width / 2);
            }
        }
        //background-clip: content-box;
    }

    @each $breakpoint in map-keys($breakpoints) {
        @for $i from 1 through $columns {
            .col-#{$breakpoint}-#{$i} {
                @extend %grid-column;
            }
        }

        @include media-breakpoint-up($breakpoint) {
            %grid-column-float-#{$breakpoint} {
                float: left;
            }

            @for $i from 1 through $columns {
                .col-#{$breakpoint}-#{$i} {
                    @if not core('options.flex') {
                        @extend %grid-column-float-#{$breakpoint};
                    }

                    @include make-col-span($i, $columns)
                }
            }

            @each $modifier in (pull, push, offset) {
                @for $i from 0 through $columns {

                    .col-#{$breakpoint}-#{$modifier}-#{$i} {
                        @include make-col-modifier($modifier, $i, $columns);
                    }
                }
            }
        }
    }
}
