//
// Grid System Mixins
//
// Generate semantic grid columns.

@mixin make-container($gutters: core('grid.gutters')) {
    margin-left: auto;
    margin-right: auto;

    @each $gutter, $gutter-width in $gutters {
        @include media-breakpoint-up($gutter) {
            padding-left: ($gutter-width);
            padding-right: ($gutter-width);
        }
    }

    @if not core('options.flex') {
        @include clearfix();
    }
}

@mixin make-container-max-widths($max-widths: core('container.max-widths')) {
    @each $breakpoint, $container-max-width in $max-widths {
        @include media-breakpoint-up($breakpoint) {
            max-width: $container-max-width;
        }
    }
}

@mixin make-row($gutters: core('grid.gutters')) {
    @if core('options.flex') {
        display:flex;
        flex-wrap: wrap;
    } @else {
        @include clearfix();
    }

    @each $gutter, $gutter-width in $gutters {
        @include media-breakpoint-up($gutter) {
            margin-left: -($gutter-width / 2);
            margin-right: -($gutter-width / 2);
        }
    }
}

@mixin make-col($gutters: core('grid.gutters')) {
    position: relative;

    @if not core('options.flex') {
        float: left;
    }

    min-height: 1px;

    @each $gutter, $gutter-width in $gutters {
        @include media-breakpoint-up($gutter) {
            padding-left: ($gutter-width / 2);
            padding-right: ($gutter-width / 2);
        }
    }
}

@mixin make-col-span($size, $columns: core('grid.columns')) {
    @if core('options.flex') {
        flex: 0 0 percentage($size / $columns);
        max-width: percentage($size / $columns);
    } @else {
        width: percentage($size / $columns);
    }
}

@mixin make-col-offset($size, $columns: core('grid.colums')) {
    margin-left: percentage($size / $columns);
}

@mixin make-col-push($size, $columns: core('grid.colums')) {
    left: if($size > 0, percentage($size / $columns), auto);
}

@mixin make-col-pull($size, $columns: core('grid.columns')) {
    right: if($size > 0, percentage($size / $columns), auto);
}

@mixin make-col-modifier($type, $size, $columns) {
    @if $type == push {
        @include make-col-push($size, $columns);
    } @else if $type == pull {
        @include make-col-pull($size, $columns);
    } @else if $type == offset {
        @include make-col-offset($size, $columns);
    }
}
