//
// Hover Mixins
//

@mixin hover {
    &.hover,
    &:hover { @content }
}

@mixin active {
    &.active,
    &:active {
        @content
    }
}

@mixin focus {
    &.focus,
    &:focus {
        @content;
    }
}

@mixin hover-focus {
    &.hover,
    &.focus,
    &:focus,
    &:hover {
        @content
    }
}

@mixin plain-hover {
    &,
    &.hover,
    &:hover {
        @content
    }
}

@mixin plain-hover-focus {
    &,
    &.focus,
    &.hover,
    &:focus,
    &:hover {
        @content
    }
}

@mixin hover-focus-active {
    &.focus,
    &.hover,
    &:focus,
    &:active,
    &.active,
    &:hover {
        @content
    }
}
