//
// Iconfont Glyphs Mixins
//

//
// Generate Icon Font Glphs
//
// Output the icons from the icon font as classes

@mixin generate-font-icons($icons:get($icon-font, 'icons'), $font-family:get($icon-font, 'font.font-family')) {
    @each $icon, $value in $icons {

        $glyph: str-index($icon, 'glyph') != null;

        @if $glyph {
            @include generate-glyph($icons, $font-family, $icon, $value);
        } @else {
            @include generate-icon($icons, $font-family, $icon, $value);
        }
    }
}


@mixin generate-glyph($icons, $font-family, $icon, $value) {
    .#{$icon} {
        @extend .glyph;
        &:before {
            font-family: $font-family;
            content: unicode($value);
            @extend %glyph-base;
        }

        // Check if the icon has a 'filled' (hovered) equivalent and create
        // the additional classes
        $filled: map-get($icons, #{#{$icon}-filled});
        @if $filled != null {
            &.glyph-hover {
                .hover &,
                &.hover,
                &:hover {
                    cursor: pointer;
                    &:before {
                        content: unicode($filled);
                    }
                }
            }
        }

    }
}


@mixin generate-icon($icons, $font-family, $icon, $value) {
    .#{$icon} {
        @extend .icon;
        &:before {
            font-family: $font-family;
            content: unicode($value);
            @extend %icon-base;
        }

        // Check if the icon has a 'filled' (hovered) equivalent and create
        // the additional classes
        $filled: map-get($icons, #{#{$icon}-filled});
        @if $filled != null {
            &.icon-hover {
                .hover &,
                &.hover,
                &:hover {
                    cursor: pointer;
                    &:before {
                        content: unicode($filled);
                    }
                }
            }
        }

    }
}

%icon-base {
    position: relative;
    display: inline-block;
    font-style: normal;
    font-size: 2em;
    margin-bottom: -.1em;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
}

%glyph-base {
    position: relative;
    display: inline-block;
    font-style: normal;
    font-size: 1em;
    margin-bottom: -.1em;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
}

%icon-format {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

//
// Icon Content
//
@mixin icon($icon, $icons:get($icon-font, 'icons'), $font-family:get($icon-font, 'font.font-family')) {

    // Get real icon name if color variation requested
    @if str-index($icon, '/') != null {
        $icon: "#{str-slice($icon, str-index($icon, '/') + 1)}";
    }

    $unicode: get($icons, $icon);

    @if $unicode == null {
        @debug 'Could not find icon: #{type-of($icon)}';
    } @else {
        font-family: $font-family;
        content: unicode(get($icons, $icon));
        @extend %icon-format;
    }

}

//
// SVG Icon content
//
@mixin SVGIcon($icon, $icons:get($icon-font, 'icons'), $path:get($icon-font, 'svg.path')) {
    background-image: url('#{$path}/#{$icon}.svg');
}
