//
// Stylize Mixins
//

//
// Stylizer
//
// Generate responsive styles based on specific configuration from prop('styles');

@mixin generate-styles($map) {
    @each $key, $type in $map {

        $keySlice: str-slice($key, 0, 1);
        $keyClass: '';

        @if ($keySlice != '.' and $keySlice != '#' and $keySlice != ':' and $keySlice !=' ') {
            $keyClass: '.'+$key;
        }

        #{$key} {
            @include insert-attributes(map-get($type, attributes));

            $sizes: map-get($type, sizes);
            @if $sizes is null {$sizes:();}

            @each $breakpoint, $value in map-get($type, sizes) {
                @include media-breakpoint-up($breakpoint) {
                    @if $breakpoint != null {
                        @include insert-attributes($value);
                    }
                }
            }
        }

        @if ($keyClass != '') {
            #{$keyClass} {
                @include insert-attributes(map-get($type, attributes));

                $sizes: map-get($type, sizes);
                @if $sizes is null {$sizes:();}

                @each $breakpoint, $value in map-get($type, sizes) {
                    @include media-breakpoint-up($breakpoint) {
                        @if $breakpoint != null {
                            @include insert-attributes($value);
                        }
                    }
                }
            }
        }

        $children: map-get($type, children);
        @if $children == null {$children:();}

        @each $modifier, $mod-map in $children {
            @include generate-children($key, $modifier, $mod-map)
        }
    }
}

//
// Generate the child styles
//
// This function is recursive. It will look continue to apply
// nested child styles while they exist.

@mixin generate-children($key, $modifier, $mod-map) {
    // Detect pseudo style so we dont try to do 'some-class-:pseudo'
    $pseudo: str-slice($modifier, 0, 1);

    @if $pseudo == ':' {
        #{$key} {

            @if $modifier == ":hover-focus" {
                @include hover-focus {
                    @include insert-attributes(map-get($mod-map, attributes));
                };
            } @else if $modifier == ":hover" {
                @include hover {
                    @include insert-attributes(map-get($mod-map, attributes));
                };
            } @else if ($modifier == ":focus") {
                @include focus {
                    @include insert-attributes(map-get($mod-map, attributes));
                };
            } @else {
                &#{$modifier} {
                    @include insert-attributes(map-get($mod-map, attributes));
                }
            }

            @each $mod-breakpoint, $mod-value in map-get($mod-map, sizes) {
                @include media-breakpoint-up($mod-breakpoint) {
                    @include insert-attributes($mod-value);
                }
            }
        }
    } @else {
        // Check whether we need to add class '.' notation.
        $keySlice: str-slice($key, 0, 1);

        $dotNotation: '.';
        $slice: str-slice($modifier, 0, 1);

        @if $slice == '-' {
            @if $keySlice == '#' or $keySlice == '.' or $keySlice == '>' {
                $dotNotation: '';
            }
        } @else if $slice == '#' or $slice == '.' or $keySlice == '>' {
            @if $slice !='&' {
                $modifier: #{" "+$modifier};
            }

            $dotNotation: '';
        } @else {
            $dotNotation: '';
            @if $slice == '&' {
                $modifier: #{str-slice($modifier, 2)};
            } @else {
                $modifier: #{" "+$modifier};
            }
        }

        #{$dotNotation}#{$key}#{$modifier} {
            @include insert-attributes(map-get($mod-map, attributes));

            @each $mod-breakpoint, $mod-value in map-get($mod-map, sizes) {
                @include media-breakpoint-up($mod-breakpoint) {
                    @include insert-attributes($mod-value);
                }
            }

        }
    }

    $sub-children: map-get($mod-map, children);

    @if($sub-children != null) {

        // Recursively get more children if they exist.
        // Because of an oddity in single array nested maps at this level we need to check
        // Whether the first value is a list or string first.
        $type: type-of(nth($sub-children, 1));
        @if $type == 'string' {
            @include generate-children($key+$modifier, nth($sub-children, 1), nth($sub-children, 2));
        } @else if $type == 'list' {
            @each $child-modifier, $child-mod-map in $sub-children {
                @if $child-mod-map != null {
                    @include generate-children($key+$modifier, $child-modifier, $child-mod-map);
                }
            }
        };
    }
}

// Insert attributes from the supplied map
@mixin insert-attributes($attributes) {

    @each $label, $attribute in $attributes {
        @if $label != null {
            #{$label}: #{$attribute};
        }
    }
}
