//
// Utility Mixins
//

// Clearfix
@mixin clearfix() {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

// WebKit-style focus
@mixin tab-focus() {
    outline: dotted 1px rgba(0, 0, 0, 0.3);
    outline-offset: 3px;
}

// Pulls
@mixin pull-left {
    float: left !important;
}

@mixin pull-right {
    float: right !important;
}

// Center Block
@mixin center-block() {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Truncate
@mixin text-truncate() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// Text Emphasis
@mixin text-emphasis-variant($parent, $color) {
    #{$parent} {
        color: $color !important;
    }

    a#{$parent} {
        @include hover-focus {
            color: darken($color, 10%);
        }
    }
}

//
// Reset Text to default state
//
@mixin reset-text {
    font: {
        family: core('typography.font-family');
        style: normal;
        weight: normal;
    };

    letter-spacing: normal;

    line: {
        break: auto;
        height: core('typography.line-height.base');
    };

    text: {
        align: left;
        align: start;
        decoration: none;
        shadow: none;
        transform: none;
    }

    white-space: normal;

    word: {
        break: normal;
        spacing: normal;
        wrap: normal;
    }
}
