//
// Alerts
//

$module: alert;

.#{$module} {
    position: relative;
    display: flex;
    margin-bottom: core('spacer.y');
    min-width: prop('ui.alert.min-width');
    border: prop('ui.alert.border.width') solid transparent;

    > p,
    ul {
        margin-bottom: 0;
        max-width: none !important;
    }

    > p + p {
        margin-top: rem(5px);
    }

    &-heading {
        color: inherit;
    }

    &-link {
        font-weight: prop('ui.alert.link.font-weight');
    }

    &-close {
        @include button-reset;
        position: absolute;
        top: 20px;
        width: prop('ui.alert.close.width');
        margin-right: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &:before {
            @include icon(prop('ui.alert.close.icon'));
            transition: color .25s ease-out;
            line-height: 1;
        }
    }

    &-header {
        @extend .heading-4;
        margin-bottom: core('spacer.y') * .5;
    }

    &-cohesive {
        margin-bottom: 0;
        border-width: 0;

        .#{$module}-icon {
            padding-top: rem(2px);
        }
    }

    &-dialog {
        padding: prop('ui.alert.padding.large.x') prop('ui.alert.padding.large.x');

        .#{$module}-icon {
            &:before {
                font-size: prop('ui.alert.dialog.sizes.icon');
            }
        }
    }

    &-form {
        @extend .#{$module}-cohesive;
        @extend .#{$module}-warn;
        padding: 0;
        display: none;

        .has-warning &,
        &.active {
            display: block;
        }
    }

    &-null {
        border: 0;
    }

    //
    // Size modifiers
    //
    @each $size, $mod in (
        'base': (prefix:'', suffix:''),
        'small': (prefix:'.#{$module}', suffix:'-sm'),
        'large': (prefix:'.#{$module}', suffix:'-lg')
    ) {
        $prefix: get($mod, 'prefix');
        $suffix: get($mod, 'suffix');

        &#{$suffix} {
            font-size: core('typography.font-size.#{$size}');
            padding: prop('ui.alert.padding.#{$size}.y') prop('ui.alert.padding.#{$size}.x');
            @include border-radius(prop('ui.alert.border.radius.#{$size}'));

            &#{$prefix}-icon {
                padding-top: 0;
                padding-right: (prop('ui.alert.padding.#{$size}.x') * 0.5);
                min-width: (prop('ui.alert.padding.#{$size}.x') * 1.9);
            }

            span:not(.#{$module}-icon) {
                padding-top: (prop('ui.alert.padding.#{$size}.x') * 0.25);
            }

            &#{$prefix}-dismissible {
                padding-right: prop('ui.alert.padding.#{$size}.x') + (prop('ui.alert.close.width') * 2);
            }

            &#{$prefix}-close {
                right: prop('ui.alert.padding.#{$size}.x');
            }

            &#{$prefix}-cohesive {
                padding: prop('ui.alert.padding.#{$size}.x');
            }

            &#{$prefix}-form {
                @include insert-attributes(prop('ui.input.validation.alert.sizes.#{$size}'));
                padding: {
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }

            &#{$prefix}-dialog {
                padding: prop('ui.alert.padding.large.x') prop('ui.alert.padding.large.x');

                .#{$module}-separator {
                    margin: prop('ui.alert.padding.#{$size}.x') #{-(prop('ui.alert.padding.#{$size}.x'))};
                }
            }
        }
    }
}

//
// Generate the alert types
// Loop through the types specified in the config
//
@include alert-create-types(prop('ui.alert.types'));

//
// Alert Dialogs
//
.#{$module}-dialog {
    display: block;
    text-align: center;
    color: prop('ui.alert.dialog.colors.text');
    border-color: prop('ui.alert.dialog.colors.border');
    font-size: core('typography.font-size.base');

    .#{$module}-icon {
        padding-bottom: core('spacer.y') * .5;
    }

    hr {
        border-top-color: prop('ui.alert.dialog.colors.border');
    }

    .#{$module}-header {
        color: prop('ui.alert.dialog.colors.header');
    }

    .#{$module}-subtitle {
        p {
            max-width: none !important;
        }
        @extend .h2;
    }
}
