//
// Carousel Component
//

$module: carousel;

.#{$module} {
    position: relative;
    height: 30vw;
    min-height: 300px;
    max-height: 500px;
    background-color: #F9F9F9;
    overflow: hidden;

    @include focus {
        // outline: 0;
    }

    &-inner {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &-controls {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: prop('ui.carousel.control.colors.background');
        display: flex;
        align-items: center;

        z-index: 2;
    }

    &-control {
        position: relative;
        padding: prop('ui.carousel.control.button.padding');
        line-height: 1;
        transition: color .2s ease-in-out;
        color: prop('ui.carousel.control.colors.default.button');

        &:before {
            position: relative;
            content: '';
        }

        &[data-control="prev"]:before {
            @include icon(prop('ui.carousel.control.icon.left'));
        }

        &[data-control="next"]:before {
            @include icon(prop('ui.carousel.control.icon.right'));
        }

        @include hover-focus {
            text-decoration: none;
            color: prop('ui.carousel.control.colors.hover.button');
        }
    }

    &-indicators {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;

        li > a {
            position: relative;
            display: block;
            padding: prop('ui.carousel.control.indicator.padding');

            &:before {
                position: relative;
                content: '';
                display: block;
                width: prop('ui.carousel.control.indicator.size');
                height: prop('ui.carousel.control.indicator.size');
                background-color: prop('ui.carousel.control.colors.default.indicator');
                @include border-radius( prop('ui.carousel.control.indicator.border.radius') );
                transition: all .2s ease-in-out;
            }

            @include hover-focus {
                &:before {
                    background-color: prop('ui.carousel.control.colors.hover.indicator');
                }
            }

            &.active:before {
                background-color: prop('ui.carousel.control.colors.active.indicator');
            }
        }
    }

    &-item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        border: none;
        margin: 0;
        background-color: inherit;
        border-radius: 0;

        transition: opacity prop('ui.carousel.animation.slide.time') prop('ui.carousel.animation.slide.easing'),
            transform prop('ui.carousel.animation.slide.time') prop('ui.carousel.animation.slide.easing');

        &[role="tabpanel"][aria-hidden="true"] {
            display: block;
        }
    }

    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: 50% 50%;
    }

    &-anim {
        &-up {
            opacity: 0;

            animation: {
                name: slideup;
                duration: prop('ui.carousel.animation.element.time');
                timing-function: prop('ui.carousel.animation.element.easing');
                delay: .2s;
                fill-mode: forwards;
            };
        }
    }
}

//
// Slide up animation
//
@keyframes slideup {

    0% { opacity: 0; transform: translateY(prop('ui.carousel.animation.element.slideup')); }
    100% { opacity: 1; transform: translateY(0px); }
}
