//
// Collapse
//

$module: collapsible;

.#{$module} {
    cursor: pointer;

    &-caret {
        line-height: 1;
        color: prop('ui.caret.colors.default');

        &:before {
            position: relative;
            display: inline-block;
            @include icon( prop('ui.caret.icon.default') );
            transform: prop('ui.caret.icon.default-transform');
            transition: color .25s ease-out, transform .25s ease-out;
        }
    }


    &[aria-expanded="true"] .#{$module}-caret:before {
        @include icon( prop('ui.caret.icon.active') );
        transform: prop('ui.caret.icon.active-transform');
    }

}

//
// Collapse(d) elements
//
.collapse:not(.in) {
    display: none;
}
