//
// Modal Component
//

$module: modal;

.#{$module} {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: core('z-index.modal');
    overflow: hidden;
    outline: 0;

    &-base {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &-dialog {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-flow: column;
        width: 100%;
        height: 100%;
        background-color: #FFF;
    }

    &-header {
        position: relative;
        display: flex;
    }

    &-heading {
        position: relative;
        display: block;
        flex: 3;
        text-align: center;
    }

    &-title {
        position: relative;
        display: block;
        &:empty {
            display: none;
        }
    }

    &-subtitle {
        position: relative;
        display: block;
        &:empty {
            display: none;
        }
    }

    &-body {
        flex: 3;
        overflow: auto;
    }

    &-content {
	    position: fixed;
	    background-color: color('dls-accent-white-01');
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    padding: 2rem;
	    &-fullscreen {
	        background-color: color('dls-accent-white-01');
	        position: fixed;
	        top: 0;
	        left: 0;
	        right: 0;
	        bottom: 0;
	        overflow-y: auto;
	        & > div:first-child {
	            height: 100%;
	        }
	    }
    }

	&-screen {
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: rgba(51, 51, 51, 0.65);
		top: 0;
		left: 0;
	}

    //
    // Box Variant
    //
    &-dynamic {
        display: flex;
        align-items: center;
        justify-content: center;

        @include media-breakpoint-up(prop('ui.modal.display.dynamic.breakpoint')) {

            .#{$module}-dialog {
                min-height: 0;
                height: auto;
                max-height: 100%;
                @include insert-attributes(prop('ui.modal.display.boxed'));
            }

            .#{$module}-header {
                flex: 1 0;
            }
        }
    }

    &-boxed {
        display: flex;
        align-items: center;
        justify-content: center;

        .#{$module}-dialog {
            min-height: 0;
            height: auto;
            max-height: 100%;
            @include insert-attributes(prop('ui.modal.display.boxed'));
        }

        .#{$module}-header {
            flex: 1 0;
        }
    }

  	//transitions
	&-fade-enter, &-fade-leave {
		opacity: 0;
	}

	&-fade-enter-active {
		opacity: 1;
	}

	&-swoop-enter {
		opacity: 0;
		transform: translate(-100%, -100%) scale(0.7);
	}

	&-swoop-enter-active {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}

	&-swoop-leave {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}

	&-swoop-leave-active {
		opacity: 0.00;
		transform: translate(-100%, -100%) scale(0.7);
	}

	&-easeup-enter {
		opacity: 0.00;
		transform: translate(-50%, -40%);
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	&-easeup-enter-active {
		opacity: 1;
		transform: translate(-50%, -50%);
	}

	&-easeup-leave {
		opacity: 1;
		transform: translate(-50%, -50%);
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	&-easeup-leave-active {
		opacity: 0.00;
		transform: translate(-50%, -40%);
	}

    @each $breakpoint, $value in prop('ui.modal.sizes') {
        @include media-breakpoint-up($breakpoint) {
            @if $breakpoint != null {
                .#{$module}-control {
                    @include insert-attributes(get($value, 'header.control'));
                }

                &-header {
                    padding: get($value, 'header.padding.y')
                        get($value, 'header.padding.x');
                }

                &-title {
                    @include insert-attributes(get($value, 'header.title'));
                }

                &-subtitle {
                    @include insert-attributes(get($value, 'header.subtitle'));
                }

                &-body {
                    padding: get($value, 'content.padding.y')
                        get($value, 'content.padding.x');
                }
            }
        }
    }
}

// Loop through the types specified in the config

@include modal-create-types(prop('ui.modal.types'));
