//
// Pagination Component
//

$module: pagination;

.#{$module} {
    position: relative;
    display: flex;
    display: block;
    overflow: hidden;

    @include focus {
        // outline: 0;
    }

    //
    // Pagination Listing
    //
    &-list {
        position: relative;
        list-style: none;
        margin: 0 auto;
        padding: 0;
        height: prop('ui.pagination.item.size');
        flex: 100%;
    }

    &-item {
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: prop('ui.pagination.item.size');
        height: prop('ui.pagination.item.size');
        backface-visibility: hidden;
        z-index: 0;
        @include border-radius(prop('ui.pagination.item.border.radius'));
        user-select: none;

        a {
            min-width: prop('ui.pagination.item.size');
            height: prop('ui.pagination.item.size');
            line-height: prop('ui.pagination.item.size');
            text-align: center;
            color: prop('ui.pagination.colors.default');
            font-size: prop('ui.pagination.item.font-size');
            padding: 0 prop('ui.pagination.item.padding');

            @include hover-focus {
                text-decoration: none;
                color: prop('ui.pagination.colors.hover');
            }
        }

        &[data-key] {
            z-index: 1;
        }

        &.active {
            a {
                color: prop('ui.pagination.colors.active');
            }
        }
    }

    &-ellipsis-start,
    &-ellipsis-end {
        transition: opacity .25s ease-out;
        opacity: 0;

        &.active {
            opacity: 1;
            z-index: 1;
        }
    }

    &-block {
        background-color: prop('ui.pagination.colors.block');
    }

    //
    // Pagination pager (controls)
    //
    &-pager {
        position: relative;
        display: inline-flex;
        list-style: none;
        margin: 0;
        padding: 0;
        min-height: prop('ui.pagination.item.size');
        flex: 1;
        align-items: center;
        justify-content: flex-end;
        padding-left: prop('ui.pagination.pager.separator.width');

        > li {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            order: 1;
            box-sizing: content-box;

            a {
                user-select: none;
            }

            &:last-of-type {
                padding-left: prop('ui.pagination.pager.separator.width');
            }

            &:last-of-type:after {
                position: absolute;
                content: prop('ui.pagination.pager.separator.character');

                left: 0;
                font-size: prop('ui.pagination.pager.separator.size');
                width: prop('ui.pagination.pager.separator.width');
                text-align: center;

                color: prop('ui.pagination.colors.separator');
            }

            &.#{$module}-pager-disabled {
                visibility: hidden;
                order: 0;

                + li:not(.#{$module}-pager-disabled):after {
                    display: none;
                }
            }
        }
    }

    .#{$module}-pager {
        display: flex;
        justify-content: center;
        text-align: center;
        padding-left: 0;
        padding-top: prop('ui.pagination.item.size');

        li {
            flex: 120px 0;

            &.#{$module}-pager-disabled {
                display: none;

                + li:not(.#{$module}-pager-disabled) {
                    padding-left: 0;
                }
            }
        }
    }

}
