//
// Slider Component
//

$module: slider;

.#{$module} {
    position: relative;
    display: block;
    vertical-align: middle;
    user-select: none;
    -webkit-user-select: none;

    //
    // Horizontal Mode
    //
    &-horizontal {
        display: flex;
        flex-flow: row no-wrap;
        width: auto;

        .#{$module}-bar {
            flex: 3;
        }

        .#{$module}-selection {
            height: 100%;
            top: 0;
            bottom: 0;
        }

        .#{$module}-handle {
            top: 50%;
        }
    }

    //
    // Vertical Mode
    //
    &-vertical {
        height: 100%;

        .#{$module}-track {
            height: 100%;
        }

        .#{$module}-selection {
            width: 100%;
            top: 0;
            bottom: 0;
            left: 0;
        }
    }

    //
    // Base
    //
    &-control {
        display: none;

        .#{$module}-controls & {
            display: block;
        }
    }

    &-bar {
        position: relative;
    }

    &-btn {
        position: relative;
        display: block;
        color: prop('ui.slider.button.colors.default.text');
        background-color: prop('ui.slider.button.colors.default.background');
        border: prop('ui.slider.button.border.width') solid prop('ui.slider.button.colors.default.border');
        border-radius: prop('ui.slider.button.border.radius');
        will-change: background-color, border-color, box-shadow;

        transition: background-color .25s ease-out,
                    border-color .25s ease-out,
                    box-shadow .25s ease-out;

        &:before {
            position: absolute;
            top: 50%;
            width: 100%;
            margin-top: -.5em;
            text-align: center;
        }


        @include hover {
            color: prop('ui.slider.button.colors.hover.text');
            background-color: prop('ui.slider.button.colors.hover.background');
            border-color: prop('ui.slider.button.colors.hover.border');
        }
    }

    &-track {
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        background-color: prop('ui.slider.track.colors.background');
        border: prop('ui.slider.track.border.width') solid prop('ui.slider.track.colors.border');
        @include border-radius(prop('ui.slider.track.border.radius'));
        overflow: hidden;
    }

    &-selection {
        position: absolute;
        background-color: prop('ui.slider.track.colors.selection');
        @include border-radius(prop('ui.slider.track.border.radius'));
        will-change: width;
    }

    &-handle {
        position:absolute;
        cursor: pointer;
        will-change: left;

        &:before {
            position: absolute;
            content: '';
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: prop('ui.slider.handle.colors.default.background');
            border: prop('ui.slider.handle.border.width') solid prop('ui.slider.handle.colors.default.border');
            border-radius: prop('ui.slider.handle.border.radius');
            box-shadow: prop('ui.slider.handle.colors.default.box-shadow');

            will-change: background-color, border-color, box-shadow;

            transition: background-color .25s ease-out,
                        border-color .25s ease-out,
                        box-shadow .25s ease-out;
        }

        @include hover {
            &:before {
                background-color: prop('ui.slider.handle.colors.hover.background');
                border-color: prop('ui.slider.handle.colors.hover.border');
                box-shadow: prop('ui.slider.handle.colors.hover.box-shadow');
            }
        }

        &.dragging {
            &:before {
                background-color: prop('ui.slider.handle.colors.active.background');
                border-color: prop('ui.slider.handle.colors.active.border');
                box-shadow: prop('ui.slider.handle.colors.active.box-shadow');
            }
        }
    }

    //
    // Size Modifiers
    //
    @each $size, $mod in (
        'base': (prefix:'', suffix:''),
        'small': (prefix:'.#{$module}', suffix:'-sm'),
        'large': (prefix:'.#{$module}', suffix:'-lg')
    ) {
        $prefix: get($mod, 'prefix');
        $suffix: get($mod, 'suffix');

        &#{$suffix} {

            &#{$prefix}-horizontal {
                $max: max(
                    prop('ui.slider.track.size.#{$size}'),
                    prop('ui.slider.handle.size.#{$size}'),
                    prop('ui.slider.button.size.#{$size}')
                );

                &,
                .#{$module}-bar {
                    height: $max;
                }

                .#{$module}-bar {
                    margin: {
                        left: prop('ui.slider.handle.size.#{$size}') * .75;
                        right: prop('ui.slider.handle.size.#{$size}') * .75;
                    };
                }

                .#{$module}-track {
                    top: (($max * .5) - (prop('ui.slider.track.size.#{$size}') * .5));
                    height: prop('ui.slider.track.size.#{$size}');
                    left: -(prop('ui.slider.handle.size.#{$size}') * .25);
                    right: -(prop('ui.slider.handle.size.#{$size}') * .25);
                }
            }

            &#{$prefix}-vertical {
                $max: max(
                    prop('ui.slider.track.size.base'),
                    prop('ui.slider.handle.size.base'),
                    prop('ui.slider.button.size.base')
                );

                &,
                .#{$module}-bar {
                    width: $max;
                }

                .#{$module}-bar {
                    margin: {
                        top: prop('ui.slider.handle.size.#{$size}') * .5;
                        bottom: prop('ui.slider.handle.size.#{$size}') * .5;
                    };
                }

                &,
                .#{$module}-track {
                    width: prop('ui.slider.track.size.#{$size}');
                    left: (($max * .5) - (prop('ui.slider.track.size.#{$size}') * .5));
                }
            }

            &#{$prefix}-handle {
                width: prop('ui.slider.handle.size.#{$size}');
                height: prop('ui.slider.handle.size.#{$size}');
                margin-left: -(prop('ui.slider.handle.size.#{$size}') * .5);
                margin-top: -(prop('ui.slider.handle.size.#{$size}') * .5);
            }

            &#{$prefix}-btn {
                width: prop('ui.slider.button.size.#{$size}');
                height: prop('ui.slider.button.size.#{$size}');

                &:before {
                    font-size: prop('ui.slider.button.size.base') * .6;
                }
            }

        }

    }

}
