//
// Stepper Component
//

$module: stepper;

.#{$module} {
    @extend .btn-group;
    @extend .btn-group-sm;

    display: flex;

    &-add,
    &-subtract {

        color: prop('ui.stepper.colors.button.default.text');
        border-color: prop('ui.stepper.colors.border');
        background-color: prop('ui.stepper.colors.button.default.background');
        min-width: 0!important;
        
        &:before {
            top: .1em;
            font-size: 1.1rem;
        }

        @include hover {
            color: prop('ui.stepper.colors.button.hover.text');
            border-color: prop('ui.stepper.colors.button.hover.border');
            background-color: prop('ui.stepper.colors.button.hover.background');
        }

        @include active {
            color: prop('ui.stepper.colors.button.active.text');
            border-color: prop('ui.stepper.colors.button.active.border');
            background-color: prop('ui.stepper.colors.button.active.background');
        }
    }

    &-field {
        position: relative;
        display: flex;
        align-items: center;
        float: left;
        flex: 3;
        text-align: center;
        border-top: prop('ui.stepper.border.width') solid prop('ui.stepper.colors.border');
        border-bottom: prop('ui.stepper.border.width') solid prop('ui.stepper.colors.border');
    }

    &-value {
        position: relative;
        text-align: center;
        flex: 1 0 100%;
        @extend .form-control-sm;
        border: 0;
        border-radius: 0;
        width: 100%;
        min-width: 0;
        font-size: prop('ui.stepper.size.base.value.font-size');

        color: prop('ui.stepper.colors.value.text');
        background-color: prop('ui.stepper.colors.value.background');
        padding: 0;
    }
}
