//
// Smart Field
//

$module: smart;



.#{$module}-field {
    position: relative;
    cursor: text;
    @extend .form-control;
    padding: 0;

    .#{$module}-el-field,
    .#{$module}-el-placeholder {
        position: absolute;
        top: 0;
        right:0;
        bottom: 0;
        left: 0;
        opacity: 1;
    }

    .#{$module}-el-placeholder {
        display: flex;
        align-items: center;
        white-space: nowrap;

        legend {
            margin-bottom: 0;
            text-transform: none;
            @include text-truncate();
            color: prop('ui.input.colors.placeholder');
            font-size: prop('ui.input.font.size');
            font-weight: 400;
        }
    }

    .#{$module}-el-inputs {
        position: relative;
        display: flex;
        height: 100%;
        opacity:0;
    }

    .#{$module}-el-field,
    .#{$module}-el-input {
        flex-flow: column;
        flex: 1 0 0;

        input {
            font-size: prop('ui.input.font.size');
            flex: 1 0 0;
            border: 0;
            background: transparent;
            color: prop('ui.input.colors.text.default');
            width: 100%;
            @include hover-focus {
                outline: none;
            }
        }
    }

    .#{$module}-el-input {
        display: flex;
    }

    .#{$module}-el-field {
        display: flex;
        opacity: 0;
        background-repeat: no-repeat;
    }

    .#{$module}-el-input {
        &:not(:last-child) {
            border-right: prop('ui.input.border.width') solid prop('ui.input.colors.border.default');
        }

        label {
            opacity: 0;
        }
    }

    .#{$module}-el-field,
    .#{$module}-el-placeholder,
    .#{$module}-el-inputs,
    .#{$module}-el-input label {
        transition: opacity .25s ease-out;
    }

    .label,
    label {
        margin-bottom: 0;
        flex: 1 0 0;
    }

    &-warning:not(.active):not(.has-value),
    &.has-value {
        .#{$module}-el-placeholder {
            opacity: 0;
        }

        .#{$module}-el-field {
            opacity: 1;
        }
    }

    &-warning,
    &-warning.focus {
        background-color: prop('ui.input.colors.background.warning');
        border-color: prop('ui.input.colors.border.warning');

        .#{$module}-el-field {

            .label {
                color: prop('ui.input.colors.label.warning');
            }

            .#{$module}-el-value {
                color: prop('ui.input.colors.text.warning');
            }

            &:after {
                position: absolute;
                content: '';
                @include icon(prop('ui.input.icon.warning'));
                color: prop('ui.input.colors.validation.warning');
            }
        }
    }

    &-success,
    &-success.focus {
        .#{$module}-el-field {

            &:after {
                position: absolute;
                content: '';
                @include icon(prop('ui.input.icon.success'));
                color: prop('ui.input.colors.validation.success');
            }
        }
    }

    &.active {

        .#{$module}-el-placeholder,
        .#{$module}-el-field {
            opacity: 0;
        }

        .#{$module}-el-inputs {
            opacity: 1;
        }

        .#{$module}-el-input {
            label {
                opacity: 1;
            }
        }
    }

    //
    // Size modifiers
    //
    @each $mod, $size in ('': 'base', '-sm': 'small', '-lg': 'large') {
        &#{$mod} {
            @extend .form-control#{$mod};
            height: prop('ui.input.smart.field.sizes.#{$size}.height');

            .#{$module}-el-field,
            .#{$module}-el-placeholder,
            .#{$module}-el-input {
                padding: prop('ui.input.smart.field.sizes.#{$size}.padding.y') prop('ui.input.smart.field.sizes.#{$size}.padding.x');
            }


            &.#{$module}-field-success,
            &.#{$module}-field-warning,
            &.#{$module}-field-icon {

                .#{$module}-el-field {
                    padding-right: prop('ui.input.padding.#{$size}.x') * 3.5;

                    &:after {
                        display: block;
                        font-size: prop('ui.input.height.#{$size}') * .55;
                        bottom: prop('ui.input.smart.field.sizes.#{$size}.padding.y');
                        right: prop('ui.input.smart.field.sizes.#{$size}.padding.x');
                    }

                    //background-position: center right prop('ui.input.smart.field.sizes.#{$size}.padding.x');
                    //background-size: (prop('ui.input.height.#{$size}') * .55);
                }
            }

            .label,
            label {
                font-size: prop('ui.input.smart.field.sizes.#{$size}.label.font-size');
            }
        }
    }


    //
    // Disabled handling
    //
    .disabled &,
    :disabled & {
        cursor: not-allowed;

        .label,
        label,
        input {
            cursor: not-allowed;
        }
        label {
            color: prop('ui.input.colors.label.disabled');
        }

        input {
            color: prop('ui.input.colors.text.disabled');
            background-color: prop('ui.input.colors.background.disabled');
            border-color: prop('ui.input.colors.border.disabled');
            opacity: 1;
        }

        .#{$module}-el-field {
            &:after {
                display: none;
            }
        }
    }
}
