//
// Accent Bar
//

$module: accent-bar;

.#{$module} {
    display: block;
    height: prop('ui.accent-bar.size');
    @extend .#{$module}#{prop('ui.accent-bar.default-type')};
}

// Loop through the children specified in the config
// Must include properties for each state (default/hover/active/disabled)
@include accent-bar-create-types(#{$module}, prop('ui.accent-bar.types'));
