//
// Badges
//

$module: badge;

.#{$module} {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: prop('ui.badge.line-height');

    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: solid transparent;
    word-wrap: break-word;
    margin-bottom: 0;

    div > &:first-of-type:not(:last-of-type) {
        margin-right: prop('ui.badge.spacing')!important;
    }

    div > &:not(:first-of-type):not(:last-of-type) {
        margin-right: prop('ui.badge.spacing')!important;
    }

    @extend .#{$module}#{prop('ui.badge.default-type')};
    @include border-radius(prop('ui.badge.border.radius.base'));

    &-text-success {
        text-transform: uppercase;
        height: 25px !important;
        font-size: rem(12) !important;
        font-weight: 500 !important;
        color: prop('ui.badge.colors.text');
        background: prop('ui.badge.colors.success')
    }

    &-text-default {
        text-transform: uppercase;
        height: 25px !important;
        font-size: rem(12) !important;
        font-weight: 500 !important;
        color: prop('ui.badge.colors.text');
        background: prop('ui.badge.colors.default')
    }

    &-text-warning {
        text-transform: uppercase;
        height: 25px !important;
        font-size: rem(12) !important;
        font-weight: 500 !important;
        color: prop('ui.badge.colors.text');
        background: prop('ui.badge.colors.warning')
    }

}

// Loop through the children specified in the config
// Must include properties for each state (default/hover/active/disabled)
@include badge-create-types(prop('ui.badge.types'));


//
// Extraneous styling
//

.account-card-green-stripe {
	&:before {
		transition: background-color .25s ease-out, color .25s ease-out;
	}
}



//  Circle and Pills

.dls-display-message {
  margin: 10px;
  border: 2px solid #eee;
  padding: 15px
}

.dls-display-message-center {
  margin: auto;
  display: block;
  width: auto;
}

.dls-circle-blue {
  border: 2px solid #1D3F77;
  color: #1D3F77;
}

.dls-circle-fill-blue {
  border: 2px solid #1D3F77;
  background-color: #1D3F77;
  color: #FFFFFF;
}

.dls-circle-green {
  border: 2px solid #308D5F;
  color: #308D5F;
}

.dls-circle-gold {
  border: 2px solid #B67628;
  color: #B67628;
}

.circle-initials {
  border-radius: 100%;
  padding: 6px 0;
  display: inline-block;
  font-weight: 500;
  font-size: 0.9375rem;
  text-decoration: none !important;
  transition: all .3s;
  text-align: center;
  word-spacing: -0.25rem;
  width: 40px;
  height: 40px;
}

.pill {
  border-radius: 20px;
  padding: 0 7px;
  min-width: 40px;
  width: initial;
}
