//
// Breadcrumb
//

$module: breadcrumb;

.#{$module} {
	list-style: none;
	margin: 0;
	padding: 0;
	user-select: none;
	-webkit-user-select: none;
	color: prop('ui.breadcrumb.colors.default');

	@include clearfix();

	> li {
		float: left;

		&:not(:last-of-type) {
			position: relative;
			padding-right: prop('ui.breadcrumb.separator.width');
		}

		&:not(:last-of-type):after {
			position: absolute;
			@include icon(prop('ui.breadcrumb.separator.icon'));

			top: 50%;
			right: 0;
			font-size: prop('ui.breadcrumb.separator.size');
			width: prop('ui.breadcrumb.separator.width');
			text-align: center;
			margin-top: -.5em;
			

			color: prop('ui.breadcrumb.colors.separator');
		}
	}
}
