//
// Button Groups
//

$module: btn;

// Make the element behave like a button
.#{$module}-group {
    &,
    &-vertical {
        position: relative;
        display: inline-block;
        vertical-align: top;

        > .#{$module} {
            position: relative;
            float: left;
            margin: 0!important;

            &:not(.#{$module}-inline) {
                min-width: prop('ui.button.group.min-width');
                max-width: prop('ui.button.group.max-width');
            }

            &:focus,
            &:active,
            &.active {
                z-index: 2;
            }

            @include hover {
                z-index: 2;
            }
        }
    }

    // Prevent double borders when buttons are next to eachother
    .#{$module} + .#{$module},
    .#{$module} + .#{$module}-group,
    .#{$module}-group + .#{$module},
    .#{$module}-group + .#{$module}-group {
        margin-left: -(prop('ui.input.border.width'))!important;
    }

    > .#{$module}:not(:first-child):not(:last-child):not(.dropdown-toggle) {
        border-radius: 0;
    }

    > .#{$module}:first-child {
        margin-left: 0!important;

        &:not(:last-child):not(.dropdown-toggle) {
            @include border-right-radius(0);
        }
    }

    > .#{$module}:last-child:not(:first-child),
    > .dropdown-toggle:not(:first-child) {
        @include border-left-radius(0);
    }

    > .#{$module}-group {
        float: left;

        &:not(:first-child):not(:last-child) > .#{$module} {
            border-radius: 0;
        }

        &:first-child:not(:last-child) {
            > .#{$module}:last-child,
            > .dropdown-toggle {
                @include border-right-radius(0);
            }
        }

        &:last-child:not(:first-child) > .#{$module}:first-child {
            @include border-left-radius(0);
        }
    }

    .dropdown-toggle:active,
    &.open .dropdown-toggle {
        outline: 0;
    }


    //
    // Sizing
    //
    // Extend the default button sizing

    @each $mod, $size in ('-sm': 'small', '-lg': 'large') {
        &#{$mod} > .#{$module} {
            @extend .#{$module}#{$mod};
        }
    }

    //
    // Split button dropdowns
    //

    > .#{$module} + .dropdown-toggle {
        padding: {
            left: 8px;
            right: 8px;
        };
    }

    > .#{$module}-lg + .dropdown-toggle {
        padding: {
            left: 12px;
            right: 12px;
        };
    }

    // Clickable button for toggling
    &.open .dropdown-toggle {
            box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);

            &.#{$module}-link {
                box-shadow: none;
            }
    }

    //
    // Vertical button groups
    //

    &-vertical {
        > .#{$module},
        > .#{$module}-group,
        > .#{$module}-group > .#{$module} {
            display: block;
            float: none;
            width: 100%;
            max-width: 100%;
        }

        > .#{$module}-group {
            @include clearfix();

            > .#{$module} {
                float: none;
            }
        }

        > .#{$module} + .#{$module},
        > .#{$module} + .#{$module}-group,
        > .#{$module}-group + .#{$module},
        > .#{$module}-group + .#{$module}-group {
            margin-top: -(prop('ui.input.border.width'))!important;
        }

        > .#{$module} {
            &:not(:first-child):not(:last-child) {
                border-radius: 0;
            }

            &:first-child:not(:last-child) {
                border-top-right-radius: prop('ui.button.border.radius.base');
                @include border-bottom-radius(0);
            }

            &:last-child:not(:first-child) {
                border-bottom-left-radius: prop('ui.button.border.radius.base');
                @include border-top-radius(0);
            }
        }

        > .#{$module}-group:not(:first-child):not(:last-child) > .#{$module} {
            border-radius: 0;
        }

        > .#{$module}-group:first-child:not(:last-child) {
            > .#{$module}:last-child,
            > .dropdown-toggle {
                @include border-bottom-radius(0);
            }
        }

        > .#{$module}-group:last-child:not(:first-child) > .#{$module}:first-child {
            @include border-top-radius(0);
        }
    }
}

//
// Toolbar (optional)
//

.#{$module}-toolbar {
    margin-left: -5px;
    @include clearfix();

    .#{$module}-group,
    .input-group {
        float: left;
    }

    > .#{$module},
    > .#{$module}-group,
    > .input-group {
        margin-left: 5px;
    }
}

//
// Actions
//

.action-groups {
    display:flex;

    .group-primary,
    .group-secondary{
        display:inline-flex;
    }

    @include media-breakpoint-up('md') {
        flex-flow: row nowrap;
        flex-direction: row-reverse;

        .group-primary,
        .group-secondary{
           flex-flow: row nowrap;
        }

        .group-primary > *,
        .group-secondary > *{
            margin:auto 0;
        }

        .group-primary{
            flex: 1 auto;
            flex-direction: row-reverse;
        }

        .group-primary > *:last-child{
            margin-left:auto;
            margin-right: 15px;
        }
    }

    @include media-breakpoint-down('md') {
        flex-flow: column nowrap;

        .group-primary,
        .group-secondary {
            flex-flow: column nowrap;
        }
    }
}

//
// Checkbox and radio options
//
[data-toggle="buttons"] {
    > .#{$module},
    > .#{$module}-group > .#{$module} {
        input[type="radio"],
        input[type="checkbox"] {
            position: absolute;
            clip: rect(0, 0, 0, 0);
            pointer-events: none;
        }
    }
}
