//
// Buttons
//

$module: btn;
$map: prop('ui.button');

button {
	@extend .#{$module};
}

.#{$module} {
	position: relative;
	display: inline-block;
	font-weight: get($map, 'font.weight');
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	border: prop('ui.input.border.width') solid transparent;
	min-width: get($map, 'width.base.min');
	max-width: get($map, 'width.base.max');

	div > &:first-of-type:not(:last-of-type):not(.#{$module}-block) {
		margin-right: (get($map, 'margin.x') * 2);
	}

	div > &:not(:first-of-type):not(:last-of-type):not(.#{$module}-block) {
		margin: {
			right: (get($map, 'margin.x') * 2);
		};
	}

	&:last-of-type:not(:first-of-type) {
		margin-right: 0;
	}

	@include button-size(
		get($map, 'padding.base.y'),
		get($map, 'padding.base.x'),
		get($map, 'font.size.base'),
		core('typography.line-height.base'),
		get($map, 'border.radius.base')
	);

	transition: all .2s ease-in-out;

	@include hover-focus {
		text-decoration: none;
	}

	&.focus {
		text-decoration: none;
	}

	&:active,
	&.active {
		background-image: none;
		outline: 0;
	}

	&:disabled,
	&.disabled {
		cursor: not-allowed;
		opacity: .65;
		box-shadow: none;
	}

	&.dropdown-toggle {
		padding-right: (get($map, 'icon.padding.base.x') * 4);
		&:before {
			margin-right: get($map, 'icon.padding.base.x');
		}
	}

	//
	// Button Sizes
	//

	&-sm {
		max-width:260px;
		&.#{$module}-icon {
			&:before {
				margin-top: -.15em;
			}
		}
	}

	//
	// Size Modifiers
	//
	@each $mod, $size in ('-sm': 'small', '-lg': 'large') {
		&#{$mod} {

			min-width: get($map, 'width.#{$size}.min');
			max-width: get($map, 'width.#{$size}.max');

			@include button-size(
				get($map, 'padding.#{$size}.y'),
				get($map, 'padding.#{$size}.x'),
				get($map, 'font.size.#{$size}'),
				core('typography.line-height.#{$size}'),
				get($map, 'border.radius.#{$size}')
			);

			&.#{$module}-icon {
				padding: {
					right: get($map, 'icon.padding.#{$size}.x');
					left: get($map, 'icon.padding.#{$size}.x');
				}

				&.#{$module}-inline {
					padding: {
						right: get($map, 'icon.padding.#{$size}.inline.x');
						left: get($map, 'icon.padding.#{$size}.inline.x');
					}
				}

				&:before {
					font-size: get($map, 'icon.size.#{$size}');
				}
			}

			&.dropdown-toggle {
				padding-right: (get($map, 'icon.padding.#{$size}.x') * 4);
				&:before {
					margin-right: get($map, 'icon.padding.#{$size}.x');
				}
			}
		}
	}

	@extend .#{$module}#{get($map, 'default-type')};

	&-inline {
		width: auto;
		max-width: none;
		min-width: 0;
		display: inline-block;
		vertical-align: top;
	}

	&-block {
		display: block;
		width: 100%;
	}

	&-fluid {
		width: 100%;
		max-width: none;
	}

	//
	// Loading Button
	//
	&-loading {
		overflow: hidden;

		> .btn-content {
			visibility: hidden;
		}

		&:before {
			position: absolute;
			display: block;
			content: '';
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: get($map, 'loading.size');
			height: get($map, 'loading.size');
			margin: auto;
			border-width: get($map, 'loading.bar');
			border: {
				style: solid;
			};

			transform: translateZ(0);
			@extend .anim-spinner-indeterminate;

			border-radius: 50%;
		}
	}

	//
	// Tooltip Button
	//
	&-tooltip {
		@include button-reset();
		vertical-align: sub;
		line-height: 1;

		&:after {
			font-size: get($map, 'tooltip.icon.size');
			@include icon( get($map, 'tooltip.icon.state.default') );
		}

		&.tooltip-enabled {
			&:after {
				@include icon( get($map, 'tooltip.icon.state.active') );
			}
		}
	}


	&-block-center {
		&,
		&:first-of-type:not(:last-of-type):not(.#{$module}-block),
		&:not(:first-of-type):not(:last-of-type):not(.#{$module}-block),
		&:last-of-type:not(:first-of-type) {
			margin: {
				left: auto;
				right: auto;
			};
		}
	}


	//
	// Applied to button that is within a text-align: center.
	// This applies padding evenly on all sides of the button.
	&-center {

		&,
		&:first-child:not(:last-child):not(.#{$module}-block),
		&:not(:first-child):not(:last-child):not(.#{$module}-block),
		&:last-child:not(:first-child) {
			margin: {
				top: (get($map, 'margin.y') * 1.5);
				bottom: (get($map, 'margin.y') * 1.5);
				left: (get($map, 'margin.x'));
				right: (get($map, 'margin.x'));
			};
		}
	}
}

a.#{$module}.disabled,
fieldset[disabled] a.#{$module} {
	pointer-events: none;
}

// Loop through the children specified in the config
// Must include properties for each state (default/hover/active/disabled)
@include button-create-types(get($map, 'types'));

//
// Link Buttons
//

// Make a button appear as a regular link
.#{$module}-link {
	font-weight: normal;
	color: prop('styles.a.attributes.color');
	text-decoration: none !important;

	&,
	&:active,
	&.active,
	&:disabled {
		background-color: transparent;
		box-shadow: none;
	}

	&,
	&:focus,
	&:active {
		border-color:transparent;
	}

	@include hover {
		border-color: transparent;
	}

	@include hover-focus {
		color: prop('styles.a.children.:hover.attributes.color');
		text-decoration: prop('styles.a.children.:hover.attributes.text-decoration');
		background-color: transparent;
	}

	&:disabled {
		@include hover-focus {
			color: get($map, 'colors.link-disabled');
			text-decoration: none;
		}
	}
}

//
// Icon Buttons
//
.#{$module}-icon {
	padding: {
		right: get($map, 'icon.padding.base.x');
		left: get($map, 'icon.padding.base.x');
	};

	&.#{$module}-inline {
		padding: {
			right: get($map, 'icon.padding.base.inline.x');
			left: get($map, 'icon.padding.base.inline.x');
		}
	}

	&:before {
		font-size: get($map, 'icon.size.base');
	}

	&:before, span {
		display: inline-block;
		vertical-align: middle;
	}

	span {
		padding-left: 10px;
	}

}

//
// Chevron Buttons
//
.#{$module}-chevron {
	padding: {
		left: get($map, 'icon.padding.base.y');
	}
	text-align: left;

	&:after {
		color: prop('ui.input.colors.caret.default');
		font-size:rem(16px);
		line-height: 1;
		margin-right: get($map, 'icon.padding.small.y');
		margin-top: -.5em;
		position: absolute;
		right: 0;
		top: 50%;
		transition: color .25s ease-out;

		@include icon( prop('ui.caret.icon.default') );
	}
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
	&.#{$module}-block {
		width: 100%;
	}
}

//
// Stacked Buttons
//

//Parent wrapper for stacked buttons - adds margins for all buttons inside except for last button.
.#{$module}-stack {
        button:not(:last-child) {
            margin: {
                bottom: (get($map, 'margin.y') * 2);
            };
        }
}
