//
// Card
//

$module: card;

.#{$module} {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: prop('ui.card.spacer.y');
    background-color: prop('ui.card.colors.background');
    box-shadow: core('shadows.level1');
    @include border-radius(prop('ui.card.border.radius'));

    &-flex {
        display: flex;
        flex-flow: column wrap;

        .#{$module}-block {
            flex: 1 0 100%;
        }
    }


    &-borderless {
        border: 0;
        @include border-radius(0);
    }

    &-content {
        position: relative;
        display: inline-block;
        width: 100%;
        backface-visibility: hidden;
    }

    &-reset {
        @each $breakpoint, $value in prop('ui.card.sizes') {
            @include media-breakpoint-up($breakpoint) {
                @if $breakpoint != null {

                    margin: {
                        top: -(get($value, 'padding'));
                        right: -(get($value, 'padding'));
                        bottom: -(get($value, 'padding'));
                        left: -(get($value, 'padding'));
                    };
                }
            }
        }
    }

    &-block {
        position: relative;
        width: 100%;
        min-height: 100%;
        backface-visibility: hidden;

        @each $breakpoint in map-keys(core('grid.breakpoints')) {
            @include media-breakpoint-up($breakpoint) {
                padding: core('grid.gutters.#{$breakpoint}');
            }
        }

        &-bottom {
            display: flex;
            align-items: flex-end;
        }

        &-center {
            display: flex;
            align-items: center;
        }
    }

    hr,
    &-separator {
        margin: {
            top: 0!important;
            bottom: 0!important;
        }
    }

    &-title {
        margin-bottom: prop('ui.card.spacer.y');
    }

    &-subtitle {
        margin-top: -(prop('ui.card.spacer.y') * .5);
    }

    &-text {
        &:last-child {
            margin-bottom: 0;
        }
    }

    &-img {

        &-bg {
            background-size: cover;
            background-position: 50% 50%;
        }

        &-tint {
            opacity: prop('ui.card.tint.opacity');
        }

        &-bg,
        &-overlay,
        &-tint {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        &-top {
            @include border-radius(prop('ui.card.border.radius') prop('ui.card.border.radius') 0 0);
        }

        &-bottom {
            @include border-radius(0 0 prop('ui.card.border.radius') prop('ui.card.border.radius'));
        }
    }

    &-img-scale {
        overflow: hidden;

        .#{$module}-img-bg {
                will-change: transform;
                transition: prop('ui.card.type.scale.transition');
                backface-visibility: hidden;
        }

        @include hover {
            .#{$module}-img-bg {
                transform: prop('ui.card.type.scale.transform');
            }
        }
    }
}
