//
// Dot (Indicator)
//

$module: card-art;

.#{$module} {
    .row {
        padding-bottom: 50px;
    }
    div {
        text-align: center;
    }
    img {
        width: 80%;
        min-width: 60px;
    }
    .dls-tiltcard {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        -webkit-transition: -webkit-transform 1s;
        transition: -webkit-transform 1s;
        transition: transform 1s;
        transition: transform 1s, -webkit-transform 1s;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        pointer-events: none;
    }
    .tiltcard-shadow {
        position: absolute;
        width: 140%;
        left: -20%;
    }
    .tiltcard-gloss {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: -webkit-transform 1s;
        transition: -webkit-transform 1s;
        transition: transform 1s;
        transition: transform 1s, -webkit-transform 1s;
        position: absolute;
        width: 50%;
        height: 100%;
        left: 25%;
        top: 0;
    }
    .tiltcard-gloss img {
        height: 100%;
    }
    .tiltcard-container {
        -webkit-perspective: 600px !important;
        perspective: 600px !important;
        -webkit-perspective-origin: 50% 75%;
        perspective-origin: 50% 75%;
    }
    .tiltcard-cover {
        position: absolute;
        width: 50%;
        height: 120%;
        top: -10%;
    }
    .tiltcard-cover-left {
        left: 0;
    }
    .tiltcard-cover-right {
        right: 0;
    }
}
