//
// Carets
//

$module: caret;

.#{$module} {
    color: prop('ui.caret.colors.default');

    &:before {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        @include icon( prop('ui.caret.icon.default') );
        transform: prop('ui.caret.icon.default-transform');
        transition: color .25s ease-out, transform .25s ease-out;
    }
}
