//
// Dot (Indicator)
//

$module: dot;

.#{$module} {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: prop('ui.dot.size');
    height: prop('ui.dot.size');
    border-radius: 50%;
    background-color: prop('ui.dot.default-color');
}
