//
// Dropdown menus
//

$module: dropdown;
$module-up: dropup;

.#{$module-up},
.#{$module} {
    position: relative;
}

.#{$module} {
    &-toggle {
        position: relative;
        text-align: left;

        &:before {
            position: absolute;
            top: 50%;
            right: 0;
            margin-right: prop('ui.dropdown.caret.margin-right');


            @include icon( prop('ui.dropdown.caret.icon.default') );
            line-height: 1;
            margin-top: -.5em;

            transform: prop('ui.dropdown.caret.icon.default-transform');
            transition: color .25s ease-out, transform .25s ease-out;
        }

        &:focus {
            // outline: 0;
        }
    }

    &.open > .#{$module}-toggle:before  {
        transform: prop('ui.dropdown.caret.icon.active-transform');
    }

    &-menu {
        position: absolute;
        top: 100%;
        left: 0;
        visibility: hidden;
        float: left;
        z-index: core('z-index.dropdown');
        min-width: prop('ui.dropdown.min-width');
        width : auto;
        min-width: 100%;
        padding: 0;
        margin: 0px 0 0;
        font-size: core('typography.font-size.base');
        color: prop('colors.text');
        text-align: left;
        list-style: none;
        background-color: prop('ui.dropdown.colors.background');
        background-clip: padding-box;
        border: prop('ui.dropdown.border.width') solid prop('ui.dropdown.colors.border.default');
        box-shadow: prop('ui.dropdown.colors.box-shadow');
        opacity: 0;
        transition: opacity .25s ease-out, visibility .25s ease-out;
        will-change: opacity, visibilty;

        @include border-radius(prop('ui.dropdown.border.radius.default.base'));

        //
        // Menu Positioning
        //
        &-right {
            right: 0;
            left: auto;
        }

        &-left {
            right: auto;
            left: 0;
        }

        .pull-right > & {
            right: 0;
            left: auto;
        }
    }

    &-divider {
        @include nav-divider(prop('ui.dropdown.colors.divider'));
    }

    &-item {
        display: block;
        width: 100%;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: core('typography.line-height.base');
        color: prop('ui.dropdown.colors.link.default');
        text-align: inherit;
        white-space: nowrap;
        background: none;
        border: 0;
        padding: prop('ui.dropdown.link.padding.base.y') prop('ui.dropdown.link.padding.base.x');

        @include hover-focus {
            color: prop('ui.dropdown.colors.link.hover');
            text-decoration: none;
            background-color: prop('ui.dropdown.colors.link.background-hover');
        }

        &.active {
            @include plain-hover-focus {
                color: prop('ui.dropdown.colors.link.active');
                text-decoration: none;
                background-color: prop('ui.dropdown.colors.link.background-active');
                outline: 0;
            }
        }

        &.disabled {
            @include plain-hover-focus {
                color: prop('ui.dropdown.colors.link.disabled');
            }

            @include hover-focus {
                text-decoration: none;
                cursor: not-allowed;
                background-color: transparent;
            }
        }
    }

    &-header {
        display: block;
        padding: 3px 20px;
        font-size: core('typography.font-size.small');
        line-height: core('typography.line-height.base');
        color: prop('ui.dropdown.colors.header');
        white-space: nowrap;
    }

    &-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: (core('z-index.dropdown') - 10);
    }
}

.#{$module-up} .#{$module}-toggle:before {
    transform: prop('ui.dropdown.caret.icon.dropup-default-transform');
}

//
// Open state
//

.open {

    > .#{$module}-toggle:before {
        transform: prop('ui.dropdown.caret.icon.active-transform');
    }

    &.#{$module-up} > .#{$module}-toggle:before {
        transform: prop('ui.dropdown.caret.icon.dropup-active-transform');
    }

    > .#{$module}-menu {
        visibility: visible;
        opacity: 1;
    }

    > a {
        outline: 0;
    }
}

.#{$module-up},
.navbar-fixed-bottom .#{$module} {
    .#{$module}-toggle:before {
        transform: prop('ui.dropdown.caret.icon.dropup-default-transform');
    }

    .#{$module}-menu {
        top: auto;
        bottom: 100%;
        margin-bottom: 2px;
    }
}
