//
// Dot (Indicator)
//

$module: dls-flag;

.#{$module} {
    display:inline-block;
    background-size: cover;
    width:100px;
    height:69px;
    outline:1px solid #999;

    &-arg { background-image: url("../img/DLS_flags/dls-flag-arg.svg"); }
    &-aus { background-image: url("../img/DLS_flags/dls-flag-aus.svg"); }
    &-aut { background-image: url("../img/DLS_flags/dls-flag-aut.svg"); }
    &-bel { background-image: url("../img/DLS_flags/dls-flag-bel.svg"); }
    &-can { background-image: url("../img/DLS_flags/dls-flag-can.svg"); }
    &-che { background-image: url("../img/DLS_flags/dls-flag-che.svg"); }
    &-deu { background-image: url("../img/DLS_flags/dls-flag-deu.svg"); }
    &-esp { background-image: url("../img/DLS_flags/dls-flag-esp.svg"); }
    &-fin { background-image: url("../img/DLS_flags/dls-flag-fin.svg"); }
    &-fra { background-image: url("../img/DLS_flags/dls-flag-fra.svg"); }
    &-gbr { background-image: url("../img/DLS_flags/dls-flag-gbr.svg"); }
    &-hkg { background-image: url("../img/DLS_flags/dls-flag-hkg.svg"); }
    &-ind { background-image: url("../img/DLS_flags/dls-flag-ind.svg"); }
    &-ita { background-image: url("../img/DLS_flags/dls-flag-ita.svg"); }
    &-jpn { background-image: url("../img/DLS_flags/dls-flag-jpn.svg"); }
    &-mex { background-image: url("../img/DLS_flags/dls-flag-mex.svg"); }
    &-nld { background-image: url("../img/DLS_flags/dls-flag-nld.svg"); }
    &-nor { background-image: url("../img/DLS_flags/dls-flag-nor.svg"); }
    &-nzl { background-image: url("../img/DLS_flags/dls-flag-nzl.svg"); }
    &-sgp { background-image: url("../img/DLS_flags/dls-flag-sgp.svg"); }
    &-swe { background-image: url("../img/DLS_flags/dls-flag-swe.svg"); }
    &-tha { background-image: url("../img/DLS_flags/dls-flag-tha.svg"); }
    &-twn { background-image: url("../img/DLS_flags/dls-flag-twn.svg"); }
    &-usa { background-image: url("../img/DLS_flags/dls-flag-usa.svg"); }
    &-arg { background-image: url("../img/DLS_flags/dls-flag-arg.svg"); }
}

.flag-sm {
    width:16px;
    height:11px;
}

.flag-md {
    width:50px;
    height:35px;
}
