//
// Forms
//

$module: form;

//
// Form Control
//
.#{$module}-control {
    display: block;
    width: 100%;
    font-size: prop('ui.input.font.size');
    color: prop('ui.input.colors.text.default');
    background-color: prop('ui.input.colors.background.default');
    border: prop('ui.input.border.width') solid prop('ui.input.colors.border.default');
    transition: border-color 0.25s ease-out;
    -webkit-appearance: none; // Remove webkit field shadows

    &::-ms-expand {
        background-color: transparent;
        border: 0;
    }

    @include focus {
        border-color: prop('ui.input.colors.border.focus');
        // outline: none;
    }

    &::placeholder {
        color: prop('ui.input.colors.placeholder');
    }

    &.disabled,
    &:disabled {
        color: prop('ui.input.colors.text.disabled');
        background-color: prop('ui.input.colors.background.disabled');
        border-color: prop('ui.input.colors.border.disabled');
        opacity: 1;
    }

    &[readonly] {

    }

    &:disabled {
        cursor: not-allowed;
    }

    &-success,
    &-warning,
    &-icon {
        background-repeat: no-repeat;
    }

    &-success {
        @include SVGIcon( prop('ui.input.icon.success') );
    }

    &-file,
    &-range {
        display: block;
    }

    &-label {
        margin-bottom: 0;
    }

    //
    // Validation
    //
    .has-warning &,
    &-warning {
        color: prop('ui.input.colors.text.warning');
        background-color: prop('ui.input.colors.background.warning');
        border-color: prop('ui.input.colors.border.warning');
    }

    &-warning {
        @include SVGIcon( prop('ui.input.icon.warning') );

        + .alert-form {
            display: block;
        }
    }

    //
    // Sizing
    //

    @each $size, $mod in (
        'base': (prefix:'', suffix:''),
        'small': (prefix:'.#{$module}', suffix:'-sm'),
        'large': (prefix:'.#{$module}', suffix:'-lg')
    ) {
        $prefix: get($mod, 'prefix');
        $suffix: get($mod, 'suffix');

        &#{$suffix} {
            min-height: prop('ui.input.height.#{$size}');
            padding: prop('ui.input.padding.#{$size}.y') prop('ui.input.padding.#{$size}.x');
            line-height: core('typography.line-height.#{$size}');
            @include border-radius(prop('ui.input.border.radius.#{$size}'));
        }

        &#{$prefix}-success,
        &#{$prefix}-warning,
        &#{$prefix}-icon {
            padding-right: prop('ui.input.padding.#{$size}.x') * 3.5;
            background-position: center right (prop('ui.input.height.#{$size}') * .25);
            background-size: (prop('ui.input.height.#{$size}') * .55);
        }

        &#{$prefix}-label {
            padding: prop('ui.input.padding.base.y') prop('ui.input.padding.base.x') prop('ui.input.padding.base.y') 0;
        }

    }
}

//
// Textarea padding
//
textarea.#{$module}-control {
    @each $size, $mod in (
        'base': (prefix:'', suffix:''),
        'small': (prefix:'.#{$module}', suffix:'-sm'),
        'large': (prefix:'.#{$module}', suffix:'-lg')
    ) {
        $prefix: get($mod, 'prefix');
        $suffix: get($mod, 'suffix');

        &#{$suffix} {
            padding: prop('ui.input.textarea.padding.#{$size}.y') prop('ui.input.textarea.padding.#{$size}.x');
        }

    }
}

//
// Form Group
//
.#{$module}-group {
    margin-bottom: prop('ui.input.group.margin-bottom');
}

//
// Inline forms
//
.#{$module}-inline {
    @include media-breakpoint-up(sm) {

        .#{$module}-group {
            display: inline-block;
            margin-bottom: 0;
            vertical-align: middle;
        }

        .#{$module}-control {
            display: inline-block;
            width: auto;
            vertical-align: middle;

            &-static {
                display: inline-block;
            }

            &-label {
                margin-bottom: 0;
                vertical-align: middle;
            }
        }

        .input-group {
            display: inline-table;
            vertical-align: middle;

            .input-group-addon,
            .input-group-btn,
            .#{$module}-control {
                width: auto;
            }

            > .#{$module}-control {
                width: 100%;
            }
        }

        .radio,
        .checkbox {
            display: inline-block;
            margin-top: 0;
            margin-bottom: 0;
            vertical-align: middle;

            label {
                padding-left: 0;
            }
        }

        .radio input[type="radio"],
        .checkbox input[type="checkbox"] {
            position: relative;
            margin-left: 0;
        }

    }
}


//
// Radios / Checkboxes
//
.radio,
.checkbox {
    position: relative;
    display: block;

    &:not(:last-child) {
        margin-bottom: prop('ui.input.group.margin-bottom');
    }

    label {
        padding-left: prop('ui.input.label.padding-left');
        margin-bottom: 0;
        font-weight: normal;
        cursor: pointer;

        input:only-child {
            position: static;
        }
    }

    &-inline {
        position: relative;
        display: inline-block;
        padding-left: prop('ui.input.label.padding-left');
        margin-bottom: 0;
        font-weight: normal;
        vertical-align: middle;
        cursor: pointer;

        &.disabled {
            cursor: not-allowed;
        }
    }

    &.disabled {
        label {
            cursor: not-allowed;
        }
    }
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    position: absolute;
    margin-top: .25rem;
    margin-left: -(prop('ui.input.label.padding-left'));
}

.radio + .radio,
.checkbox + .checkbox {
    margin-top: -.25rem;
}

.radio + .radio,
.checkbox + .checkbox {
    margin-top: -.25rem;
}

input[type="radio"],
input[type="checkbox"], {
    &:disabled,
    &.disabled {
        cursor: not-allowed;
    }
}

//
// Labels
//
.label,
label {
    @extend .h4;
    @include insert-attributes( prop('ui.input.label.style') );
    color: prop('ui.input.colors.label.default');

    .disabled &,
    :disabled & {
        color: prop('ui.input.colors.label.disabled');
    }

    .has-warning & {
        color: prop('ui.input.colors.label.warning');
    }
}

//
// Legends
//
legend {
    @include insert-attributes( prop('ui.input.label.style') );
    @include insert-attributes( prop('ui.input.legend.style') );
    color: prop('ui.input.colors.legend.default');

    .disabled & {
        color: prop('ui.input.colors.legend.disabled');
    }

    .has-warning & {
        color: prop('ui.input.colors.legend.warning');
    }
}

//
// Fieldset
//
fieldset {

    > input:not(:last-child) {
        margin-bottom: prop('ui.input.group.margin-bottom');
    }
}
