//
// Offer Image
//

$module: imagephoto;

.#{$module}-offer {
    display:inline-block;
    width:110px;
    height:50px;
    padding:10px;
}

.#{$module}-social {
    height:32px;
    margin-right:10px;
    margin-bottom:10px;
}

.#{$module}-ad {
    &-sm {
        width:300px;
        height:250px;
    }
}
