//
// Lists
//

$module: list;

.#{$module} {
    padding: 0;

    &-links {
        @extend .list;
        list-style: none;
    }

    &-inline,
    &-links-inline {
        @extend .list;
        li {
            position: relative;
            display: inline-block;

            &:first-child:not(:last-child),
            + li {
                padding-right: prop('ui.list.padding.base.x');
            }
        }
	  }

    &-inline-separator,
    &-links-inline-separator {
        padding-left:0;

        li {
            display: inline-block;
              white-space: nowrap;

            &:first-child:not(:last-child),
            + li {
                padding-right: 0;
            }

            &:not(:last-child):after {
                content: '|';
                color: prop('ui.list.colors.separator');
                padding:  0 prop('ui.list.padding.base.separator');
            }
        }

	    .reduced-mode & {
	      width: 320px;
	    }
    }

    &-links li:not(:last-child),
    &-stack li:not(:last-child) {
        margin-bottom: prop('ui.list.padding.base.y');
    }
}
