//
// Sort Toggle Button
//

$module: sort-toggle;
$map: prop('ui.sort-toggle');

.#{$module} {
    @extend %btn-reset;

    $arrow-size: get($map, 'arrow.size');
    $spacing: get($map, 'arrow.spacing');

    position: relative;
    display: inline-block;
    padding: {
        left: $arrow-size;
    };

    &:before {
        position: relative;
        display: block;
        content: '';
        width: 0;
        height: 0;
        border-left: $arrow-size solid transparent;
        border-right: $arrow-size solid transparent;
        margin-bottom: $spacing;

        border-bottom: $arrow-size solid get($map, 'colors.default');
    }

    &:after {
        position: relative;
        display:block;
        content: '';
        width: 0;
        height: 0;
        border-left: $arrow-size solid transparent;
        border-right: $arrow-size solid transparent;

        border-top: $arrow-size solid get($map, 'colors.active');
    }

    .toggled &,
    &.toggled {
        &:before {
            border-bottom-color: get($map, 'colors.active');
        }

        &:after {
            border-top-color: get($map, 'colors.default');
        }
    }
}
