//
// Tables
//
$module: table;
.#{$module} {
    width: 100%;
    max-width: 100%;
    padding: 0;
    background-color: prop('ui.table.colors.background.base');
    border: prop('ui.table.border.width') solid prop('ui.table.colors.border');

    th,
    td {
        line-height: core('typography.line-height.base');
        vertical-align: top;
    }
    th[data-title] {
        &::before {
            content: attr(data-title);
        }
    }

    td {
        vertical-align: middle;
    }
    .icon {
        line-height: .5;
        font-size: rem(15px);
    }

    tr {
        border-bottom: prop('ui.table.border.width') solid prop('ui.table.colors.border');
    }
    thead {
        background-color: prop('ui.table.colors.background.head');
        th {
            vertical-align: bottom;
        }
    }

    // Table borders
    &-border {
        &-top {
            border-top: prop('ui.table.border.width') solid prop('ui.table.colors.border');
        }
        &-right {
            border-right: prop('ui.table.border.width') solid prop('ui.table.colors.border');
        }
        &-bottom {
            border-bottom: prop('ui.table.border.width') solid prop('ui.table.colors.border');
        }
        &-left {
            border-left: prop('ui.table.border.width') solid prop('ui.table.colors.border');
        }
        &-secondary {
            border-color: prop('ui.table.colors.secondary.border');
        }
    }

    &-title {
        @extend .heading-4;
        color: prop('ui.table.colors.header');
        margin-bottom: 0;
    }
    &-bg {
        background-color: prop('ui.table.colors.background.head');
    }
    &-row-link {
        cursor: pointer;
        will-change: background-color;
        @include hover {
            background-color: prop('ui.table.colors.background.hover');
        }
    }

    thead th,
    &-head {
        @extend .h4;
        @include insert-attributes(prop('ui.table.head.style'));
    }

    //
    // Table Head
    //
    &-head {
        padding-bottom: rem(5px);
    }

    //
    // Separator
    //
    &-separator-columns td {
        position: relative;
        &:not(:last-child):after {
            position: absolute;
            content: '';
            top: prop('ui.table.border.separator.offset');
            bottom: prop('ui.table.border.separator.offset');
            right: 0;
            border-right: prop('ui.table.border.width') solid prop('ui.table.colors.border');
        }
    }

    &-valign {
        &-top {
            vertical-align: top;
        }

        &-middle {
            vertical-align: middle;
        }
        &-bottom {
            td {
                vertical-align: bottom;
            }
        }
    }

    //
    // Size Modifiers
    //
    @each $mod,
    $size in ('': 'base', '-sm': 'small', '-lg': 'large') {
        &#{$mod} {
            font-size: prop('ui.table.font-size.#{$size}');
        }
        &#{$mod},
        &-pad#{$mod} {
            th,
            td {
                padding: {
                    top: prop('ui.table.cell-padding.#{$size}.y');
                    bottom: prop('ui.table.cell-padding.#{$size}.y');
                    left: (prop('ui.table.cell-padding.#{$size}.x') * 0.5);
                    right: (prop('ui.table.cell-padding.#{$size}.x') * 0.5);
                }
                &:first-child {
                    padding-left: prop('ui.table.cell-padding.#{$size}.x');
                }
                &:last-child {
                    padding-right: prop('ui.table.cell-padding.#{$size}.x');
                }
            }

            &.#{$module}-separator-columns td {
                padding: {
                    left: (prop('ui.table.cell-padding.#{$size}.x'));
                    right: (prop('ui.table.cell-padding.#{$size}.x'));

                }
            }
        }
    }
    &-bordered {
        &,
        th,
        td {
            border: prop('ui.table.border.width') solid prop('ui.table.colors.border');
        }

        thead {
            th,
            td {
                border-bottom-width: prop('ui.table.border.width');
            }
        }
    }

    &-striped {
        tbody tr:nth-of-type(odd) {
            background-color: prop('ui.table.colors.background.accent');
        }
    }

    &-hover tbody tr,
    &-row-link {
        will-change: background-color;
        transition: background-color .15s ease-out;

        @include hover {
            background-color: prop('ui.table.colors.background.hover');
        }
    }

    &-row-link {
        cursor: pointer;
    }
    &-responsive {
        //display: block;
        width: 100%;
        min-height: .01%;
        overflow-x: auto;
        padding: 0;

        td {
            max-width: 0;
        }
    }

    //
    // Table collapse on columns based on grid breakpoints
    //
    @each $breakpoint in map-keys(core('grid.breakpoints')) {

        &-collapse-#{$breakpoint}-up,
        &-collapse-#{$breakpoint}-down {
            @include media-breakpoint-down($breakpoint) {
                thead,
                tbody,
                th,
                tr,
                td,
                {
                    display: block;
                }
                td {
                    max-width: none;
                    &:not(:last-child) {
                        border-bottom: prop('ui.table.border.width') solid prop('ui.table.colors.border');
                    }
                }

                &.#{$module}-separator-columns td:after {
                    display: none;
                }
            }
        }
    }
}

//
// Generate padding classes
//

@each $mod,
$size in ('': 'base', '-sm': 'small', '-lg': 'large') {
    .pad-#{$module}#{$mod} {
        padding: {
            top: prop('ui.table.cell-padding.#{$size}.y');
            bottom: prop('ui.table.cell-padding.#{$size}.y');
            left: (prop('ui.table.cell-padding.#{$size}.x'));
            right: (prop('ui.table.cell-padding.#{$size}.x'));
        };
        &-lr {
            padding: {
                left: (prop('ui.table.cell-padding.#{$size}.x'));
                right: (prop('ui.table.cell-padding.#{$size}.x'));
            }
        }
        &-tb {
            padding: {
                top: prop('ui.table.cell-padding.#{$size}.y');
                bottom: prop('ui.table.cell-padding.#{$size}.y');
            }
        }
        &-t {
            padding-top: prop('ui.table.cell-padding.#{$size}.y');
        }
        &-b {
            padding-bottom: prop('ui.table.cell-padding.#{$size}.y');
        }
    }
}
