//
// Table Group Handling
//

$module: table;

// Make the element behave like a table
.#{$module}-group {
    position: relative;
    background-color: prop('ui.table.colors.background.base');
    font-size: prop('ui.table.font-size.base');

    > table {
        border: 0;
        margin-bottom: 0;

        > thead,
        > tbody {
            border-top: none;

            > tr:first-child:not(.table-head) {
                border-top: none;
            }

            > .table-head {
                border-top: prop('ui.table.border.width') solid prop('ui.table.colors.border');
            }
        }

        &:first-child > thead,
        + table {
            border-top: prop('ui.table.border.width') solid prop('ui.table.colors.border');
        }

        &:last-child {
            tbody {
                border-bottom: 0;
            }
        }
    }

    &-border {
        border: prop('ui.table.border.width') solid prop('ui.table.colors.border');

        > table:first-child > thead,
        > table:first-child > .table-head {
            border-top: none;
        }
    }
}
