//
// Tag
//

$module: tags;

.#{$module} {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    &-link {
        position: relative;
        display: inline-block;

        font-size: prop('ui.tags.font.size');
        font-weight: prop('ui.tags.font.weight');
        line-height: prop('ui.tags.line-height');

        color: prop('ui.tags.colors.text');
        background-color: prop('ui.tags.colors.background');
        padding: prop('ui.tags.padding.base.y') prop('ui.tags.padding.base.x');
        text-select: none;

        &,
        &:before {
            transition: background-color .25s ease-out, color .25s ease-out;
        }

        border: prop('ui.tags.border.width') solid prop('ui.tags.colors.border.default');
        @include border-radius(prop('ui.tags.border.radius.base'));

        &:not(a) {
            cursor: default;
        }

        @include hover-focus {
            text-decoration: none;
            color: prop('ui.tags.colors.text');

            &:after {
                color: prop('ui.tags.colors.hover');
            }
        }

        &-removable {
            padding-right: (prop('ui.tags.removable.close.width') + prop('ui.tags.padding.base.x'));

            &:before {
                position:absolute;
                content: '';
                right: -(prop('ui.tags.border.width'));
                top: -(prop('ui.tags.border.width'));
                bottom: -(prop('ui.tags.border.width'));
                width: prop('ui.tags.removable.close.width');
                background-color: prop('ui.tags.colors.background-hover');
                border: prop('ui.tags.border.width') solid prop('ui.tags.colors.border.default');

                @include border-right-radius(prop('ui.tags.border.radius.base'));

            }

            &:after {
                position: absolute;
                right: -1px;
                top: 50%;
                width: prop('ui.tags.removable.close.width');
                text-align: center;
                font-size: prop('ui.tags.font.size');
                line-height: 1;
                margin-top: -.5em;
                @include icon(prop('ui.tags.close.icon'));
            }

            &:hover:before {
                background-color: prop('ui.tags.colors.background-hover');
            }
        }
    }

    &-item {
        margin-bottom: prop('ui.tags.margin.base.y');

        + .#{$module}-item {
            margin-top: prop('ui.tags.margin.base.y');
        }
    }

    &-inline {
        @include clearfix();

        .#{$module}-item {
            float: left;
            margin-top: 0;

            &:first-child:not(:last-child) {
                margin-right: prop('ui.tags.margin.base.x');
            }

            + .#{$module}-item {
                margin-right: prop('ui.tags.margin.base.x');
            }
        }

        .#{$module}-link {
            display: block;
        }
    }
}
