//
// Tooltips
//

$module: tooltip;

.#{$module} {
    position: absolute;
    // TODO: Should we adjust tooltip z-index when contained in a modal?
    z-index: core('z-index.tooltip');
    display: block;
    visibility: hidden;

    @include reset-text();
    font-size: core('typography.font-size.small');
    line-height: core('typography.line-height.small');
    border-color: transparent;
    opacity: 0;

    &.in {
        opacity: prop('ui.tooltip.opacity')!important;
    }


    &-narrow {
        width:100%;
        padding: 0 20px !important;

        .#{$module}-inner {
            min-width:none !important;
            max-width:none !important;
        }
        .#{$module}-arrow {
            display:none;
        }

        display:none !important;

        @include media-breakpoint-down('md') {
            display:block !important;
        }
    }

    &-left,
    &-right {
        @include media-breakpoint-down('md') {
            display:none !important;
        }
    }

    //
    // Tooltip Locations
    //

    &.#{$module}-target-attached {
        &-top .#{$module}-arrow,
        &-bottom .#{$module}-arrow {
            left: 0;
            width: 100%;
            height: prop('ui.tooltip.arrow-size');
            margin-left: 0;
            overflow-x: visible;
            overflow-y: hidden;

            &-pointer {
                display: block;
                left: 50%;
                margin-left: -(prop('ui.tooltip.arrow-size') * 0.5);
            }
        }

        &-top {
            padding: 0 0 (prop('ui.tooltip.arrow-size') - rem( prop('ui.tooltip.offset') ));

            .#{$module}-arrow {
                bottom: (prop('ui.tooltip.border.width') * 2) - prop('ui.tooltip.offset');

                &-pointer {
                    bottom: (prop('ui.tooltip.arrow-size') * 0.5);
                }
            }
        }

        &-bottom {
            padding: (prop('ui.tooltip.arrow-size') - rem( prop('ui.tooltip.offset') )) 0 0;
            .#{$module}-arrow {
                top: (prop('ui.tooltip.border.width') * 2) - prop('ui.tooltip.offset');

                &-pointer {
                    top: (prop('ui.tooltip.arrow-size') * 0.5);
                }
            }
        }

        &-left,
        &-right {
            padding: 0 prop('ui.tooltip.arrow-size');

            .#{$module}-arrow {
                top: 0;
                width: prop('ui.tooltip.arrow-size');
                height: 100%;
                margin-top: 0;
                overflow-x: hidden;
                overflow-y: visible;

                &-pointer {
                    display: block;
                    top: 50%;
                    margin-top: -(prop('ui.tooltip.arrow-size') * .5);
                }
            }
        }

        &-right {
            padding: 0 0 0 (prop('ui.tooltip.arrow-size') - rem(prop('ui.tooltip.offset')));
            margin-right: -(prop('ui.tooltip.arrow-size') * .5);

            .#{$module}-arrow {
                left: (prop('ui.tooltip.border.width') * 2) - prop('ui.tooltip.offset');

                &-pointer {
                    left: (prop('ui.tooltip.arrow-size') * .5);
                }
            }
        }

        &-left {
            padding: 0 (prop('ui.tooltip.arrow-size') - rem(prop('ui.tooltip.offset'))) 0 0;
            margin-left: -(prop('ui.tooltip.arrow-size') * .5);

            .#{$module}-arrow {
                right: (prop('ui.tooltip.border.width') * 2) - prop('ui.tooltip.offset');

                &-pointer {
                    left: -(prop('ui.tooltip.arrow-size') * .5);
                }
            }
        }
    }

    &-inner {
        visibility: visible;
        @include border-radius(prop('ui.tooltip.border.radius'));
        white-space: normal;
        word-wrap: break-word;
    }

    &-inner,
    &-arrow,
    &-arrow-shadow,
    &-arrow-pointer {
        border: prop('ui.tooltip.border.width') solid transparent;
        background-color: inherit;
        box-shadow: inherit;
        border-color: inherit;
    }

    &-arrow-shadow {
        z-index: -1;
    }

    &-arrow:not(.#{$module}-arrow-shadow) .#{$module}-arrow-pointer  {
        box-shadow: none;
    }

    &-arrow {
        position: absolute;
        visibility: hidden;
        width: 0;
        height: 0;

        &-pointer {
            position: absolute;
            content: '';
            display: none;
            visibility: visible;
            content: '';
            right: 0;
            left: 0;

            width: prop('ui.tooltip.arrow-size');
            height: prop('ui.tooltip.arrow-size');

            transform: rotate(45deg);
        }
    }

    &-close {
        display:block;
        text-align: center;
    }

    &-info {

    }

    //
    // Size Modifiers
    //
    @each $mod, $size in ('': 'base', '-sm': 'small') {
        &#{$mod} {

            //
            // Cycle through tooltip `types`
            //
            @each $typeMod, $type in ( '': 'default', '.#{$module}-info': 'info' ) {
                &#{$typeMod} {
                    text-align: prop('ui.tooltip.type.#{$type}.text-align');

                    .#{$module}-inner {
                        min-width: prop('ui.tooltip.type.#{$type}.width.#{$size}.min');
                        max-width: prop('ui.tooltip.type.#{$type}.width.#{$size}.max');
                        padding: prop('ui.tooltip.type.#{$type}.padding.#{$size}.y') prop('ui.tooltip.type.#{$type}.padding.#{$size}.x');
                    }

                    .#{$module}-close {
                        padding: {
                            top: prop('ui.tooltip.type.#{$type}.padding.base.y');
                        };
                    }
                }
            }
        }
    }

    @extend .#{$module}#{prop('ui.tooltip.default-type')};
}

// Loop through the types specified in the config
@include tooltip-create-types(prop('ui.tooltip.types'));
