//
// Animation properties
//

$module: anim;

.#{$module} {
    //
    // Fade
    //
    &-fade {
        opacity: 0;
        transition: opacity prop('ui.animation.fade.time') prop('ui.animation.fade.easing');
        will-change: opacity;

        &.in {
            opacity: 1;
        }

        &-tooltip {
            opacity: 0;
            transition: opacity prop('ui.animation.fade.time') prop('ui.animation.fade.easing');
            will-change: opacity;

            &.in {
                opacity: 1;
            }
        }
    }

    //
    // Bar animation (used in progress bars)
    //
    &-bar {
        &-determinate {
            will-change: width;
            transition: width prop('ui.animation.progress.bar.determinate.time') prop('ui.animation.progress.bar.determinate.easing');
        }

        //
        // Indeterminate (infinity)
        //
        &-indeterminate {
            &:before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                bottom: 0;
                background-color: inherit;

                will-change: left, right;
                animation: bar-indeterminate prop('ui.animation.progress.bar.indeterminate.before.time') prop('ui.animation.progress.bar.indeterminate.before.easing') infinite;
            }

            &:after {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                bottom: 0;
                background-color: inherit;

                will-change: left, right;
                animation: bar-indeterminate-short prop('ui.animation.progress.bar.indeterminate.after.time') prop('ui.animation.progress.bar.indeterminate.after.easing') infinite;
                animation-delay: 1.15s;
            }
        }
    }

    &-spinner {
        //
        // Indeterminate (infinity)
        //
        &-indeterminate {
            will-change: transform;
            animation: spinner-indeterminate prop('ui.animation.spinner.indeterminate.time') prop('ui.animation.spinner.indeterminate.easing') infinite;
        }
    }
}

//
// Spinner `Indeterminate` animation
//
@keyframes spinner-indeterminate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

//
// Bar `Indeterminate` animation
//
@keyframes bar-indeterminate {
    0% {left: -35%; right:100%;}
    60% {left: 100%; right: -90%;}
    100% {left: 100%; right: -90%;}
}

@keyframes bar-indeterminate-short {
    0% {left: -200%; right: 100%;}
    60% {left: 107%; right: -8%;}
    100% {left: 107%; right: -8%;}
}
