.border {
    border: core('border.width') solid color('dls-accent-gray-02');
    &-lr {
        border-left: core('border.width') solid color('dls-accent-gray-02');
        border-right: core('border.width') solid color('dls-accent-gray-02');
    }
    &-tb {
        border-top: core('border.width') solid color('dls-accent-gray-02');
        border-bottom: core('border.width') solid color('dls-accent-gray-02');
    }
    &-t {
        border-top: core('border.width') solid color('dls-accent-gray-02');
    }
    &-b {
        border-bottom: core('border.width') solid color('dls-accent-gray-02');
    }
    &-0 {
        border: none !important;
        &-lr {
            border-left: none !important;
            border-right: none !important;
        }
        &-tb {
            border-top: none !important;
            border-bottom: none !important;
        }
        &-t {
            border-top: none !important;
        }
        &-b {
            border-bottom: none !important;
        }
    }
}

.border-dark {
    border: core('border.width') solid color('dls-accent-gray-03');
    &-lr {
        border-left: core('border.width') solid color('dls-accent-gray-03');
        border-right: core('border.width') solid color('dls-accent-gray-03');
    }
    &-tb {
        border-top: core('border.width') solid color('dls-accent-gray-03');
        border-bottom: core('border.width') solid color('dls-accent-gray-03');
    }
    &-t {
        border-top: core('border.width') solid color('dls-accent-gray-03');
    }
    &-b {
        border-bottom: core('border.width') solid color('dls-accent-gray-03');
    }
}

//Responsive Borders

@each $breakpoint in map-keys(core('grid.breakpoints')) {
    .border-#{$breakpoint} {
        @include media-breakpoint-down($breakpoint) {
            border: core('border.width') solid color('dls-accent-gray-02');
            &-lr {
                border-left: core('border.width') solid color('dls-accent-gray-02');
                border-right: core('border.width') solid color('dls-accent-gray-02');
            }
            &-tb {
                border-top: core('border.width') solid color('dls-accent-gray-02');
                border-bottom: core('border.width') solid color('dls-accent-gray-02');
            }
            &-t {
                border-top: core('border.width') solid color('dls-accent-gray-02');
            }
            &-b {
                border-bottom: core('border.width') solid color('dls-accent-gray-02');
            }
            &-0 {
                border: none !important;
                &-lr {
                    border-left: none !important;
                    border-right: none !important;
                }
                &-tb {
                    border-top: none !important;
                    border-bottom: none !important;
                }
                &-t {
                    border-top: none !important;
                }
                &-b {
                    border-bottom: none !important;
                }
            }
            &-dark {
                border: core('border.width') solid color('dls-accent-gray-03');
                &-lr {
                    border-left: core('border.width') solid color('dls-accent-gray-03');
                    border-right: core('border.width') solid color('dls-accent-gray-03');
                }
                &-tb {
                    border-top: core('border.width') solid color('dls-accent-gray-03');
                    border-bottom: core('border.width') solid color('dls-accent-gray-03');
                }
                &-t {
                    border-top: core('border.width') solid color('dls-accent-gray-03');
                }
                &-b {
                    border-bottom: core('border.width') solid color('dls-accent-gray-03');
                }
            }
        }
    }
}
