//
// Colors
//

// Output all the colors defined in the core('colors') palette to classes
// e.g. - .dls-core-blue-01 (background-color:...), .dls-core-blue-01-text (color:...)
@include generate-color-palette(core('colors'));

// Output all the colors defined in the prop('colors') (shorthand versions of brand colors)
@include generate-color-palette(prop('colors'), 'col-');

.shadow {
    &-1 {
        box-shadow: core('shadows.level1');
    }
    &-2 {
        box-shadow: core('shadows.level2');
    }
    &-3 {
        box-shadow: core('shadows.level3');
    }
}
