//
// Counters
//


//
// Percentage counter
//
// Create a percentage counter() that outputs classes 0-100 for use in single value
// percentage calculation, which reduces the reliance on JavaScript for interpreting
// percentage values
//

@for $i from 0 through 100 {
    [data-count="#{$i}"] {
        counter-reset: count $i;

        .count {
            &-stroke {
                $value: ($i/100) * 287;

                stroke-dasharray: unquote('#{$value}%, 500');
            }
            &-width {
                width: percentage($i);
            }
        }
    }
}
