//
// Floats
//

.clearfix {
    @include clearfix();
}

.center-block {
    @include center-block();
}

.float {
    &-left {
        float: left;
    }
    &-right {
        float: right;
    }
}

//
// Text
//
.text {
    &-justify {
        text-align: justify;
    }

    &-nowrap {
        white-space: nowrap;
    }

    &-truncate {
        @include text-truncate;
    }

    &-lowercase {
        text-transform: lowercase !important;
    }

    &-uppercase {
        text-transform: uppercase !important;
    }

    &-capitalize {
        text-transform: capitalize !important;
    }

    &-muted {
        color: prop('colors.muted');
    }

    &-align {

        &-left {
            text-align: left !important;
        }

        &-center {
            text-align: center !important;
        }

        &-right {
            text-align: right !important;
        }
    }

    &-lg {
        font-size: core('typography.font-size.large');
    }
}

//
// Flex
//
.flex {
    display: flex;
    min-width: 0;

    &-inline {
        display: inline-flex;
        min-width: 0;
    }

    &-align {

        &-stretch {
            align-items: stretch;
        }

        &-center {
            align-items: center;
        }

        &-start {
            align-items: flex-start;
        }

        &-end {
            align-items: flex-end;
        }

        &-baseline {
            align-items: baseline;
        }
        &-content {
          &-start {
            align-content: flex-start;
          }
          &-end {
            align-content: flex-end;
          }
          &-center {
            align-content: center;
          }
          &-between {
            align-content: space-between;
          }
          &-around {
            align-content: space-around;
          }
          &-stretch {
            align-content: stretch;
          }
        }
        &-items {
          &-center {
            align-items: center;
          }
          &-start {
            align-items: flex-start;
          }
          &-end {
            align-items: flex-end;
          }
          &-baseline {
            align-items: baseline;
          }
          &-stretch {
            align-items: stretch;
          }
        }
    }
    &-justify {
      &-center {
        justify-content: center;
      }
      &-end {
        justify-content: flex-end;
      }
      &-between {
        justify-content: space-between;
      }
      &-around {
        justify-content: space-around;
      }
    }
    &-wrap {
      flex-wrap: wrap;
    }
    &-no-wrap {
      flex-wrap: nowrap;
    }
    &-reverse-wrap {
      flex-wrap: wrap-reverse;
    }
}

//
// Font weight
//
.font {
    &-weight {
        &-normal {
            font-weight: normal;
        }

        &-medium {
            font-weight: 600;
        }

        &-bold {
            font-weight: 800;
        }
    }

    &-italic {
        font-style: italic;
    }
}

//
// Display
//
.display {
    &-none {
        display: none;
        speak: none;
    }

    &-block {
        display: block;
        speak: normal;
    }

    &-inline{
        display: inline;
        speak: normal;
    }

    &-inline-block {
        display: inline-block;
        speak: normal;
    }
}

//
//Position
//
.position {
    &-fixed {
        position: fixed;
    }
    &-relative {
        position: relative;
    }
    &-absolute {
        position: absolute;
    }
}

//
// Visibility for Screen Reader
//
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.hidden {
    visibility: hidden;
}

.transparent {
    &:hover {
      background-color: transparent;
      border: none;
    }
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    min-width: 0;
    max-width: none;
}

.no-scroll {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow: hidden;
}

.individual {
    speak: spell-out;
    word-spacing: -.25em;
}

.speak-individual {
    word-spacing: -0.25em;
    speak: spell-out;
}

.inverted {

    &, a {
        color: prop('colors.background');
        background-color: prop('colors.text');
    }
    a {
        text-decoration: underline;
    }
}

.fluid {
	width: 100%;
	max-width: none;
}
