$module: margin;
.#{$module} {
    margin: core('margins');
    &-t {
        margin-top: core('margins');
    }
    &-b {
        margin-bottom: core('margins');
    }
    &-l {
        margin-left: core('margins');
    }
    &-r {
        margin-right: core('margins');
    }
    &-lr {
        margin-left: core('margins');
        margin-right: core('margins');
    }
    &-tb {
        margin-top: core('margins');
        margin-bottom: core('margins');
    }
    &-title {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    &-auto {
        margin: auto;
        &-t {
            margin-top: auto !important;
        }
        &-b {
            margin-bottom: auto !important;
        }
        &-l {
            margin-left: auto !important;
        }
        &-r {
            margin-right: auto !important;
        }
        &-lr {
            margin-left: auto !important;
            margin-right: auto !important;
        }
        &-tb {
            margin-top: auto !important;
            margin-bottom: auto !important;
        }
    }
    &-center {
        margin: 0 auto;
    }
    &-0 {
        margin: 0 !important;
        &-t {
            margin-top: 0 !important;
        }
        &-b {
            margin-bottom: 0 !important;
        }
        &-l {
            margin-left: 0 !important;
        }
        &-r {
            margin-right: 0 !important;
        }
        &-lr {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
        &-tb {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }
    }
    &-1 {
      margin: rem(10px) !important;
      &-t {
          margin-top: rem(10px) !important;
      }
      &-b {
          margin-bottom: rem(10px) !important;
      }
      &-l {
          margin-left: rem(10px) !important;
      }
      &-r {
          margin-right: rem(10px) !important;
      }
      &-lr {
          margin-left: rem(10px) !important;
          margin-right: rem(10px) !important;
      }
      &-tb {
          margin-top: rem(10px) !important;
          margin-bottom: rem(10px) !important;
      }
    }
    &-2 {
      margin: rem(20px) !important;
      &-t {
          margin-top: rem(20px) !important;
      }
      &-b {
          margin-bottom: rem(20px) !important;
      }
      &-l {
          margin-left: rem(20px) !important;
      }
      &-r {
          margin-right: rem(20px) !important;
      }
      &-lr {
          margin-left: rem(20px) !important;
          margin-right: rem(20px) !important;
      }
      &-tb {
          margin-top: rem(20px) !important;
          margin-bottom: rem(20px) !important;
      }
    }
    &-3 {
      margin: rem(30px) !important;
      &-t {
          margin-top: rem(30px) !important;
      }
      &-b {
          margin-bottom: rem(30px) !important;
      }
      &-l {
          margin-left: rem(30px) !important;
      }
      &-r {
          margin-right: rem(30px) !important;
      }
      &-lr {
          margin-left: rem(30px) !important;
          margin-right: rem(30px) !important;
      }
      &-tb {
          margin-top: rem(30px) !important;
          margin-bottom: rem(30px) !important;
      }
    }
    //
    // Responsive
    //
    @each $breakpoint in map-keys(core('grid.breakpoints')) {
            @include media-breakpoint-up($breakpoint) {
                &-#{$breakpoint}-up {
                    margin: core('margins') !important;
                }
                &-t-#{$breakpoint}-up {
                    margin-top: core('margins') !important;
                }
                &-b-#{$breakpoint}-up {
                    margin-bottom: core('margins') !important;
                }
                &-l-#{$breakpoint}-up {
                    margin-left: core('margins') !important;
                }
                &-r-#{$breakpoint}-up {
                    margin-right: core('margins') !important;
                }
                &-lr-#{$breakpoint}-up {
                    margin-left: core('margins') !important;
                    margin-right: core('margins') !important;
                }
                &-tb-#{$breakpoint}-up {
                    margin-top: core('margins') !important;
                    margin-bottom: core('margins') !important;
                }
                &-0 {
                    &-#{$breakpoint}-up {
                        margin: 0 !important;
                    }
                    &-t-#{$breakpoint}-up {
                        margin-top: 0 !important;
                    }
                    &-b-#{$breakpoint}-up {
                        margin-bottom: 0 !important;
                    }
                    &-l-#{$breakpoint}-up {
                        margin-left: 0 !important;
                    }
                    &-r-#{$breakpoint}-up {
                        margin-right: 0 !important;
                    }
                    &-lr-#{$breakpoint}-up {
                        margin-left: 0 !important;
                        margin-right: 0 !important;
                    }
                    &-tb-#{$breakpoint}-up {
                        margin-top: 0 !important;
                        margin-bottom: 0 !important;
                    }
                }
                &-1 {
                    &-#{$breakpoint}-up {
                        margin: rem(10px) !important;
                    }
                    &-t-#{$breakpoint}-up {
                        margin-top: rem(10px) !important;
                    }
                    &-b-#{$breakpoint}-up {
                        margin-bottom: rem(10px) !important;
                    }
                    &-l-#{$breakpoint}-up {
                        margin-left: rem(10px) !important;
                    }
                    &-r-#{$breakpoint}-up {
                        margin-right: rem(10px) !important;
                    }
                    &-lr-#{$breakpoint}-up {
                        margin-left: rem(10px) !important;
                        margin-right: rem(10px) !important;
                    }
                    &-tb-#{$breakpoint}-up {
                        margin-top: rem(10px) !important;
                        margin-bottom: rem(10px) !important;
                    }
                }
                &-2 {
                    &-#{$breakpoint}-up {
                        margin: rem(20px) !important;
                    }
                    &-t-#{$breakpoint}-up {
                        margin-top: rem(20px) !important;
                    }
                    &-b-#{$breakpoint}-up {
                        margin-bottom: rem(20px) !important;
                    }
                    &-l-#{$breakpoint}-up {
                        margin-left: rem(20px) !important;
                    }
                    &-r-#{$breakpoint}-up {
                        margin-right: rem(20px) !important;
                    }
                    &-lr-#{$breakpoint}-up {
                        margin-left: rem(20px) !important;
                        margin-right: rem(20px) !important;
                    }
                    &-tb-#{$breakpoint}-up {
                        margin-top: rem(20px) !important;
                        margin-bottom: rem(20px) !important;
                    }
                }
                &-3 {
                    &-#{$breakpoint}-up {
                        margin: rem(30px) !important;
                    }
                    &-t-#{$breakpoint}-up {
                        margin-top: rem(30px) !important;
                    }
                    &-b-#{$breakpoint}-up {
                        margin-bottom: rem(30px) !important;
                    }
                    &-l-#{$breakpoint}-up {
                        margin-left: rem(30px) !important;
                    }
                    &-r-#{$breakpoint}-up {
                        margin-right: rem(30px) !important;
                    }
                    &-lr-#{$breakpoint}-up {
                        margin-left: rem(30px) !important;
                        margin-right: rem(30px) !important;
                    }
                    &-tb-#{$breakpoint}-up {
                        margin-top: rem(30px) !important;
                        margin-bottom: rem(30px) !important;
                    }
                }
                &-auto {
                    &-#{$breakpoint}-up {
                      margin: auto;
                    }
                    &-t-#{$breakpoint}-up {
                        margin-top: auto !important;
                    }
                    &-b-#{$breakpoint}-up {
                        margin-bottom: auto !important;
                    }
                    &-l-#{$breakpoint}-up {
                        margin-left: auto !important;
                    }
                    &-r-#{$breakpoint}-up {
                        margin-right: auto !important;
                    }
                    &-lr-#{$breakpoint}-up {
                        margin-left: auto !important;
                        margin-right: auto !important;
                    }
                    &-tb-#{$breakpoint}-up {
                        margin-top: auto !important;
                        margin-bottom: auto !important;
                    }
                }
                &-center-#{$breakpoint}-up {
                    margin: 0 auto;
                }
            }
            @include media-breakpoint-down($breakpoint) {
                &-#{$breakpoint}-down {
                    margin: core('margins') !important;
                }
                &-t-#{$breakpoint}-down {
                    margin-top: core('margins') !important;
                }
                &-b-#{$breakpoint}-down {
                    margin-bottom: core('margins') !important;
                }
                &-l-#{$breakpoint}-down {
                    margin-left: core('margins') !important;
                }
                &-r-#{$breakpoint}-down {
                    margin-right: core('margins') !important;
                }
                &-lr-#{$breakpoint}-down {
                    margin-left: core('margins') !important;
                    margin-right: core('margins') !important;
                }
                &-tb-#{$breakpoint}-down {
                    margin-top: core('margins') !important;
                    margin-bottom: core('margins') !important;
                }
                &-0 {
                    &-#{$breakpoint}-down {
                        margin: 0 !important;
                    }
                    &-t-#{$breakpoint}-down {
                        margin-top: 0 !important;
                    }
                    &-b-#{$breakpoint}-down {
                        margin-bottom: 0 !important;
                    }
                    &-l-#{$breakpoint}-down {
                        margin-left: 0 !important;
                    }
                    &-r-#{$breakpoint}-down {
                        margin-right: 0 !important;
                    }
                    &-lr-#{$breakpoint}-down {
                        margin-left: 0 !important;
                        margin-right: 0 !important;
                    }
                    &-tb-#{$breakpoint}-down {
                        margin-top: 0 !important;
                        margin-bottom: 0 !important;
                    }
                }
                &-1 {
                    &-#{$breakpoint}-down {
                        margin: rem(10px) !important;
                    }
                    &-t-#{$breakpoint}-down {
                        margin-top: rem(10px) !important;
                    }
                    &-b-#{$breakpoint}-down {
                        margin-bottom: rem(10px) !important;
                    }
                    &-l-#{$breakpoint}-down {
                        margin-left: rem(10px) !important;
                    }
                    &-r-#{$breakpoint}-down {
                        margin-right: rem(10px) !important;
                    }
                    &-lr-#{$breakpoint}-down {
                        margin-left: rem(10px) !important;
                        margin-right: rem(10px) !important;
                    }
                    &-tb-#{$breakpoint}-down {
                        margin-top: rem(10px) !important;
                        margin-bottom: rem(10px) !important;
                    }
                }
                &-2 {
                    &-#{$breakpoint}-down {
                        margin: rem(20px) !important;
                    }
                    &-t-#{$breakpoint}-down {
                        margin-top: rem(20px) !important;
                    }
                    &-b-#{$breakpoint}-down {
                        margin-bottom: rem(20px) !important;
                    }
                    &-l-#{$breakpoint}-down {
                        margin-left: rem(20px) !important;
                    }
                    &-r-#{$breakpoint}-down {
                        margin-right: rem(20px) !important;
                    }
                    &-lr-#{$breakpoint}-down {
                        margin-left: rem(20px) !important;
                        margin-right: rem(20px) !important;
                    }
                    &-tb-#{$breakpoint}-down {
                        margin-top: rem(20px) !important;
                        margin-bottom: rem(20px) !important;
                    }
                }
                &-3 {
                    &-#{$breakpoint}-down {
                        margin: rem(30px) !important;
                    }
                    &-t-#{$breakpoint}-down {
                        margin-top: rem(30px) !important;
                    }
                    &-b-#{$breakpoint}-down {
                        margin-bottom: rem(30px) !important;
                    }
                    &-l-#{$breakpoint}-down {
                        margin-left: rem(30px) !important;
                    }
                    &-r-#{$breakpoint}-down {
                        margin-right: rem(30px) !important;
                    }
                    &-lr-#{$breakpoint}-down {
                        margin-left: rem(30px) !important;
                        margin-right: rem(30px) !important;
                    }
                    &-tb-#{$breakpoint}-down {
                        margin-top: rem(30px) !important;
                        margin-bottom: rem(30px) !important;
                    }
                }
                &-auto {
                    &-#{$breakpoint}-down {
                      margin: auto;
                    }
                    &-t-#{$breakpoint}-down {
                        margin-top: auto !important;
                    }
                    &-b-#{$breakpoint}-down {
                        margin-bottom: auto !important;
                    }
                    &-l-#{$breakpoint}-down {
                        margin-left: auto !important;
                    }
                    &-r-#{$breakpoint}-down {
                        margin-right: auto !important;
                    }
                    &-lr-#{$breakpoint}-down {
                        margin-left: auto !important;
                        margin-right: auto !important;
                    }
                    &-tb-#{$breakpoint}-down {
                        margin-top: auto !important;
                        margin-bottom: auto !important;
                    }
                }
                &-center-#{$breakpoint}-down {
                    margin: 0 auto;
                }
            }
    }
}

.stack {
    > :not(:last-child) {
        margin-bottom: core('margins');
    }
    @each $breakpoint in map-keys(core('grid.breakpoints')) {
      @include media-breakpoint-up($breakpoint) {
          &-#{$breakpoint}-up {
            *:not(:last-child) {
                margin-bottom: core('margins');
            }
          }
        }
      @include media-breakpoint-down($breakpoint) {
        &-#{$breakpoint}-down {
          *:not(:last-child) {
              margin-bottom: core('margins');
          }
        }
      }
    }
}
