$module: pad;
//General Padding 20px

.#{$module} {
    padding: core('padding');
    &-lr {
        padding: {
            left: core('padding');
            right: core('padding');
        }
    }
    &-tb {
        padding: {
            top: core('padding');
            bottom: core('padding');
        }
    }
    &-l {
        padding: {
            left: core('padding');
        }
    }
    &-r {
        padding: {
            right: core('padding');
        }
    }
    &-t {
        padding: {
            top: core('padding');
        }
    }
    &-b {
        padding: {
            bottom: core('padding');
        }
    }
    &-0 {
        padding: 0 !important;
        &-t {
            padding-top: 0 !important;
        }
        &-b {
            padding-bottom: 0 !important;
        }
        &-l {
            padding-left: 0 !important;
        }
        &-r {
            padding-right: 0 !important;
        }
        &-lr {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        &-tb {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
    }
    &-1 {
        padding: rem(10px) !important;
        &-t {
            padding-top: rem(10px) !important;
        }
        &-b {
            padding-bottom: rem(10px) !important;
        }
        &-l {
            padding-left: rem(10px) !important;
        }
        &-r {
            padding-right: rem(10px) !important;
        }
        &-lr {
            padding-left: rem(10px) !important;
            padding-right: rem(10px) !important;
        }
        &-tb {
            padding-top: rem(10px) !important;
            padding-bottom: rem(10px) !important;
        }
    }
    &-2 {
        padding: rem(20px) !important;
        &-t {
            padding-top: rem(20px) !important;
        }
        &-b {
            padding-bottom: rem(20px) !important;
        }
        &-l {
            padding-left: rem(20px) !important;
        }
        &-r {
            padding-right: rem(20px) !important;
        }
        &-lr {
            padding-left: rem(20px) !important;
            padding-right: rem(20px) !important;
        }
        &-tb {
            padding-top: rem(20px) !important;
            padding-bottom: rem(20px) !important;
        }
    }
    &-3 {
        padding: rem(30px) !important;
        &-t {
            padding-top: rem(30px) !important;
        }
        &-b {
            padding-bottom: rem(30px) !important;
        }
        &-l {
            padding-left: rem(30px) !important;
        }
        &-r {
            padding-right: rem(30px) !important;
        }
        &-lr {
            padding-left: rem(30px) !important;
            padding-right: rem(30px) !important;
        }
        &-tb {
            padding-top: rem(30px) !important;
            padding-bottom: rem(30px) !important;
        }
    }
    //
    // Responsive
    //
    @each $breakpoint in map-keys(core('grid.breakpoints')) {
        @include media-breakpoint-up($breakpoint) {
            &-responsive {
                padding: core('grid.gutters.#{$breakpoint}');
                &-lr {
                    padding: {
                        left: core('grid.gutters.#{$breakpoint}');
                        right: core('grid.gutters.#{$breakpoint}');
                    }
                }
                &-tb {
                    padding: {
                        top: core('grid.gutters.#{$breakpoint}');
                        bottom: core('grid.gutters.#{$breakpoint}');
                    }
                }
                &-l {
                    padding: {
                        left: core('grid.gutters.#{$breakpoint}');
                    }
                }
                &-r {
                    padding: {
                        right: core('grid.gutters.#{$breakpoint}');
                    }
                }
                &-t {
                    padding: {
                        top: core('grid.gutters.#{$breakpoint}');
                    }
                }
                &-b {
                    padding: {
                        bottom: core('grid.gutters.#{$breakpoint}');
                    }
                }
            }
            &-#{$breakpoint}-up {
                padding: core('padding') !important;
            }
            &-lr-#{$breakpoint}-up {
                padding: {
                    left: core('padding') !important;
                    right: core('padding') !important;
                }
            }
            &-tb-#{$breakpoint}-up {
                padding: {
                    top: core('padding') !important;
                    bottom: core('padding') !important;
                }
            }
            &-l-#{$breakpoint}-up {
                padding: {
                    left: core('padding') !important;
                }
            }
            &-r-#{$breakpoint}-up {
                padding: {
                    right: core('padding') !important;
                }
            }
            &-t-#{$breakpoint}-up {
                padding: {
                    top: core('padding') !important;
                }
            }
            &-b-#{$breakpoint}-up {
                padding: {
                    bottom: core('padding') !important;
                }
            }
            &-0 {
                &-#{$breakpoint}-up {
                    padding: 0 !important;
                }
                &-t-#{$breakpoint}-up {
                    padding-top: 0 !important;
                }
                &-b-#{$breakpoint}-up {
                    padding-bottom: 0 !important;
                }
                &-l-#{$breakpoint}-up {
                    padding-left: 0 !important;
                }
                &-r-#{$breakpoint}-up {
                    padding-right: 0 !important;
                }
                &-lr-#{$breakpoint}-up {
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                }
                &-tb-#{$breakpoint}-up {
                    padding-top: 0 !important;
                    padding-bottom: 0 !important;
                }
            }
            &-1 {
                &-#{$breakpoint}-up {
                    padding: rem(10px) !important;
                }
                &-t-#{$breakpoint}-up {
                    padding-top: rem(10px) !important;
                }
                &-b-#{$breakpoint}-up {
                    padding-bottom: rem(10px) !important;
                }
                &-l-#{$breakpoint}-up {
                    padding-left: rem(10px) !important;
                }
                &-r-#{$breakpoint}-up {
                    padding-right: rem(10px) !important;
                }
                &-lr-#{$breakpoint}-up {
                    padding-left: rem(10px) !important;
                    padding-right: rem(10px) !important;
                }
                &-tb-#{$breakpoint}-up {
                    padding-top: rem(10px) !important;
                    padding-bottom: rem(10px) !important;
                }
            }
            &-2 {
                &-#{$breakpoint}-up {
                    padding: rem(20px) !important;
                }
                &-t-#{$breakpoint}-up {
                    padding-top: rem(20px) !important;
                }
                &-b-#{$breakpoint}-up {
                    padding-bottom: rem(20px) !important;
                }
                &-l-#{$breakpoint}-up {
                    padding-left: rem(20px) !important;
                }
                &-r-#{$breakpoint}-up {
                    padding-right: rem(20px) !important;
                }
                &-lr-#{$breakpoint}-up {
                    padding-left: rem(20px) !important;
                    padding-right: rem(20px) !important;
                }
                &-tb-#{$breakpoint}-up {
                    padding-top: rem(20px) !important;
                    padding-bottom: rem(20px) !important;
                }
            }
            &-3 {
                &-#{$breakpoint}-up {
                    padding: rem(30px) !important;
                }
                &-t-#{$breakpoint}-up {
                    padding-top: rem(30px) !important;
                }
                &-b-#{$breakpoint}-up {
                    padding-bottom: rem(30px) !important;
                }
                &-l-#{$breakpoint}-up {
                    padding-left: rem(30px) !important;
                }
                &-r-#{$breakpoint}-up {
                    padding-right: rem(30px) !important;
                }
                &-lr-#{$breakpoint}-up {
                    padding-left: rem(30px) !important;
                    padding-right: rem(30px) !important;
                }
                &-tb-#{$breakpoint}-up {
                    padding-top: rem(30px) !important;
                    padding-bottom: rem(30px) !important;
                }
            }
        }
        @include media-breakpoint-down($breakpoint) {
            &-#{$breakpoint}-down {
                padding: core('padding') !important;
            }
            &-lr-#{$breakpoint}-down {
                padding: {
                    left: core('padding') !important;
                    right: core('padding') !important;
                }
            }
            &-tb-#{$breakpoint}-down {
                padding: {
                    top: core('padding') !important;
                    bottom: core('padding') !important;
                }
            }
            &-l-#{$breakpoint}-down {
                padding: {
                }
            }
            &-r-#{$breakpoint}-down {
                padding: {
                    right: core('padding') !important;
                }
            }
            &-t-#{$breakpoint}-down {
                padding: {
                    top: core('padding') !important;
                }
            }
            &-b-#{$breakpoint}-down {
                padding: {
                    bottom: core('padding') !important;
                }
            }
            &-0 {
                &-#{$breakpoint}-down {
                    padding: 0 !important;
                }
                &-t-#{$breakpoint}-down {
                    padding-top: 0 !important;
                }
                &-b-#{$breakpoint}-down {
                    padding-bottom: 0 !important;
                }
                &-l-#{$breakpoint}-down {
                    padding-left: 0 !important;
                }
                &-r-#{$breakpoint}-down {
                    padding-right: 0 !important;
                }
                &-lr-#{$breakpoint}-down {
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                }
                &-tb-#{$breakpoint}-down {
                    padding-top: 0 !important;
                    padding-bottom: 0 !important;
                }
            }
            &-1 {
                &-#{$breakpoint}-down {
                    padding: rem(10px) !important;
                }
                &-t-#{$breakpoint}-down {
                    padding-top: rem(10px) !important;
                }
                &-b-#{$breakpoint}-down {
                    padding-bottom: rem(10px) !important;
                }
                &-l-#{$breakpoint}-down {
                    padding-left: rem(10px) !important;
                }
                &-r-#{$breakpoint}-down {
                    padding-right: rem(10px) !important;
                }
                &-lr-#{$breakpoint}-down {
                    padding-left: rem(10px) !important;
                    padding-right: rem(10px) !important;
                }
                &-tb-#{$breakpoint}-down {
                    padding-top: rem(10px) !important;
                    padding-bottom: rem(10px) !important;
                }
            }
            &-2 {
                &-#{$breakpoint}-down {
                    padding: rem(20px) !important;
                }
                &-t-#{$breakpoint}-down {
                    padding-top: rem(20px) !important;
                }
                &-b-#{$breakpoint}-down {
                    padding-bottom: rem(20px) !important;
                }
                &-l-#{$breakpoint}-down {
                    padding-left: rem(20px) !important;
                }
                &-r-#{$breakpoint}-down {
                    padding-right: rem(20px) !important;
                }
                &-lr-#{$breakpoint}-down {
                    padding-left: rem(20px) !important;
                    padding-right: rem(20px) !important;
                }
                &-tb-#{$breakpoint}-down {
                    padding-top: rem(20px) !important;
                    padding-bottom: rem(20px) !important;
                }
            }
            &-3 {
                &-#{$breakpoint}-down {
                    padding: rem(30px) !important;
                }
                &-t-#{$breakpoint}-down {
                    padding-top: rem(30px) !important;
                }
                &-b-#{$breakpoint}-down {
                    padding-bottom: rem(30px) !important;
                }
                &-l-#{$breakpoint}-down {
                    padding-left: rem(30px) !important;
                }
                &-r-#{$breakpoint}-down {
                    padding-right: rem(30px) !important;
                }
                &-lr-#{$breakpoint}-down {
                    padding-left: rem(30px) !important;
                    padding-right: rem(30px) !important;
                }
                &-tb-#{$breakpoint}-down {
                    padding-top: rem(30px) !important;
                    padding-bottom: rem(30px) !important;
                }
            }
        }

    }

}
