//
// Responsive Utilities
//

//
// Generate 'hidden' class sets for use in conjunction with the breakpoint system.
//
@each $breakpoint in map-keys(core('grid.breakpoints')) {
    //
    // Responsive push/pull
    //
    @include media-breakpoint-up($breakpoint) {
        .pull-#{$breakpoint} {
            &-left {
                @include pull-left();
            }

            &-right {
                @include pull-right();
            }

            &-none {
                float: none !important;
            }
        }
    }


    //
    // Responsive hidden
    //
    .hidden {
        &-#{$breakpoint} {
            &-up {
                @include media-breakpoint-up($breakpoint) {
                    display: none !important;
                    speak: none;
                }
            }

            &-down {
                @include media-breakpoint-down($breakpoint) {
                    display: none !important;
                    speak: none;
                }
            }
        }
    }

    //
    // Responsive text alignment
    //
    @include media-breakpoint-up($breakpoint) {
        .text-#{$breakpoint} {
            &-left {
                text-align: left !important;
            }

            &-right {
                text-align: right !important;
            }

            &-center {
                text-align: center !important;
            }
        }
    }
}
