//
// Accent Bar Mixins
//

//
// Generate Accent Bar Types
//

@mixin accent-bar-create-types($prefix, $map) {
    @each $key, $value in $map {

        .#{$prefix}#{$key} {
            @include insert-attributes($value);
        }
    }
}
