//
// Alert Mixins
//

//
// Generate the alert types
//

@mixin alert-create-types($map) {
	@each $key, $value in $map {
		.alert#{$key} {
			@include generate-alert-style($value);
		}
	}
}

//
// Generate the alert styles
//

@mixin generate-alert-style($value) {
	color: get($value, 'text');
	background-color: get($value, 'background');
	border-color: get($value, 'border');

	.alert {
		&-icon {
			color: get($value, 'icon');
		}

		&-link {
			color: get($value, 'link');

			@include hover {
				color: get($value, 'link-hover');
			}
		}

		&-close {
			color: get($value, 'close');

			@include hover {
				color: get($value, 'close-hover');
			}
		}
	}
}
