//
// Badge Mixins
//

//
// Generate Badge Types
//

@mixin badge-create-types($map) {
    @each $key, $value in $map {
        .badge#{$key} {
            @include generate-badge-style($value, $key);
        }
    }
}

//
// Generate Button Styles
//

@mixin generate-badge-style($value, $key) {

    @include insert-attributes(get($value, 'default'));

    @include hover {
        @include insert-attributes(get($value, 'hover'));
    }

    &:active,
    &.active {
        @include insert-attributes(get($value, 'active'));
    }

    @if $key == '-tooltip' {
        &.tooltip-enabled {
            @include insert-attributes(get($value, 'active'));
        }
    }

    &.disabled,
    &:disabled {
        &,
        &:focus,
        &.focus {
            @include insert-attributes(get($value, 'disabled'));
        }
    }
}
