//
// Button Mixins
//

//
// Generate Button Types
//

@mixin button-create-types($map) {
	@each $key, $value in $map {
		.btn#{$key} {
			@include generate-button-style($value, $key);
		}
	}
}

//
// Generate Button Styles
//

@mixin generate-button-style($value, $key) {

	@include insert-attributes(get($value, 'default'));

	@include hover {
		@include insert-attributes(get($value, 'hover'));
	}

	&:active,
	&.active,
	.open > &.dropdown-toggle {
		@include insert-attributes(get($value, 'active'));
	}

	@if $key == '-tooltip' {
		&.tooltip-enabled {
			@include insert-attributes(get($value, 'active'));
		}
	}

	&.disabled,
	&:disabled {
		&,
		&:focus,
		&.focus {
			@include insert-attributes(get($value, 'disabled'));
		}
	}

	&.btn-loading:before {
		@if length(get($value, 'loading')) > 0 {
			border: {
				style: solid;
				color: get($value, 'loading.base');
				left-color: get($value, 'loading.progress');
			};
		}
	}

}

//
// Generate Button Sizes
//

@mixin button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius) {
	padding: $padding-y $padding-x;
	font-size: $font-size;
	line-height: $line-height;

	&.dropdown-toggle {
		padding-left: $padding-y * 2;
	}

	@include border-radius($border-radius);
}

//
// Reset button
//

%btn-reset {
	display: inherit;
	min-width: 0;
	max-width: none;
	padding: 0;
	margin: 0;
	border-radius: 0;
	border: 0;
	color: inherit;
	background-color: transparent;
	font-size: inherit;
	text-align: inherit;

	@include hover {
		background-color: transparent;
		color: inherit;
	}

	@include active {
		background-color: transparent;
		color: inherit;
	}
}

@mixin button-reset() {
	@extend %btn-reset;
}
