//
// Iconfont
//
// Manages the config for icon fonts.
//
// WARNING:
// This file is generated dynamically via Gulp task (iconfonts)
// and should not be manually edited.

$icon-font: (
    font: (
        font-family: 'dls-icons',
        font-weight: 400,
        src: (
            eot: '../iconfont/dls-icons.eot?v=1.22',
            ttf: '../iconfont/dls-icons.ttf?v=1.22',
            woff: '../iconfont/dls-icons.woff?v=1.22',
            svg: '../iconfont/dls-icons.svg?v=1.22',
        )
    ),
    icons: (
        dls-glyph-account: 'EA01',
        dls-glyph-additional-info: 'EA02',
        dls-glyph-asterisk: 'EA03',
        dls-glyph-cancel-circle: 'EA04',
        dls-glyph-check: 'EA05',
        dls-glyph-close: 'EA06',
        dls-glyph-down-triangle: 'EA07',
        dls-glyph-down: 'EA08',
        dls-glyph-download: 'EA09',
        dls-glyph-equal: 'EA0A',
        dls-glyph-favorite: 'EA0B',
        dls-glyph-info: 'EA0C',
        dls-glyph-left: 'EA0D',
        dls-glyph-minus-circle: 'EA0E',
        dls-glyph-minus: 'EA0F',
        dls-glyph-nav: 'EA10',
        dls-glyph-neutral: 'EA11',
        dls-glyph-plus-circle: 'EA12',
        dls-glyph-plus: 'EA13',
        dls-glyph-question-mark: 'EA14',
        dls-glyph-rewards: 'EA15',
        dls-glyph-right: 'EA16',
        dls-glyph-up-triangle: 'EA17',
        dls-glyph-up: 'EA18',
        dls-icon-account-filled: 'EA19',
        dls-icon-account: 'EA1A',
        dls-icon-activity-filled: 'EA1B',
        dls-icon-activity: 'EA1C',
        dls-icon-airplane-filled: 'EA1D',
        dls-icon-airplane: 'EA1E',
        dls-icon-alert-filled: 'EA1F',
        dls-icon-alert: 'EA20',
        dls-icon-bank-filled: 'EA21',
        dls-icon-bank: 'EA22',
        dls-icon-billing-filled: 'EA23',
        dls-icon-billing: 'EA24',
        dls-icon-business-filled: 'EA25',
        dls-icon-business-services-filled: 'EA26',
        dls-icon-business-services: 'EA27',
        dls-icon-business: 'EA28',
        dls-icon-calendar-filled: 'EA29',
        dls-icon-calendar: 'EA2A',
        dls-icon-cancel-circle-filled: 'EA2B',
        dls-icon-cancel-circle: 'EA2C',
        dls-icon-car-filled: 'EA2D',
        dls-icon-car: 'EA2E',
        dls-icon-card-benefit-filled: 'EA2F',
        dls-icon-card-benefit: 'EA30',
        dls-icon-card-filled: 'EA31',
        dls-icon-card: 'EA32',
        dls-icon-cards-filled: 'EA33',
        dls-icon-cards: 'EA34',
        dls-icon-cashback-filled: 'EA35',
        dls-icon-cashback: 'EA36',
        dls-icon-change-filled: 'EA37',
        dls-icon-change: 'EA38',
        dls-icon-chat-filled: 'EA39',
        dls-icon-chat: 'EA3A',
        dls-icon-check-filled: 'EA3B',
        dls-icon-check: 'EA3C',
        dls-icon-close-filled: 'EA3D',
        dls-icon-close: 'EA3E',
        dls-icon-concierge-filled: 'EA3F',
        dls-icon-concierge: 'EA40',
        dls-icon-data-protection-filled: 'EA41',
        dls-icon-data-protection: 'EA42',
        dls-icon-declined-filled: 'EA43',
        dls-icon-declined: 'EA44',
        dls-icon-desktop-filled: 'EA45',
        dls-icon-desktop: 'EA46',
        dls-icon-dining-filled: 'EA47',
        dls-icon-dining: 'EA48',
        dls-icon-document-filled: 'EA49',
        dls-icon-document: 'EA4A',
        dls-icon-dollar-filled: 'EA4B',
        dls-icon-dollar: 'EA4C',
        dls-icon-down-filled: 'EA4D',
        dls-icon-down: 'EA4E',
        dls-icon-download-filled: 'EA4F',
        dls-icon-download: 'EA50',
        dls-icon-edit-filled: 'EA51',
        dls-icon-edit: 'EA52',
        dls-icon-email-filled: 'EA53',
        dls-icon-email: 'EA54',
        dls-icon-entertainment-filled: 'EA55',
        dls-icon-entertainment: 'EA56',
        dls-icon-feedback-filled: 'EA57',
        dls-icon-feedback: 'EA58',
        dls-icon-fraud-protection-filled: 'EA59',
        dls-icon-fraud-protection: 'EA5A',
        dls-icon-gas-station-filled: 'EA5B',
        dls-icon-gas-station: 'EA5C',
        dls-icon-gift-filled: 'EA5D',
        dls-icon-gift: 'EA5E',
        dls-icon-grocery-filled: 'EA5F',
        dls-icon-grocery: 'EA60',
        dls-icon-help-filled: 'EA61',
        dls-icon-help: 'EA62',
        dls-icon-home-filled: 'EA63',
        dls-icon-home: 'EA64',
        dls-icon-hotel-filled: 'EA65',
        dls-icon-hotel: 'EA66',
        dls-icon-info-filled: 'EA67',
        dls-icon-info: 'EA68',
        dls-icon-insurance-filled: 'EA69',
        dls-icon-insurance: 'EA6A',
        dls-icon-laptop-filled: 'EA6B',
        dls-icon-laptop: 'EA6C',
        dls-icon-left-filled: 'EA6D',
        dls-icon-left: 'EA6E',
        dls-icon-location-filled: 'EA6F',
        dls-icon-location: 'EA70',
        dls-icon-lock-filled: 'EA71',
        dls-icon-lock: 'EA72',
        dls-icon-lounge-filled: 'EA73',
        dls-icon-lounge: 'EA74',
        dls-icon-merchandise-filled: 'EA75',
        dls-icon-merchandise: 'EA76',
        dls-icon-minus-circle-filled: 'EA77',
        dls-icon-minus-circle: 'EA78',
        dls-icon-minus-filled: 'EA79',
        dls-icon-minus: 'EA7A',
        dls-icon-mobile-filled: 'EA7B',
        dls-icon-mobile: 'EA7C',
        dls-icon-more-filled: 'EA7D',
        dls-icon-more: 'EA7E',
        dls-icon-neutral-filled: 'EA7F',
        dls-icon-neutral: 'EA80',
        dls-icon-offers-desktop-filled: 'EA81',
        dls-icon-offers-desktop: 'EA82',
        dls-icon-offers-mobile-filled: 'EA83',
        dls-icon-offers-mobile: 'EA84',
        dls-icon-oversize-bag-filled: 'EA85',
        dls-icon-oversize-bag: 'EA86',
        dls-icon-p2p-filled: 'EA87',
        dls-icon-p2p: 'EA88',
        dls-icon-paperless-filled: 'EA89',
        dls-icon-paperless: 'EA8A',
        dls-icon-payment-due-filled: 'EA8B',
        dls-icon-payment-due: 'EA8C',
        dls-icon-pdf-filled: 'EA8D',
        dls-icon-pdf: 'EA8E',
        dls-icon-pet-filled: 'EA8F',
        dls-icon-pet: 'EA90',
        dls-icon-plus-circle-filled: 'EA91',
        dls-icon-plus-circle: 'EA92',
        dls-icon-plus-filled: 'EA93',
        dls-icon-plus: 'EA94',
        dls-icon-point-10k-filled: 'EA95',
        dls-icon-point-10k: 'EA96',
        dls-icon-point-20k-filled: 'EA97',
        dls-icon-point-20k: 'EA98',
        dls-icon-point-2x-filled: 'EA99',
        dls-icon-point-2x: 'EA9A',
        dls-icon-point-3x-filled: 'EA9B',
        dls-icon-point-3x: 'EA9C',
        dls-icon-point-5x-filled: 'EA9D',
        dls-icon-point-5x: 'EA9E',
        dls-icon-point-8x-filled: 'EA9F',
        dls-icon-point-8x: 'EAA0',
        dls-icon-print-filled: 'EAA1',
        dls-icon-print: 'EAA2',
        dls-icon-processing-filled: 'EAA3',
        dls-icon-processing: 'EAA4',
        dls-icon-receipt-filled: 'EAA5',
        dls-icon-receipt: 'EAA6',
        dls-icon-recent-points-filled: 'EAA7',
        dls-icon-recent-points: 'EAA8',
        dls-icon-refresh-filled: 'EAA9',
        dls-icon-refresh: 'EAAA',
        dls-icon-refreshment-filled: 'EAAB',
        dls-icon-refreshment: 'EAAC',
        dls-icon-rewards-filled: 'EAAD',
        dls-icon-rewards: 'EAAE',
        dls-icon-right-filled: 'EAAF',
        dls-icon-right: 'EAB0',
        dls-icon-search-filled: 'EAB1',
        dls-icon-search: 'EAB2',
        dls-icon-setting-filled: 'EAB3',
        dls-icon-setting: 'EAB4',
        dls-icon-source-filled: 'EAB5',
        dls-icon-source: 'EAB6',
        dls-icon-statement-paid-filled: 'EAB7',
        dls-icon-statement-paid: 'EAB8',
        dls-icon-success-filled: 'EAB9',
        dls-icon-success: 'EABA',
        dls-icon-tablet-filled: 'EABB',
        dls-icon-tablet: 'EABC',
        dls-icon-tag-filled: 'EABD',
        dls-icon-tag: 'EABE',
        dls-icon-taxi-filled: 'EABF',
        dls-icon-taxi: 'EAC0',
        dls-icon-telephone-filled: 'EAC1',
        dls-icon-telephone: 'EAC2',
        dls-icon-thumbs-down-filled: 'EAC3',
        dls-icon-thumbs-down: 'EAC4',
        dls-icon-thumbs-up-filled: 'EAC5',
        dls-icon-thumbs-up: 'EAC6',
        dls-icon-time-filled: 'EAC7',
        dls-icon-time: 'EAC8',
        dls-icon-train-filled: 'EAC9',
        dls-icon-train: 'EACA',
        dls-icon-travel-bag-filled: 'EACB',
        dls-icon-travel-bag: 'EACC',
        dls-icon-trends-filled: 'EACD',
        dls-icon-trends: 'EACE',
        dls-icon-unlock-filled: 'EACF',
        dls-icon-unlock: 'EAD0',
        dls-icon-up-filled: 'EAD1',
        dls-icon-up: 'EAD2',
        dls-icon-upload-filled: 'EAD3',
        dls-icon-upload: 'EAD4',
        dls-icon-warning-filled: 'EAD5',
        dls-icon-warning: 'EAD6',
        dls-icon-facebook-filled: 'EAD7',
        dls-icon-linkedin-filled: 'EAD8',
        dls-icon-twitter-filled: 'EAD9',
        dls-icon-facebook: 'EADA',
        dls-icon-linkedin: 'EADB',
        dls-icon-twitter: 'EADC',
    ),
    svg: (
        path: '../img/svg/icon'
    )
);