//
// Modal Mixins
//

$module: modal;

//
// Generate the tooltip types
//

@mixin modal-create-types($map) {
    @each $key, $value in $map {
        .#{$module}#{$key} {
            @include generate-modal-style($value);
        }
    }
}

//
// Generate the tooltip styles (called from tooltip-create-types)
//

@mixin generate-modal-style($map) {
    .#{$module}-base {
        @include insert-attributes(get($map, 'base'))
    }

    .#{$module}-header {
        @include insert-attributes(get($map, 'header'));

        a {
            @include insert-attributes(get($map, 'links.header.default'));
        }
    }

    .#{$module}-body {
        @include insert-attributes(get($map, 'body'));
    }
}
