//
// Tooltip Mixins
//

$module: tooltip;

//
// Generate the tooltip types
//

@mixin tooltip-create-types($map) {
    @each $key, $value in $map {
        .#{$module}#{$key} {
            @include generate-tooltip-style($value);
        }
    }
}

//
// Generate the tooltip styles (called from tooltip-create-types)
//

@mixin generate-tooltip-style($value) {
    @include insert-attributes($value);
}
