//
// Nav Simple Progress bar
//

$module: nav-progress;

//
// Reduced Mode
//
@mixin reduced-mode() {
    .#{$module}-track {
        margin-bottom: prop('ui.nav.progress.simple.size.base') + prop('ui.nav.progress.simple.spacer.y');
    }

    .#{$module}-bar {
        box-sizing: content-box;
        min-width: (prop('ui.nav.progress.simple.mobile.count.size') * .5);
        padding: {
            top: 0;
            bottom: 0;
            right: (prop('ui.nav.progress.simple.mobile.count.size') * .5) - (prop('ui.nav.progress.simple.size.base') * .5);
        }
    }

    .#{$module}-steps {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .#{$module}-step {
        width: 0;
        height: prop('ui.nav.progress.simple.size.base');
        counter-increment: simple-step;

        &:before {
            position: absolute;
            font-size: 1em;
            width: prop('ui.nav.progress.simple.mobile.count.size');
            color: prop('ui.nav.progress.simple.colors.mobile.disabled');
            line-height: prop('ui.nav.progress.simple.size.base');
            font-weight: prop('ui.nav.progress.simple.mobile.count.font-weight');
            text-align: center;
            text-indent: 0;
            content: counter(simple-step);
            text-align: center;
            visibility: visible;
        }

        &:after {
            position: absolute;
            top: prop('ui.nav.progress.simple.size.base');
            height: prop('ui.nav.progress.simple.size.base');
            padding-top: prop('ui.nav.progress.simple.spacer.y');
            left: 0;
            width: 100%;
            display: none;
            text-align: center;
        }

        &:not(:first-child):not(:last-child):before {
            margin-left: -(prop('ui.nav.progress.simple.mobile.count.size') * .5);
        }

        &:last-child:before {
            margin-left: -#{prop('ui.nav.progress.simple.mobile.count.size')};
        }

        &.active:before {
            color: prop('ui.nav.progress.simple.colors.mobile.active');
        }

        &.current {
            &:before {
                color: prop('ui.nav.progress.simple.colors.mobile.active');
            }

            &:after {
                display: block;
            }
        }
    }
}

.#{$module}-simple {
    counter-reset: simple-step;

    //
    // Base
    //
    .#{$module}-track {
        position: relative;
        background-color: prop('ui.nav.progress.simple.colors.default');
        @include border-radius(prop('ui.nav.progress.simple.border.radius.base'));
        overflow: hidden;
    }

    .#{$module}-bar {
        position: absolute;
        content: '';
        display: block;
        background-color: prop('ui.nav.progress.simple.colors.active');
        @include border-radius(prop('ui.nav.progress.simple.border.radius.base'));
    }

    .#{$module}-steps {
        list-style: none;
        padding: 0; margin: 0;
    }

    .#{$module}-step {
        color: prop('ui.nav.progress.simple.colors.disabled');
        @include insert-attributes(prop('ui.nav.progress.simple.steps.active'));

        &:after {
            content: attr(data-label);
        }

        &.active {
            color: prop('ui.nav.progress.simple.colors.active');
            @include insert-attributes(prop('ui.nav.progress.simple.steps.active'));
        }

        &.current {
            color: prop('ui.nav.progress.simple.colors.active');
            @include insert-attributes(prop('ui.nav.progress.simple.steps.current'));
        }
    }

    //
    // Horizontal mode
    //
    &.#{$module}-horizontal {

        .#{$module}-track {
            width: 100%;
            height: prop('ui.nav.progress.simple.size.base');
            margin-bottom: prop('ui.nav.progress.simple.spacer.y');
        }

        .#{$module}-bar {
            left: 0;
            height: 100%;
            padding: rem(10px);
        }

        .#{$module}-steps {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            padding-bottom: prop('ui.nav.progress.simple.spacer.y');
        }

        @include media-breakpoint-down('md') {
            @include reduced-mode();
        }
    }

    //
    // Vertical mode
    //
    &.#{$module}-vertical {
        display: inline-flex;

        .#{$module}-steps {
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            text-align: right;
            padding-right: prop('ui.nav.progress.simple.spacer.y');
        }

        .#{$module}-track {
            width: prop('ui.nav.progress.simple.size.base');
            display: inline-block;
            height: 100%;

            + .progress-steps {
                padding-left: prop('ui.nav.progress.simple.spacer.y');
                padding-right: 0;
                text-align: left;
            }
        }

        .#{$module}-bar {
            top: 0;
            width: 100%;
        }
    }

    //
    // Animated option
    //
    &.#{$module}-animated {

        .#{$module}-bar {
            will-change: width;
            transition: width prop('ui.nav.progress.simple.animation.bar-time') prop('ui.nav.progress.simple.animation.easing');
        }

        .#{$module}-step {
            will-change: color;
            transition: color prop('ui.nav.progress.simple.animation.time') prop('ui.nav.progress.simple.animation.easing');

      &:before {
        transition: color prop('ui.nav.progress.stepper.animation.time') prop('ui.nav.progress.simple.animation.easing');
      }
        }
    }


    .reduced-mode & {
        @include reduced-mode();
    }
}
