//
// Nav Progress
//
// Nav progress differs from the progress element in that it is used to represent
// a navigational state of the page as opposed to the action of preloading content.
//
// Nav Progress view may exist in both a vertical and horizontal state.


//
// Progress base style
//
//
$module: nav-progress;

.#{$module} {
    position: relative;
    display: block;
    vertical-align: middle;
}
