// //
// // Nav Slim Progress Bar
// //
//
// $module: nav-progress;
//
// .#{$module}-slim {
//     z-index: 1;
//
//     //
//     // Base
//     //
//     .#{$module}-steps {
//         position: relative;
//         list-style: none;
//         padding: 0; margin: 0;
//     }
//
//     .#{$module}-step {
//         position: relative;
//         @include border-radius(prop('ui.nav.progress.slim.border.radius.base'));
//         background-color: prop('ui.nav.progress.slim.colors.disabled');
//
//
//         &:before {
//             @include border-radius(prop('ui.nav.progress.slim.border.radius.base'));
//         }
//
//         .tooltip {
//             opacity: 0;
//             pointer-events: none;
//         }
//
//         &.active,
//         &.current {
//             background-color: prop('ui.nav.progress.slim.colors.active');
//         }
//
//         &.current {
//             .tooltip {
//                 opacity: 1;
//             }
//         }
//     }
//
//     .#{$module}-bar {
//     background: prop('ui.nav.progress.slim.colors.disabled');
//         position: relative;
//         flex: 3;
//
//         &:before {
//             position: absolute;
//         }
//
//         &:after {
//             position: absolute;
//             content: '';
//             background-color: color('dls-accent-blue-02');
//         }
//     }
//
//     // .#{$module}-step:before,
//     // .#{$module}-bar:before {
//     //     position: absolute;
//     //     content: '';
//     //     top: -(prop('ui.nav.progress.slim.border.width'));
//     //     right: -(prop('ui.nav.progress.slim.border.width'));
//     //     bottom: -(prop('ui.nav.progress.slim.border.width'));
//     //     left: -(prop('ui.nav.progress.slim.border.width'));
//     //     background-color: prop('ui.nav.progress.slim.colors.base');
//     //     z-index: -1;
//     // }
//
//     .#{$module}-pullout {
//         position: relative;
//         display: inline-block;
//     }
//
//     @each $breakpoint, $value in prop('ui.nav.progress.slim.size.base') {
//         @include media-breakpoint-up($breakpoint) {
//             @if $breakpoint != null {
//                 .#{$module}-step {
//                     width: get($value, 'dot');
//                     height: get($value, 'dot');
//
//                     .tooltip {
//
//
//                         &-target-attached-left {
//                             margin-left: -(get($value, 'dot') * .5);
//                             transform: translateX(-100%) translateY(-50%);
//                         }
//
//                         &-target-attached-right {
//                             margin-left: get($value, 'dot') * 1.5;
//                             transform: translateY(-50%);
//                         }
//
//                         &-target-attached-bottom {
//                             margin-top: get($value, 'dot') * 1.5;
//                             transform: translateX(-50%) translateY(0);
//                         }
//
//                         &-target-attached-top {
//                             margin-top: -(get($value, 'dot') * .5);
//                             transform: translateX(-50%) translateY(-100%);
//                         }
//                     }
//                 }
//             }
//         }
//     }
//
//
//
//     //
//     // Horizontal Mode
//     //
//     &.#{$module}-horizontal {
//         .#{$module}-steps {
//             display: flex;
//             flex-flow: row;
//             justify-content: space-between;
//         }
//
//         .#{$module}-bar:after {
//             top: 0;
//             left: 0;
//             bottom: 0;
//             width: 0;
//         }
//
//         .#{$module}-step {
//             &.active ~ .#{$module}-bar:after {
//                 width: 100%;
//             }
//
//             &.current ~ .#{$module}-bar:after {
//                 width: 0;
//             }
//         }
//
//         @each $breakpoint, $value in prop('ui.nav.progress.slim.size.base') {
//             @include media-breakpoint-up($breakpoint) {
//                 @if $breakpoint != null {
//                     #{$module}-bar {
//                         height: get($value, 'bar');
//                         top: ( (get($value, 'dot') * .5) - (get($value, 'bar') * .5))
//                     }
//
//                     #{$module}-step {
//                         .tooltip {
//                             margin-left: (get($value, 'dot') * .5);
//                         }
//                     }
//                 }
//             }
//         }
//     }
//
//
//     //
//     // Vertical Mode
//     //
//     &.#{$module}-vertical {
//         display: inline-flex;
//
//         .#{$module}-steps {
//             display: flex;
//             flex-direction: column;
//             flex-flow: column;
//         }
//
//         .#{$module}-bar:after {
//             top: 0;
//             left: 0;
//             right: 0;
//             height: 0;
//         }
//
//         .#{$module}-step {
//             &.active ~ .#{$module}-bar:after {
//                 height: 100%;
//             }
//
//             &.current ~ .#{$module}-bar:after {
//                 height: 0;
//             }
//         }
//
//         @each $breakpoint, $value in prop('ui.nav.progress.slim.size.base') {
//             @include media-breakpoint-up($breakpoint) {
//                 @if $breakpoint != null {
//                     .#{$module}-bar {
//                         width: get($value, 'bar');
//                         left: ( (get($value, 'dot') * .5) - (get($value, 'bar') * .5))
//                     }
//
//                     .#{$module}-step {
//                         .tooltip {
//                             margin-top: (get($value, 'dot') * .5);
//                         }
//                     }
//                 }
//             }
//         }
//     }
//
//     //
//     // Animation
//     //
//     &.#{$module}-animated {
//
//         .#{$module}-step {
//             transition: background-color prop('ui.nav.progress.slim.animation.time') prop('ui.nav.progress.slim.animation.easing');
//
//             .tooltip {
//                 transition: visibility prop('ui.nav.progress.slim.animation.time') prop('ui.nav.progress.slim.animation.easing'),
//                             opacity prop('ui.nav.progress.slim.animation.time') prop('ui.nav.progress.slim.animation.easing');
//             }
//         }
//
//         &.#{$module}-horizontal {
//             .#{$module}-bar:after {
//                 will-change: width;
//                 transition: width prop('ui.nav.progress.slim.animation.bar-time') prop('ui.nav.progress.slim.animation.easing');
//             }
//         }
//
//         &.#{$module}-vertical {
//             .#{$module}-bar:after {
//                 transition: height prop('ui.nav.progress.slim.animation.bar-time') prop('ui.nav.progress.slim.animation.easing');
//             }
//         }
//     }
//
// }
