//
// Nav Stepper Progress Bar
//
// TODO: Finish reduce BEM nest optimization

$module: nav-progress;

@mixin reduced-mode() {

    .#{$module}-step {

        &:after {
            position: absolute;
            display:none;
            left: 0;
            width: 100%;
            text-align: center;
        }

        &.current {
            &:after {
                display:block;
            }
        }
    }
}

.#{$module}-stepper {

    counter-reset: step;

    //
    // Base
    //
    .#{$module}-steps {
        list-style: none;
        padding: 0; margin: 0;
    }

    .#{$module}-dot {
        position: relative;
        @include border-radius(50%);
        background-color: prop('ui.nav.progress.stepper.disabled.primary');
    }

    .#{$module}-bar {
        position: relative;
        display: flex;
        flex: 3;
        background-color: prop('ui.nav.progress.stepper.disabled.border');

        &:after {
            position: absolute;
            content: '';
            display: block;
            top: 0;
            left: 0;
            background-color: prop('ui.nav.progress.stepper.active.primary');
            color: prop('ui.nav.progress.stepper.active.primary');
        }
    }

    .#{$module}-step {

        text-align: center;
        max-width: rem(75px);
        color: prop('ui.nav.progress.stepper.disabled.primary');

        &:before {
            position:relative;
            display:flex;
            margin: 0 auto;
            align-items: center;
            justify-content: center;

            @include border-radius(50%);
            counter-increment: step;
            content: counter(step);

            color: prop('ui.nav.progress.stepper.disabled.secondary');
            background-color: prop('ui.nav.progress.stepper.disabled.border');
        }

        &:after {
            display: flex;
            align-items: center;
            justify-content: center;
            content:attr(data-label);
            left: 0;
            right: 0;
            margin: auto;
            color: prop('ui.nav.progress.stepper.disabled.primary');
        }

        &:before {
            border: prop('ui.nav.progress.stepper.border.width') solid prop('ui.nav.progress.stepper.disabled.border');
        }

        &.active {
            color: prop('ui.nav.progress.stepper.active.primary');

            &:not(.disabled):not(.current):before {
                color: prop('ui.nav.progress.stepper.current.primary');
                background-color: prop('ui.nav.progress.stepper.current.secondary');
                @include icon(prop('ui.nav.progress.stepper.icon.completed'));
            }

            &:before {
                border-color: prop('ui.nav.progress.stepper.active.border');
            }

            ~ .#{$module}-dot {
                background-color: prop('ui.nav.progress.stepper.active.primary');
            }
        }

        &.current {
            font-weight: 500;

            &:before,
            &:after {
                border-color: prop('ui.nav.progress.stepper.active.border');
                color: prop('ui.nav.progress.stepper.current.primary');

            }

            &:before {
                color: prop('ui.nav.progress.stepper.current.secondary');
                background-color: prop('ui.nav.progress.stepper.current.primary');
                font-weight: 400;
            }

            ~ .#{$module}-dot {
                background-color: prop('ui.nav.progress.stepper.disabled.primary');
            }
        }

    }

    @each $breakpoint, $value in prop('ui.nav.progress.stepper.size.base') {
        @include media-breakpoint-up($breakpoint) {
            @if $breakpoint != null {
                .#{$module}-dot {
                    width: get($value, 'dot');
                    height: get($value, 'dot');
                }

                .#{$module}-bar {
                    margin-left: -(get($value, 'step'));
                    margin-right: -(get($value, 'step'));
                }

                .#{$module}-step {
                    z-index: 1;
                    &:before {
                        width: get($value, 'step');
                        height: get($value, 'step');
                        line-height: (get($value, 'step') - prop('ui.nav.progress.stepper.border.width'));
                    }

                    &:before {
                        font-size: get($value, 'count');
                    }

                    &:after {
                        font-size: get($value, 'icon');
                    }
                }
            }
        }

        @include media-breakpoint-down('md') {
            @include reduced-mode();
        }
    }

    //
    // Horizontal Mode
    //
    &.#{$module}-horizontal {
        .#{$module}-steps {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
        }

        .#{$module}-bar:after {
            height: 100%;
        }

        .#{$module}-step {
            &.active ~ .#{$module}-bar:after {
                width: 100%;
            }

            &.current ~ .#{$module}-bar:after {
                width: 0%;
            }
        }

        @each $breakpoint, $value in prop('ui.nav.progress.stepper.size.base') {
            @include media-breakpoint-up($breakpoint) {
                @if $breakpoint != null {

                    .#{$module}-bar {
                        margin-top: ((get($value, 'step') * .5) - (get($value, 'bar') * .5));
                        height: get($value, 'bar');
                    }

                    .#{$module}-dot {
                        margin-top: ((get($value, 'step') * .5) - (get($value, 'dot') * .5));
                    }

                    .#{$module}-step:before {
                        margin-bottom: get($value, 'spacer');
                    }
                }
            }
        }
    }

    //
    // Vertical Mode
    //
    &.#{$module}-vertical {
        display: inline-flex;

        .#{$module}-steps {

            display: flex;
            flex-flow: column;
            justify-content: space-between;
        }

        .#{$module}-bar {
            @include border-radius(10px);

            &:after {
                width: 100%;
                @include border-radius(10px);
            }
        }

        .#{$module}-step {

            position:relative;

            &:after {
                position: absolute;
                top: 50%;
                left: 150%;
                min-width: 300px; // fix this

                text-align: left;
                justify-content: flex-start;
                transform: translate(0, -50%);
            }

            &.active ~ .#{$module}-bar:after {
                height: 100%;
            }

            &.current ~ .#{$module}-bar:after {
                height: 0%;
            }

        }

        .reduced-mode & {

            .#{$module}-steps {

                position:relative;

                .#{$module}-step {

                    position:static;

                    &:after {

                        text-align: left;
                        position:absolute;
                        top:50%;
                        left: 150%;

                    }
                }
            }
        }



        // .#{$module}-step-title {
        //     position: absolute;
        //     top: 50%;
        //     left: 150%;
        //     transform: translate(0, -50%);
        // }

        @each $breakpoint, $value in prop('ui.nav.progress.stepper.size.base') {
            @include media-breakpoint-up($breakpoint) {
                @if $breakpoint != null {

                    .#{$module}-bar {
                        width: get($value, 'bar');
                        left: 0; right: 0; margin: auto;
                    }

                    .#{$module}-dot {
                        left: 0;
                        right: 0;
                        margin: auto;
                    }
                }
            }
        }
    }


    //
    // Animated option
    //

    &.#{$module}-animated {
        .#{$module}-step {
            will-change: color;
            transition: color prop('ui.nav.progress.stepper.animation.time');
            &:before {
                will-change: color, background-color, border-color;
                transition: color prop('ui.nav.progress.stepper.animation.time') prop('ui.nav.progress.stepper.animation.easing'),
                            background-color prop('ui.nav.progress.stepper.animation.time') prop('ui.nav.progress.stepper.animation.easing'),
                            border-color prop('ui.nav.progress.stepper.animation.time') prop('ui.nav.progress.stepper.animation.easing');
            }

            &:after {
                will-change: border-color;
                transition: border-color prop('ui.nav.progress.stepper.animation.time') prop('ui.nav.progress.stepper.animation.easing');
            }
        }

        .#{$module}-dot {
            will-change: background-color;
            transition: background-color prop('ui.nav.progress.stepper.animation.time') prop('ui.nav.progress.stepper.animation.easing');
        }

        &.#{$module}-horizontal {
            .#{$module}-bar:after {
                will-change: width;
                transition: width prop('ui.nav.progress.stepper.animation.time') prop('ui.nav.progress.stepper.animation.easing');
            }
        }

        &.#{$module}-vertical {
            .#{$module}-bar:after {
                will-change: height;
                transition: height prop('ui.nav.progress.stepper.animation.time') prop('ui.nav.progress.stepper.animation.easing');
            }
        }
    }


    .reduced-mode & {
        @include reduced-mode();
    }
}
